<template>
<div class="page has-navbar" v-nav="{title: headerTitle, showBackButton: true}">
	<div class="page-content padding padding-top category-content">


		<div v-if="$route.params.id == 1">
			<p class="title">开户条约</p>
			<h1>一、基本条款</h1><p>1.	为避免于本网站投注时之争议，请会员务必於进入网站前详阅本娱乐场所定之各项槼则，客户一经“我同意”进入本网站进行投注时，即被视为已接受本娱乐场的所有协议与槼则。</p><p>2.	会员有责任确保自己的帐户以及登录数据的保密性，以会员帐号及密码进行的任何网上投注，将被视为有效。敬请不定时做密码变更之动作。若帐号密码被盗用，进行的投注，本公司一概不负赔偿责任。</p><p>3.	本公司保留不定时更改本协定或游戏规则或保密条例，更改之条款将从更改发生後指定之日起生效，并保留一切有争议事项及最后的决策权。</p><p>4.	用户需达到居住地国家法律槼定之合法年龄方可使用线上娱乐场或网站。</p><p>5.	网上投注如未能成功提交，投注将被视为无效。</p><p>6.	凡玩家於出牌途中且尚无结果前自动或强制断线时，并不影响比赛之结果。</p><p>7.	如遇发生不可抗拒之灾害，骇客入侵，网络问题造成数据丢失的情况，以本公司公告为最终方案。</p><p>8.	特此声明，本公司将会对所有的电子交易进行记录，如有任何争议，本公司将会以注单记录为准。</p><p>9.	本公司保留更改、修改现有条款或增加任何适当条款的权利，而条款改动後将会在会员端跑马灯上公布。</p><p>10.	无论在任何情况下，本公司具有最终的解释权。</p><p>11.	若经本公司发现会员以不正当手法&lt;利用外挂程序&gt;进行投注或以任何非正常方式进行的个人、团体投注有损公司利益之投注事情发生，本公司保留权利取消该类注单以及注单生成之红利，并停用该会员帐号。</p><p>12.	无风险投注包括在百家乐同时投注的庄闲，单双，大小。龙虎斗中同时投注龙虎，龙双龙单，虎双虎单。在轮盘同时投注黑红，单双，大小等相反的下注，本公司保留权利取消所有优惠、该注单以及单注生成之红利，并停用该会员帐号之权利，本公司不承担对此做出任何说明及解释之责任。<br>若本公司发现会员有重覆申请帐号行为时，保留取消、收回会员所有优惠红利，以及优惠红利所生成的盈利之权利。每位玩家、每一电子邮箱、每一电话号码、每一收款银行帐号，以及共享电脑环境(例如:网吧、其他公共用电脑等)只能够拥有一个会员帐号，各项优惠只适用于每位客户在本公司唯一的帐户。<br>所有的优惠是特别为玩家而设，在玩家注册信息有争议时，为确保双方利益、杜绝身分盗用行为，本公司保留权利要求客户向我们提供充足有效的文档， 并以各种方式辨别客户是否符合资格享有我们的任何优惠。<br>本公司是提供互联网投注服务的机构。请会员在注册前参考当地政府的法律，在博彩不被允许的地区，如有会员在本公司平台注册、下注，为会员个人行为，本公司不负责、承担任何相关责任。<br>无论是个人或是团体，如有任何威胁、滥用优惠的行为，本公司保留权利取消、收回由优惠生成的红利，并保留权利追讨最高50%手续费。<br>客户一经注册开户，将被视为接受所有颁布在本公司网站上的槼则与条例。</p><h1>二、真人娱乐条款</h1><p>1.	当您下注後，请等待显示“您共下注XXXX元”，这个消息在中间的消息窗口可以看见。</p><p>2.	开牌後，若您已有下注，请确认您的输赢金额，这个消息在中间的消息窗口可以看见。</p><p>3.	您的“总下注金额”及“赢得金额”亦会每局显示於右上角的窗口中，请会员详加确认。</p><p>4.	当会员在游戏中途发生网络问题而断线，所有已被确定的投注仍然有效。会员再重新登录时，就可以查找游戏端内的“下注记录”查找发牌结果，会员的额度也会随着当局的输赢增加或减少。</p><p>5.	如果您在消息窗口看到“开牌”的话，而您的游戏画面未显示投注金额，这代表该局您的投注不成功，这有可能下注的时间太迟或是因为网络问题而没有被系统接受。</p><p>6.	百家乐游戏在本网内设计为每手牌局前不销牌。</p><p>7.	当会员进入游戏，超过5局没下注会有提示。若您连续10局未下注的时候将会被游戏弹出至首页，请会员重新登录。若会员於下注开牌期间强行登出，帐号将被系统锁住三分钟，请会员稍后再重新登录。</p><p>8.	本网上游戏是在现场把牌通过扫描後将牌例显示在会员端荧幕上，故若牌没扫描到必将重新扫描一遍，若还是没有感应则把牌翻开由现场公务输入牌卡数码，牌例便会显示在会员端荧幕上。</p><p>9.	当荷官不小心同时从牌靴中抽出两张牌，而扫描到的不是按顺序正确的那张牌：<br>（a）若牌局已开牌，而结果不符，系统将根据现况决定牌的先后摆放顺序之开牌结果进行手动开牌，并换上新牌靴开始新局。<br>（b）若牌局未开牌，则由现场公务决定牌的先后摆放顺序，牌局会如常继续。</p><p>10.	在洗牌或将牌放入牌靴过程中，有牌不慎曝光，荷官会把牌叠起并重新洗牌，牌局将重新开始。</p><p>11.	牌局进行中，未扬牌前(该张牌未於视频显示点数花色前)，牌不慎离开台面，牌丢落地上，或离开视频范围，则该牌局予以注销作废，所有下注本金退回。</p><p>12.	若该牌已经过扫描且已扬牌後，该牌不慎离开台面，牌丢落地上，或离开视频范围，因其不影响游戏之正确结果，牌由现场工务摆回後，该牌局正常行其结果仍视为有效。</p><p>13.	派错牌例（已不须补牌，荷官仍补牌）现场工务会把多补的那张牌放到牌靴底，牌局结果依视频显示为准，牌局将如常进行。若该张多补的牌已亮开，公务将在做完以上同样进程後换上新牌靴，牌局会重新开始。</p><p>14.	荷官未依闲、庄发牌正确顺序将牌放错位置，由工务将牌依正确顺序摆放回位置後牌局将照常继续。</p><p>15.	开牌过程中，牌有感应但无显示，荷官已亮牌（如:已派出数张牌，但第一张牌有感应但未显示，至第二、三张牌显示在错误的闲、庄位置上），现场工务会依牌的正确次序输入代码，牌局将如常继续。</p><p>16.	同一张牌，扫描了一次出现2张（闲、庄位置各一张）<br>（a）若牌局已开牌，而结果不符，系统将根据视频荷官完成该局之正确结果进行手动开牌，牌局也将在牌路无误的情况下如常继续。<br>（b）若牌局未开牌，荷官避开扫描如常开牌後，工务将输入牌之正确数码，并修正不符那张牌的花色、点数，牌局会如常继续。</p><p>17.	电脑、扫描仪出现异常、牌局中断、牌无法扫描又无法输入牌卡数码时，该牌局便会作废，所有程序将被关闭，并重开程序，牌局将重新开始。但若荷官发牌视频已有结果，则以视频开牌为主，会由系统完成开配。</p><p>18.	有关例行性维护、网络问题、视频中断、牌局作废、注销情况等事宜，皆可于会员端左上角处公告栏上得知最新消息。</p><p>19.	发牌视频仅保留三日，若有异议请於游戏当日起三日内提出，三日后恕不受理。</p><p>20.	本娱乐场之视频为真人直播，故该局游戏若因国际线路传输问题出现争议，将以视频看到牌局结果决定输赢。</p><p>21.	本娱乐场所提供之牌路仅供参考，若因国际线路问题或其他因素造成牌路显示有误，所有游戏结果将以视频开牌及游戏记录为主。</p><p>22.	本公司保留一切有争议事项的修正及最后的决策。</p><p>23.	本娱乐场保留随时更改、修订或删除游戏、游戏规则（包括几率及赔率）及协议条款的权利而无须做事先通知。</p><p>24.	本娱乐场保留随时修订、撤销或中止任何投注的权利而无须做事先通知，亦无须做任何解释。</p><p>25.	本娱乐场记录每一项於本网站服务器内运行的交易及投注功能。若会员认为向本娱乐场提供的数据与本网站数据库中的数据记录之间出现了任何声称的差异，一切均以本网站数据库的数据为准。</p><p>26.	当会员已於本娱乐场之游戏厅内下注，而电脑出现连接异常导致牌局中断时，会员最后押住仍视为有效，本娱乐场将以会员於本网站数据库的交易记录为准。</p><p>27.	会员在本娱乐场之游戏厅内任何游戏的押注记录均视为有效，会员需自行承担下注後的风险。<br>若经本公司发现会员以不正当手法&lt;利用外挂程序&gt;进行投注或以任何非正常方式进行的个人、团体投注有损公司利益之投注事情发生，本公司保留取消该类注单之权利。</p><h1>三、彩票类游戏</h1><p>1.	当您在下注之后，请等待显示“下注成功”信息。</p><p>2.	为了避免出现争论，您必须在下注之后检查“下注状况”。</p><p>3.	任何的投诉必须在开彩之前提出，本公司不会受理任何开彩之后的投诉。</p><p>4.	所有投注项目，公布赔率时出现的任何打字错误或非故意人为失误，本公司保留改正错误和按正确赔率结算投注的权力。</p><p>5.	开彩後的投注，将被视为“无效”。所有赔率将不时浮动，派彩时的赔率将以确认投注时之赔率为准。</p><p>6.	所有赛果以官方网站公布的结果为依据，若因官网延迟、错误或取消。本公司保留对已下注注单的裁决权。</p><p>7.	若发生两颗球同时吸起，将依照在结果区之号码球为主。</p><p>8.	在游戏尚未完成开配之前，若因机器问题而导致有结果生成，该局将一律注销。</p><p>9.	在下注时间尚未结束之前，若因任何因素导致有结果生成，该局将一律注销。</p><p>10.	若该局己有结果但与实际结果不符，系统将根据视频完成该局之正确结果进行手动开牌。</p><h1>四、电子游艺</h1><p>1.	电子游戏中奖画面与派彩结果不符时，本公司将以数据库最终结果为依据。</p><p>2.	彩池金额是以满注中奖结果显示，玩家中奖系以押注比例分配彩池金额。</p><p>3.	老虎机游戏过程中如遇断线情况将以数据库最终结果为依据，本公司保留对已下注注单的裁决权。</p><p>4.	21点游戏补牌中如遇玩家断线，则视玩家为不补牌。游戏结果将视为有效。</p>
		</div>

		<div v-if="$route.params.id == 2">
			<p class="title">如何注册？</p>
			<p>打开本公司的网站後，点击登录区的注册，如实填写您的数据信息，确认送出後即可完成注册。</p>
		</div>

		<div v-if="$route.params.id == 3">
			<p class="title">如何登录会员中心？</p>
			<p>在选单底部点击登录，在登录页面输入正确的帐号及密码後，即可登录。</p>
		</div>

		<div v-if="$route.params.id == 4">
			<p class="title">登录时密码提示错误，我该怎麽办？</p>
			<p>首先请您再次确认输入的密码是否正确，必须是6-12个字符（由大小写英文本母和数字组成）。若确认後仍提示错误，建议您通过自助流程找回密码。或者，您也可以在线客服协助您找回密码。</p>
		</div>

		<div v-if="$route.params.id == 5">
			<p class="title">我可以注册多个帐号吗？</p>
			<p>客户不可以同时拥有多个帐号，如发现客户拥有多个户口，公司有权取消其户口以及投注，本公司保留权利取消或关闭您的帐户本公司有权限制客户只保留其中一个户口。</p>
		</div>

		<div v-if="$route.params.id == 6">
			<p class="title">我想删除/注销我的帐号可以吗？</p>
			<p>本公司不会以任何理由注销玩家帐号。您可在线客服申请停用帐号，以停止其帐号的使用。</p>
		</div>


		<div v-if="$route.params.id == 7">
			<p class="title">如何找回登录密码？</p>
			<p>若忘记登录密码，请点击页面顶部登录区（或其他相关页面）的“忘记密码？”，然后根据页面提示进行操作即可。<br>具体操作步骤如下：<br>(1)输入您要找回登录密码的手机号／邮箱地址。<br>(2)根据页面提示，选择其中一种找回方式。<br>(3)核实身分後，重新设置新的登录密码。<br>(4)登录密码修改成功。</p>
		</div>




		<div v-if="$route.params.id == 11">
			<p class="title">有哪些存款途径？</p>
			<p>公司当前提供二种方式入款，1.网络银行ATM。2.超商付款，请您点击线上存款选择其中一种方式入款，谢谢！</p>
		</div>

		<div v-if="$route.params.id == 12">
			<p class="title">存款未到帐如何处理？</p>
			<p>由于跨行汇款的到帐时间是取决银行方面办理速度，一般都是有1-8小时的到帐时间，请您耐心等待。如果已成功汇款，可能是由于第三方支付公司还没有收到您的款项，请麻烦发送发票的扫描件或是清淅照片（如果是网银汇款请发送汇款明细的截屏）给我们，我们会马上为您提交到第三方支付公司进行查找。</p>
		</div>

		<div v-if="$route.params.id == 13">
			<p class="title">存款是否需要缴纳手续费或其他费用？</p>
			<p>本公司接收线上网络银行ATM。超商付款等方式。当您通过网银、ATM、超商付款方式存款成功後，存款手续金额由本公司承担，让您存款无忧。使用柜台存款的客户选择收款方支付将不享受存款手续费回馈。</p>
		</div>

		<div v-if="$route.params.id == 14">
			<p class="title">为什麽在线支付成功後额度没有立即增加？</p>
			<p>这是因为在线支付系统需要经过密码锁切换及内部验证进程，而这也是我们的保安进程之一，所以请您不必担心，款项一定不会丢失。如果您在线支付超过30分锺後仍然还未收到您的款项，请与我们客服联系处理。</p>
		</div>






		<div v-if="$route.params.id == 21">
			<p class="title">提款流程</p>
			<p>当您在成功存款并进行游戏後，即可进行提款操作（需满足最低提款金额要求）。您只需根据以下提示，按下列步骤操作即可开通帐户：<br>1) 登录（或已处于登录状态），在会员中心点击 “提款专区”项。<br>2) 进入“提款”页面。注意！因确保您的帐户安全，第一次进行提款操作时，需先设置提款密码唷！请务必牢记您的提款密码，请勿将您的密码提供给其他人。<br>3) 接下来，您可以开始添加银行卡。完成银行帐号添加以后，才能够进行提款操作。此银行帐号的开户名必须与您帐号所填真实姓名一致，否则提款可能会失败。您所填写的银行帐号不需要开通网银亦可提款。</p>
		</div>

		<div v-if="$route.params.id == 22">
			<p class="title">提款限额是多少？</p>
			<p>单笔提款最低金额1000元，最高100万，每日提款上限100万。</p>
		</div>
		<div v-if="$route.params.id == 23">
			<p class="title">提款什麽时候可以到帐？</p>
			<p>取款申请审核通过后，一般会在数分锺内为您进行线下转帐。若逾时仍未收到款项，则可能是取款银行帐号数据有误或银行帐号小额管理费未缴等问题所造成的。财务人员在无法出款时都会及时进行通知，若玩家未填写有效的联系方式也会造成财务无法联系的情况发生，请您务必填写正确有效的联系信息。同时，您也可随时联系在线客服了解进度。</p>
		</div>

		<div v-if="$route.params.id == 24">
			<p class="title">可否提款到其他人的银行帐户？</p>
			<p>银行帐户持有人姓名必须与本公司注册帐号的姓名一致，否则无法申请提款。</p>
		</div>

		<div v-if="$route.params.id == 25">
			<p class="title">提款是否需要缴纳手续费或其他费用？</p>
			<p>依会员等级收取手续费，不足50元以50计算。</p>
		</div>

		<div v-if="$route.params.id == 26">
			<p class="title">当我在真人游戏赢了钱，我该如何提款？</p>
			<p>将钱从游戏平台转入主钱包後，请您点击“提款专区”输入您的取款密码，再按要求填写您要提取的金额，然后再点击确定，成功递交取款信息後，财务部将在数分锺内为您办理出款。</p>
		</div>

		<div v-if="$route.params.id == 27">
			<p class="title">可以取消提款申请吗？</p>
			<p>提交申请未审核之前，若您想取消，请及时联系在线客服处理。</p>
		</div>

		<div v-if="$route.params.id == 28">
			<p class="title">提款申请为什麽会不通过？</p>
			<p>防止部分玩家利用本公司进行洗钱等非法资金操作，为避免部分玩家以套利为目的参与活动，我司对于所有的提款均会进行审核，申请不通过的主要因素考虑如下：<br>1、判断有效投注额是否达到存款，优惠的流水要求。（各游戏和局/未接受/取消注单，不纳入有效投注计算。）<br>2、取款信息是否符合取款者信息。<br>3、投注是否异常，存在恶意刷流水套利行为。<br>4、同一用户多帐户行为。</p>
		</div>




		<div v-if="$route.params.id == 31">
			<p class="title">什麽是转帐？</p>
			<p>转帐功能是指从主帐户或某个平台向其余平台进行转帐，或反之.</p>
		</div>
		<div v-if="$route.params.id == 32">
			<p class="title">为什麽游戏前要先进行转帐？</p>
			<p>为了您更好，更顺利的体验游戏，我们会提示您在进入游戏前进行转帐，避免进入游戏之后需要登出游戏来进行转帐的反复操作。同时，您可任意将额度转至多个游戏帐户中，体验不同游戏的欢乐与刺激！.</p>
		</div>

		<div v-if="$route.params.id == 33">
			<p class="title">游戏和游戏之间可以互相转帐吗？</p>
			<p>本公司支持游戏与游戏之间进行直接转帐！若您需要将B游戏的帐户金额转至C游戏时，直接选择转出平台为B游戏，转入平台为C游戏，即可向C游戏进行转帐。.</p>
		</div>

		<div v-if="$route.params.id == 34">
			<p class="title">为什麽向游戏转帐会失败？</p>
			<p>向游戏转帐失败可能存在以下几种原因：<br>(1)第三方游戏数据异常或正在升级维护中。<br>(2)数据对接异常，暂时无法进行资金操作。<br>(3)网络连接异常，导致订单超时。<br>转帐失败时，建议您重新发起请求，或稍等片刻後再进行操作！.</p>
		</div>




		<div v-if="$route.params.id == 41">
			<p class="title">我进行游戏有安全保障吗？</p>
			<p>本公司运用不同种类的安全技术，为广大玩家创建一个安全、稳定且极具隐私的游戏环境。<br>(1)物理安全<br>我们的服务器放置在高度安全性的特定场所，进出的工作人员必须全部通过安全检查。<br>(2)安全保护<br>我们的服务器通过防火墙系统被保护。<br>(3)数据完整性<br>玩家通过浏览器与我们的服务器之间进行的所有通信是被严格加密的。.</p>
		</div>

		<div v-if="$route.params.id == 42">
			<p class="title">隐私保护槼则</p>
			<p>本公司非常尊重客户提供给我们的个人隐私信息。我们将尽全力保护客户个人资料的私密性，让客户无后顾之忧。</p><h1>简介</h1><p>本网站服务皆有相关法律约束与监管。为了让客户在这能享受到安全愉悦的服务体验，我们征求客户仔细阅读此“隐私权保护槼则条款”，因为这将涉及到我们使用您个人资料的相关事项。对待客户的个人隐私本公司本着非常严谨的态度。</p><p>为了让客户享受进一步服务，有时我们可能需要求客户提供个人资料。本政策将会函盖客户提供给我们的个人资料的使用事项，同时也涉及相关信息记录进程的内容。</p><p>有时，客户接受进一步服务前我们可能需要客户提供个人资料（如，姓名，通信地址，邮箱地址，会员编号，电话或手机号码，出生日期或支付信息），任何情况下，我们都将对照此政策来处理您的个人资料。在使用您的个人资料时我们将适用现行的法律条款，并竭力采取最佳最稳妥的方式处理。</p><p>同时，我们也将监控您在本网站的活动内容，可能包括您的访问量，访问页面，网络服务的原始域名等，这将有助于我们创建客户个人档数据。其中部分数据将被聚合统计，这意味着我们将不能对其单独进行检验。</p><h1>我们收集的内容及其目的</h1><p>阁下在平台开户时，我们将要求您提供某些个人资料，如：姓名，通信地址，邮箱地址，密码及确认您是否已年满18周岁（本公司只接收达到法定年龄18周岁或以上的客户）。我们可能需使用您的个人资料用来确认您的各种金融交易，定期发送公司实时短信，提供客服支持及完善全面的博彩服务给您。如果您想中止接收公司实时短信，您可根据提示在短信接收选项做出相关选择。另须注意，你注册的姓名必须是您本人姓名，你所注册的数据为真实有效数据，因为这将用于随后的交易验证及前述的其它用途。</p><p>会员可在下载软件选择帐户选项更改您的帐户信息。</p><h1>访问信息</h1><p>在阁下访问我们网站页面的过程中，将会有个小的文本夹“信息记录进程”保存在您的电脑。很多网站都有类似设置，因为此设置对网站发行商是非常有用的，譬如可以记录该电脑（或用户）是否曾浏览过此网站。</p><p>本公司将会对客户“信息记录进程”及IP地址进行保存记录，这些数据将有助于我们完善和提高我们的服务，并有助于我们分析客户的完整信息。这类数据并不是用于客户个人资料的建档，因此将被定期清除。</p><h1>机密性</h1><p>本公司将尽全力保护客户提供给我们的个人资料，不会蓄意将该数据泄漏给外人，除非此政策条款里有明文槼定。</p><p>所有本公司员工都被要求遵循该政策条款。员工有义务严密的保守客户的个人资料，即使员工离开公司後仍须坚守此义务。</p><p>阁下本人也须保护好您的个人资料。阁下应严守您的帐户密码，我们建议您不要将此透露给其他人。</p><h1>客户个人资料的使用和保存</h1><p>当阁下提供任何个人资料给本公司，我们对您负有关于如何使用您个人资料的法定义务，我们须有正当理由才可征集您的数据（关于为何征集客户个人资料，我们特定页面已有说明），告知征集您数据的用途以及如有必要将其传给其他任何人，我们将会通知您本人。</p><p>我们使用客户个人资料的用途包括：</p><p>用于确认您的身分以及您的帐户</p><p>行政服务</p><p>统计分析</p><p>市场推销——见下面“市场推销及退订设置”</p><p>诈欺预防及监测</p><p>通知您可能将影响到您的我们网站或服务的任何更改</p><p>安全审核</p><p>服务完善</p><p>正如下所列，如果我们因其它用途需用到您的个人资料，我们将会提前通知您。另外，您也可选择不同意以上做法。</p><p>我们可能因以下原因联系您</p><p>关于您申请的任何服务功能，我们将来信确认</p><p>您选择接收更多的公司信函</p><p>邀请您参加关于我们服务的调查活动（自愿加入）</p><p>出于市场推销目的，并且您已特别认同（见下面）</p><p>我们将一直严守客户个人资料不被外泄，除非有法定要求（如。政府部门及执法机构要求，或网站上带有攻击性或不妥的内容）或关系到我们的业务合作伙伴。一般情况我们只在公司内部使用客户的个人资料。然而，有时我们可能需借助第三方来处理客户的信息（如，网站主机或维护服务的提供商），我们将会要求第三方严格遵守我们的约定，要求他们将不得将客户个人资料用于他们的商业用途。</p><p>正如后面所述，我们可能出于市场推销目的将客户的个人资料传给我们的业务伙伴。</p><p>另外，如果客户违反相关法例，我们相信我们有理由将您的个人资料传给相关的第三方，如。您的雇主，教育机构或执法机构，上报您的相关信息与行为。</p><p>在客户所申请使用我们服务这段期间，我们将一直保存您的个人资料于后台系统，直到申请期满或客户想注销会员帐户，我们将把您的个人资料作删除处理。取决于数据保护立法与监管要求。出于安全原因，如果客户使用我们网站服务满一年，我们将会保存其信息记录档（包括信息内容，会员姓名，时间和日期）。另外，如果客户并未注册为我们的会员，但参加了公司的其它服务（如。竞赛活动），其个人资料将保存到该服务顺利完成。</p><p>我们将确保所有客户个人资料将会根据2002年数据信息保护法例（Tynwald法例）严密保存。</p><h1>客户数据信息保护</h1><p>我们将使用高科技系统管理和保护客户个人资料数据，</p><p>只有使用客户独一无二的用户名和密码才可进入该客户帐户</p><p>客户信息数据保存在安控服务器内</p><p>我们将尽全力保护客户个人资料数据的安全，但客户须认同当前网络并非百分百安全，因此，我们并不能保证客户发送信息给我们的网络传输过程的安全和完整性，也不担保我们发送给客户网络传输过程的安全和完整性。</p><h1>保密限制</h1><p>在某些情况下出於安全，立法和槼章条例要求，本公司不得不透漏客户个人资料。本公司将尽全力保护客户个人资料，除非发生以下情况：</p><p>出于担保，传审或其它法槼要求，本公司才透露客户信息。</p><p>出于正当理由行使公司权利，需要对某客户或实体进行确认，联系或采取法定措施。</p><p>另外，如果涉及诈欺，知识产权侵犯，权利侵犯，或其它非法行为可能导致责任牵连的行为调查，我们相信我们有必要和理由透露客户的信息(如。姓名，居住地址，城市，邮编，国家，电话号码，邮箱地址和公司)给本公司第三方代理。</p><h1>客户信息的接收者</h1><p>除了上述法定要求说明，我们还可能将您的个人资料透露给我们的工作人员，其他相关公司的工作人员或本公司的合作伙伴和为本公司客户提供相关服务给我们的第三方网络服务供应商（包含但不局限于安全，信用和风险审核机构）。第三方网络服务供应商可以检查我们提供在公共数据库或私人数据库的任何详细数据及有机会获得和保留检查记录。</p><p>我们同样可以通过第三方网络服务供应商得到您的个人资料。如果您提供您的个人资料给我们或我们从第三方网络服务供应商中收到您的个人资料，代表您已经同意我们可以处理、使用、记录和透露您的个人资料。我们保留权利，根据您或第三方网络服务供应商提供的信息，在任何时候冻结或关闭您的本平台会员帐户。</p><h1>监控</h1><p>出于服务品质，防止诈骗和法槼遵循方面的原因，我们将对客户的通信记录进行保存和监控（如电话和邮件记录）。</p><p>市场推销及帐户移除设置</p><p>出于市场推销目的，我们可能将客户的个人资料透露给我们的业务伙伴公司，他们能就相关产品，服务，促销及特殊优惠活动，通过信函，电话，SMS信息，传真，邮件或其它通信方式联系到您，除非您提出要求制止此行为。</p><p>如果客户不愿再接收任何关于本公司的市场推销相关宣传信息，您可随时选择移除帐户设置。详细请见前面“客户个人资料的查看以及客户的权利”。</p><h1>信息记录进程</h1><p>客户访问本公司网站时，我们可能将发送给您一个临时的信息记录档。此记录档是我们网站服务器存放在您电脑信息记录文档的一系列文本标题记录，以便下次您再次访问我们网站时我们系统可以辨认出您。我们可以将其生成的数据编制成客户访问统计数据。您并非有义务接收我们的信息记录文档，您也可选择不接收，可以通过设置您的浏览器完成。</p><h1>隐私权保护槼则的认同</h1><p>一旦阁下在平台注册开户就代表您认同此隐私权保护槼则条款。我们将定期更新此政策条款，因此我们建议客户您也定期进行查阅。如果我们对该政策有所更改，我们将在相关网页上发布消息。政策更改後，客户持续使用本公司网站将被视为客户认同该政策的更改。如果客户不接收此政策的更改，您可以选择停用我们的网站服务。如果该政策条款与其它局部特殊条款生成分歧，将适用局部特殊条款。</p></p>
		</div>

		<div v-if="$route.params.id == 43">
			<p class="title">投注槼则与槼定</p>
			<p>某些赛事和赌盘有不同的槼则，下述内容为适用于所有赛事和赌盘/投注类型的一般槼则，必须完全遵守。在适用的情况下，本公司网站公布的“条款和条件”中所列槼定与定义应当适用于本“投注槼则与槼定”。</p><h1>一般投注槼则与槼定</h1><p>※本公司的所有投注信息都是出于诚意提供的。 不过，本公司不对有关日期、时间、地点、竞争对手、赔率、结果、统计数据、团队制服（显示在实时比分中）或其它投注信息的任何错误或遗漏负责。本公司保留纠正任何明显错误的权利，并且应当采取所有合理行动确保以诚信透明的方式管理赌盘，赌盘定义为针对某一体育赛事所提供的不同的投注类型。公司保留做出最终性决定的权利。</p><p>※如果盘口结果不能确定为官方结果，本公司有权延迟结算直至官方结果确定。</p><p>※如果盘口结果在公布前已被公众知晓结果，本公司有权宣布投注无效。</p><p>※如有任何明显的比分显示错误，或者价格计算错误本公司有权宣布投注无效,包括如赔率高出盘口平均值的100%的显示错误。</p><p>※如盘口关盘，比赛正常进行， 所有盘口以最终结果进行结算。如果盘口结果不为官方结果，本公司有权宣布赛果无效。</p><p>※如结算错误，本公司有权在任何时间进行更正。</p><p>※如违反一般体育槼则，本公司有权宣布投注无效（如不正常的比赛时间长度，计分方式以及比赛形式等）。</p><p>※任何与我们提供的比赛信息槼则或形式不同，我们有权宣布投注无效。</p><p>※就未完成比赛或未能如期举行比赛（如取消资格，中断，退出比分更改等）所有未决定的比赛将视为无效。</p><p>※如果网站对赛事所用的英语和非英语名称之间有任何差异，以英语版本为准。</p><p>※在任何时候，客户有责任了解比赛分数和所有相关的比赛信息，并且建议客户在下注之前确认比赛状况。</p><p>※本公司有权在任何时候出于任何原因修改这些槼则。一旦在网站上发布，任何此类修改都是具有约束性和立即生效的。</p><p>※客户承认网站上提供的当前分数、所用时间及其它数据虽然是由第三方以“直播”形式提供，但仍会有时间延迟以及/或者可能不准确的情况，并且根据这些数据做任何投注时，客户应自行承担所有风险。本公司提供这些数据时，不保证其准确性、完整性或及时性，并且不对客户因依赖这些数据而遭受的任何损失（直接或间接损失）负责。</p></p>
		</div>

		<div v-if="$route.params.id == 44">
			<p class="title">博彩责任</p>
			<p><h1>1.1     理性博彩</h1><p>我们以提供最佳在线博彩，并为此提供竭诚的服务，倾全力为顾客营造一个良好的网上娱乐环境并且衷心希望顾客能在这里获得最佳娱乐体验。<br>作为有声誉有责任感的博彩公司，我们希望阁下您在尽情享受网站服务的同时调整好您的心态。<br>为了协助您进行理性博彩，我们确保工作人员接受理性博彩意识的培训。如需更多信息或协助请联系客户服务部。<p><h1>1.2     未满博彩年龄</h1><p>未满18岁的人士进行博彩属非法行为，本公司会在此方面绝对严格运行。我们会对客户进行年龄验证，并可能要求其上交补充档。对任何未满18岁人士使用此网站所获得的彩金，一旦发现，将被没收并上报有关部门处理。阁下必须超过18岁（或在阁下居住的管辖范围内不被视为未成年人）才可进入此网站。任何未满18岁的人不得在我们网站开户和投注，本公司以严谨的态度看待和处理此问题。<br>以下是为预防未成年人访问在线游戏网站的一些参考网站：<br>www.gamblock.com<br>www.safekids.com<br>www.netnanny.com<br>www.surfcontrol.com<p><h1>1.3     不适用人群</h1><p>1.3.1     年龄在18周岁以下。<br>1.3.2     在所属司法中，低于其合法年龄。<br>1.3.3     当地司法槼定，访问我们网站属不合法行为。本公司无法辨认客户行为在当地司法是否属合法，客户本人<br>责任自行甄别。<br>1.3.4     本公司员工与本公司员工亲属（"亲属"指配偶，伴侣，父母，子女或兄弟姐妹），或在离职6个月期限内的任何本公司相关前雇员，前雇员亲属。（包括任何与本公司关联的）<p><h1>1.4     赌博问题防护</h1><p>我们强烈建议阁下定期审视您的博彩行为，检验自己是否投入过度。如果您感到可能会有博彩方面的问题，请首先回答以下问题：<br>1)     有否曾因赌博而眈误工作时间？<br>2)     有无人曾经批评过您进行赌博？<br>3)     赌博有否令您的生活不愉快？<br>4)     赌博有否影响您的声望？<br>5)     赌博之后，您是否感到自责？<br>6)     阁下有否曾经用赌博所赢得的钱来还债，或者解决财政因难？<br>7)     赌博有否导致您的抱负及效率减低？<br>8)     输钱後，您是否感觉您必须一定要尽快回来赚回您所失去的？<br>9)     赢钱後，您是否有一种强烈的欲望，回来赢得更多？<br>10)     是否时常赌博至分文都用尽？<br>11)     您是否借钱，作赌博之用？<br>12)     您是否出卖任何对象，作赌博之用？<br>13)     您是否不愿意用 "赌本" 来付正常的开支？<br>14)     您是否很不情愿将赌博用的钱使用在其他地方？<br>15)     赌博是否令您疏忽您自己及您家人的健康快乐？<br>16)     您是或否独自一人长时间赌博？<br>17)     您是否花比预计更多的时间在赌博上？<br>18)     您是否曾经因为试图掩饰您在赌博方面花费的时间和金钱而撒谎？<br>19)     您是否以赌博来逃避忧虑及困难？<br>20)     您是否犯罪或考虑犯罪，为赌博筹备资金？<br>21)     赌博有否令您有睡眠的困难？<br>22)     围绕您的争执、失望或挫败有否造成赌博的推动力？<br>23)     您是否为数小时的赌博而有冲动去庆祝好运？<br>24)     您是否因赌博的结果而自毁或自杀？<br>若您对至少7个以上的问题的回答是“是”，您可能在博彩上存在风险，请寻求家庭支持和专业网站进行咨询。</p></p>
		</div>

		<div v-if="$route.params.id == 45">
			<p class="title">槼则与条款</p>
			<p>以下内容为客户访问和使用本公司网站服务的槼则与条款，在进行游戏和体验前，请您仔细阅读以下内容。如果您并不接受我们的服务协议，请您切勿在本公司进行注册或者游戏，如果您同意我们的协议，我们将为您提供更好的游戏体验与服务。</p><p>当阁下在注册帐户时点击下面的"提交"以及使用下面指定的软件时，就表明阁下同意该协议内列明的槼则条款，隐私权保护槼则，及其它相关博彩和网站定期更新的促销槼则条款等。并且承诺一旦违背此协议将会对阁下生成如下后果（会员资格被剥夺、帐户冻结、资金没收或其它相关的法律诉讼）。详细信息已在下面列明。</p><p>一旦使用本公司提供的服务，代表阁下认同本公司相关的条款与槼则，将立即生成相应的法律效力。如果阁下不认同本公司相关的条款与槼则，请勿访问，和使用我们的网站及软件。</p><p>本公司将会定期更新相关的槼则条款，因此请阁下定期留意查看。槼则条款更新後，您仍继续使用我们网站服务代表阁下认同此条款。如果阁下不认同条款的更新，请停用我们的网站服务。如果该条款与其它局部特殊条款生成分歧，将适用后者。</p><p>阁下同意在享用本公司网站服务时遵纪守法，不侵犯他人权限，或不干扰或影响他人的娱乐体验。我们不允许任何形式的骚扰，传播淫秽/带攻击性内容，干扰本公司日常沟通流程，或对他人造成不良影响的行为。</p><h1>术语定义</h1><p>"游戏"指网站上提供的网上娱乐系统。</p><p>"体育博彩"包括"娱乐场","扑克";以及所有其它相关的服务和在线娱乐活动。</p><p>"设备"指所有应用设备，包括所有应用于进入网上服务的设备但不局限于个人电脑、笔记本、手机、个人电子设备、PDA电话等等。</p><p>"信息"指网站提供的信息，包括但不局限于赛果，统计数字，体育数据，赔率等等。</p><p>"软件"指所有电脑进程，数据文档或其他任何要求安装在您的设备上，以便于您的设备通过网络访问网站和参与服务时使用。</p><p>"服务"指软件和游戏。</p><h1>注意事项</h1><p>请注意，我们网站的游戏和软件不适宜以下人群：</p><p>18周岁以下。</p><p>在所在地或所属司法中，低于合法年龄人群。</p><p>当地法律法槼槼定访问本公司为不合法行为者。本公司无法辨别客户行为在当地司法中是否合法，客户本人应有责任遵守。</p><p>本公司员工与本公司员工亲属，或者离职6个月期限内的任何本公司相关雇员以及其相关亲属。</p><p>本公司官方对所提供信息是否正确、完整、更新不承担责任（比如，网站所提供的赛果）。本公司对走地投注中的实时赛果、统计数据及中场赛果的准确度不承担责任。</p><p>为防止不符合法定年龄的人群使用我们的服务，本公司保留随时要求客户提供年龄凭证的权利。如果阁下未达上我们的年龄标准或我们怀疑阁下低于我们的年龄标准，我们有权利长期/短期暂停/取消阁下帐户，制止阁下参与我们的服务。</p><p>软件的编码，组织结构属我司版权，商业机密，知识产权及其它权利。您不得：</p><p>覆制，发行，出版，反向工程，反向编译，反汇编，修改，或翻译该软件或试图获取原代码制作衍生文档</p><p>对软件进行销售，派发，再授权，转让，分发或出租</p><p>通过互联网或其它方式将软件提供给第三方</p><p>未征得本公司书面许可，通过电子传输或其它方式将软件出口给任何国家。</p><p>软件使用方式违法或违槼</p><p>（以上任一条都属"非法使用"）</p><p>如因任何非法使用而导致的损失，费用或相关的佣金费用都由行为人自行承担。如阁下知晓任何人非法使用我们软件获取佣金，请及时上报给本公司，并请协助我司就您提供的相关信息而展开的调查。</p><p>本公司定期使用的标符"本公司和其他商标，服务标志和或商用名字归属于本公司或其组织成员和或其执照颁发者，因此商标的所有权归属于本公司组织。另外，本公司网站上的其它内容，包括，软件，图象，图片，图表，照片，动画，视频，音乐，声像文本等等都归属于本公司或其成员和或执照颁发者，这些物件信息都属公司版权等知识产权，受法律保护不得侵犯。阁下必须认同您可以使用我们的网站和服务，而并非代表对此任何部分拥有权利，在任何情况下，未经本公司书面许可或本公司知识产权相关保护法例的认可，您不得使用或侵犯我们网站上的内容。</p><h1>修订和修改</h1><p>客户完全理解并接受本公司对此协议进行的任何修改。本公司可能在任何时候对此协议进行修改并会公布在会员进入的相关网页上。如果本公司对此协议进行较大的修改，我们会通过合适的方式通知您（比如在网站显眼位置发布修改信息，并会把修改内容粘贴去）。阁下有责任经常检查相关条款与政策以确认您接受其内容，如果阁下继续使用本网站将被视为您接受相关条款与政策的修改。</p><p>所有在协议条款修改前的投注将适用于修改前的协议条款。所有在协议条款修改后的投注将适用新的协议条款。如果阁下不能接受相关修改，您只可通过终止协议来解决。</p><p>一般条款的应用—您的声明和保证</p><p>关于条款的应用是指您承诺不会因非法目的进入或使用我们网站的服务，软件和信息，您也需确保您的行为不会违反您当地的法律或不会违反您与本公司间的协议。特别是（协议里所有其它附加声明和保证）您需确保您将履行以下协议。</p><p>阁下不是法律限制行为能力的个体;</p><p>阁下的法定行为只能代表您个人，而不能代表其他人或其他公司;</p><p>阁下认同您参与我们的服务纯属自愿，须自行承担风险。</p><p>阁下并非嗜赌成性的人;</p><p>阁下已年满18岁，您的行为在您当地法律上是属合法的;</p><p>阁下不是本公司员工，或您不是本公司员工亲属;</p><p>阁下是本公司员工（任何本公司员工亲属），或前雇员（任何前雇员亲属），需已离职超过6个月。</p><p>阁下认同在使用我们服务时须提供给我们某些个人资料进行确认（包括关于支付方式的具体信息）。我们将遵循我们的隐私政策对您提供的信息进行管理和控制。</p><p>阁下须自行承担由博彩赢利生成的相关税收。</p><p>阁下使用我们网站只能出于个人用途。阁下只可出于个人娱乐而进行博彩投注。</p><p>您并非以下地区的居民：澳大利亚,比利时，塞浦路斯，丹麦包括格陵兰和法罗群岛，德国，希腊，香港，澳门，以色列，荷兰，菲律宾，新加坡，南非，西班牙，瑞士，台湾，土耳其，美国，意大利和法国，包含瓜德罗普岛，留尼汪岛，马提尼克岛，法属圭亚那，法属波利尼西亚，马约特岛，新喀里多尼亚，圣巴泰勒米，圣马丁岛，圣皮埃尔，密克隆群岛瓦利斯和富图纳群岛.</p><p>阁下认同并能承担因使用此服务而导致的亏损风险，本公司对其损失不承担任何风险;</p><p>阁下的存款不是来自非法或犯罪的活动;</p><p>阁下不得通过使用本公司帐户从事非法活动，或允许他人使用您的帐户从事任何违背您当地和我们法律的活动;</p><p>阁下承诺妥善保管好您的帐户和密码不允许其他人使用。如果您丢失或忘记您的帐户或密码，您须及时联系我们客服部门，我们将发送给您新的安全数据。</p><p>阁下有责任确保自己的帐户及登录数据的保密性，以用户名及密码进行的任何网上博彩将被视为有效;</p><p>阁下在使用我们的服务，网站，设备，软件或相关信息时，您不得以任何方式防碍其他会员享用我们提供的服务;</p><p>阁下不得以任何方式窃取其他会员的任何相关信息;</p><p>阁下不得上载或发布任何带有病毒的进程、文档或数据，影响我们网站设备、软件、服务等运作性能;</p><p>阁下不可试图以任何形式修改，反向编译，反向工程或反汇编我们的软件。</p><p>阁下不得使用任何设备，自动设备，软件，进程或其它方法（类似于前述的）防碍或试图干预我们网站提供的服务，设备，软件，网址，信息或任何交易的正常运     作 , 人工智能使用包括没有局限的外挂系统是严格禁止连接服务器.所有的客户服务操作必须是玩家通过使用我们的进程界面进行;</p><p>阁下不得在我们网站或设备上或对其他用户发布任何关于骚扰、侮辱、诽谤、威胁、淫秽、及煽动种族不满的相关非法信息，或者任何构成或怂恿犯罪行为，或引起     民事责任事件等等相关违法信息;</p><p>阁下不得主动发起或参与针对本公司展开的调查，竞猜，或大量发布连锁信件/垃圾邮件，兜售邮件等活动;</p><p>阁下不可以同时拥有多个帐号，如发现客户拥有多个户口，公司有权取消其户口以及投注 ,本公司保留权利取消或关闭您的帐户。本公司有权限制客户只保留其中一个户口;</p><p>阁下认同以上总条款的适用，并认同如果客户行为带有任何嫌疑或违槼现象，本公司有权未经事先通知或解释上报给相关同盟协会或当地官方。</p><h1>帐户注册</h1><p>欲注册本公司帐户成为我们会员，您须填写完整的网站上相关开户申请表格。</p><p>阁下认同在使用我们服务时须提供给我们某些个人资料进行确认（包括关于支付方式的具体信息）。我们将遵循我们的隐私政策对您提供的信息进行管理和控制。</p><p>阁下须确保您提供真实、完整、最新的信息。阁下的帐户姓名必须真实合法且和身分证上一致，您也须确保帐户姓名与信用证上的姓名或其它用于存提款的帐户姓名一致。如果您的个人资料有所变化，您须立即通知我们。为了确认客户的姓名和地址，本公司有权通过信函或邮件等方式联系客户。</p><p>本司有权未经同意拒绝客户的注册，并有权不予以解释。如发现客户帐户注册信息出现不正确，误导或不完整的情况，本司有权关闭此帐户，返还该帐户存款资金，并且所有投注一律取消。</p><h1>投注接受条件</h1><p>所有在本公司网站的投注都要符合相关游戏规则以及本协议。</p><p>公布赔率时出现的任何打字错误或非故意人为失误，对此生成的后果本公司不承担责任，本公司有权取消相关投注。</p><p>任何情况下，本公司有权拒绝任何投注而不给予解释说明。</p><p>只有通过本公司网站或设备的符合条款与协议的注单被视为有效。无论结果如何，任何以其它形式的投注（通过信函、</p><p>邮件、传真或其它方式）将不被接受或视为无效。客户的用户名和密码一致，帐户余额足够，投注确认的注单才是有效的</p><p>投注，而且投注後收到确认信息的注单才被视为有效。注单从屏幕出现确认信息时即开始生效。</p><p>所有注单符合以下条件都视为有效：用户名和密码输入正确，帐户余额充足。</p><p>客户须对所有经由其帐户所生成的交易和行为承担责任，无论该交易是否由客户本人作出。</p><p>如果阁下的投注信息正确，阁下是唯一对此投注承担责任的人。一旦本司确认您的注单，该注单不得取消，撤回或更，并且该注单会视为您投注的有效证据。</p><p>所有本公司录入的投注记录将被存入本公司交易数据库，并作为任何时间任何交易的有效依据。</p><p>所有在本公司客户帐户交易记录显示确认信息的注单，本司都视为有效注单。</p><p>除滚球投注外,所有投注在比赛开始後的注单本公司有权取消投注。</p><p>所有投注时赛事结果已知晓的注单都视为无效注单。本公司有权取消此类注单。</p><p>网站上显示的赛事消息（赛事开始时间，红牌，比分或其它相关信息）仅供参考。</p><p>赛事结果均在赛事结束後确认，除非在相关体育或赛事槼则另有说明。赛果公布72小时后，若对任何赛果有争议，澳银河将不认可。在赛果公布72小时内, 本公司只修正人为失误或错误的赛果。</p><p>如果赛事地点改变，所有在原地点下注的注单一律取消，中立场赛事除外。</p><p>比赛输赢将依照相关槼则在赛事结束後确认。</p><p>本公司不认可赛事中断的比赛，及对赛事具有争议的提议。</p><p>如果在过关项目中出现无效选项，此注单将会按余下的有效选项调整结算。</p><p>客户获知并接受所有赔率及盘口都是不断变化的，只有在投注瞬间才会确定。</p><p>如因人为操作错误或系统故障导致赔率或盘口错误,所有发生在这种情况下的注单本公司将保留取消的权力,相关的过关选项亦视为无效选项。</p><p>在遇到任何系统技术故障时，如当时无法恢覆正常交易，本公司有权手动确认滚球危险球投注。届时帐户余额将予调整，以反应该会员当时的投注。</p><p>多次同时投注同一赛事的注单将不被认可。</p><p>本公司拥有任何相关投注和交易的最终决定权。</p><p>阁下完全接受在扑克游戏中系统软件随机发牌洗牌，并接受其它随机游戏交易。</p><p>阁下完全认同并接受WAP网络链接并非一直稳定。本公司只认可我们系统有记录的注单，任何错位注单本公司不承担任。如果阁下对您下注的任何注单有疑问，请随时联系我们的客服团队协助查找您的帐户历史记录。</p><h1>危险投注</h1><p>本公司只允许每个用户拥有一个有效帐号，若客户在本公司任意游戏产品中被本公司产品供应商或者本公司定为危险投注的话，本公司有权在任何时候关闭用户帐户，保留永久冻结危险客户在本公司生成任何盈利或全部危资金的权利，危险投注行为包括以下任意一项或多项：</p><p>客户拥有一个以上帐户且进行均进行过有效投注，同一电脑、同一浏览器、同一IP、同一手机号码、同一电子邮箱、一银行卡、同一身分证、同一网吧/办公室/公共上网地址或者被本公司官方确认为同一客户的玩家均属危险投注客户</p><p>客户被产品提供商确认为对冲投注、打水投注、软件投注或其他危险投注。</p><p>客户被本公司确认进行危险投注或危险违槼存取款操作。</p><p>客户参加公司优惠后进行帐户对打套利或与其他平台公司进行对打套利。</p><p>客户通过公司产品提供商游戏赔率错误/盘口错误导致生成帐户盈利。</p><p>客户通过黑客入侵、修改数据等暴利破解方式生成帐户盈利。</p><h1>交易结算</h1><p>使用信用卡或借记卡的客户，银行卡姓名必须与客户注册时的姓名一致。如果银行卡姓名与客户注册时的姓名不一致本公司在交易结算方面保留权力。</p><p>客户如果对本公司或其任何会员出现负债的情况，客户必须承担偿还债务的责任。在支付方面，如果客户有诈欺行，包括使用盗窃的信用卡，或其它诈欺行为（如追回或颠复支付款项或洗钱行为）的嫌疑，本公司有权立即冻结和或闭客户的帐户，没收其帐户余额，并把其数据（注明其身分）公布到任何有权接触此信息的在线娱乐网站、银行、信用公司、和相关机构和个人。任何由此生成的费用本公司将全力从此客户处追讨。</p><p>如果汇入客户帐户的资金有误，客户有责任立即通知本公司。任何情况下本司未知晓的错发的彩金将视为无效彩金并返还给本公司。</p><h1>帐户提款</h1><p>当客户从本公司获得机会赢取奖金，任何奖金都须符合本协议及我们提供的相关附加条款，才可享用此奖金。</p><p>客户从帐户提取奖金金额前须遵从相关条款的槼定与限制，否则将不给予办理。</p><p>客户提款币种须与存款币种保持一致。</p><p>本公司有权在任何时候撤回或修改奖金或优惠活动和或相关具体条款与槼则，并且不承担向客户或第三方解释说明的责任。</p><h1>休眠帐户</h1><p>若您的帐户从最后一次登录时间开始计算连续6个月没有任何交易将会归类为休眠帐户。</p><p>如果您的帐号从最后一次登录时间开始计算休眠状态超过18个月，本公司将有权将您的帐户余额捐赠给慈善机构或益事业，并关闭您的帐户。</p><p>在关闭您的帐户之前，本公司将会使用一切合理的方式与您联系。</p><h1>奖金</h1><p>当客户从本公司获得机会赢取奖金，任何奖金都须符合本协议及我们提供的相关附加条款，才可享用此奖金。</p><p>客户从帐户提取奖金金额前须遵从相关条款的槼定与限制，否则将不给予办理。</p><p>本公司保留在任何时候撤回或修改奖金或优惠活动和或相关具体条款与槼则，并且不承担向客户或第三方解释说明的责任。</p><h1>免责条款</h1><p>享用本公司提供的服务是客户本人的意愿，其风险应由客户本人承担。参与我们服务的同时就说明客户认同本公司所供的服务是正常、合理、公正、公平的。</p><p>某些法律槼则并未明文槼定在线和非在线博彩是否合法，而有些法律槼则已有明确槼定。如果按照客户当地法律博彩不合法行为，本公司不提倡阁下参与我们的服务。在博彩被视为不合法行为的任何国家本公司不提倡其国民加入。客户责任确保任何时候您的博彩行为在您所属地是属合法行为。</p><p>对于任何情况下由于卫星收讯不良或延误，网络中断，或个人使用网站服务时的失误，疏忽，或对网站内容的误解所生的任何损失，本公司概不负责。</p><p>由于第三方对公司网站和信息提供的服务（比如无线通信的提供者等）而导致的拖延、违约、或不提供服务的情况，公司不提供担保也不承担责任。</p><p>客户访问或使用我们网站服务、软件、信息服务、或下载、安装、使用我们软件而造成的任何直接、间接或重大或普亏损或经济损失，不论本公司是否被告知其可能性，本公司以及相关合夥公司，合作伙伴，合伙人，职员，代理将承担责任。</p><p>阁下需认同本协议部分或全部内容是临时性的，网站部分信息可能还需修改和更正。所以这些信息仅供参考，在客户本司之间并不构成协议，合同，和担保的依据。</p><p>阁下认同所有免责条款都是在公平公正，风险及利益分布合理的情况下成立的，它既反映了本公司对客户的关注，体现了客户对本公司的理解与支持。阁下进一步认同此条款的合法性和可实施性。</p><p>如果客户电脑配件上的赛果与我们服务器的赛果出现不一致的情况，我们服务器所显示的结果将为最终赛果。另外，本公司也认同对于客户参与我们服务的游戏规则，投注状况本公司拥有最终解释权。</p><p>本公司对当前我们所提供的服务不提供任何明示或暗示的担保，也不对其服务质量，适用性，完整性或精确性提供何担保和解释。</p><p>本公司尽全力为客户提供最优质，最安全可靠的服务，然而我们并不担保我们所提供的服务的稳定性，及时性和准性，或不担保错误及时更正或网站不受病毒或蠕虫干扰。</p><p>本公司绝对有权临时或永久性地立即暂停，终止，修改，删除或添加服务内容，而无需通知客户，对因其而生成的何损失本公司概不负责。</p><h1>帐户的终止，关闭或没收</h1><p>在以下情况本公司有权(唯一决定人)取消任何彩金，没收任何投注帐户余额，终止协议或因违反条款而冻结帐户</p><p>我们核实阁下拥有不止一个本公司帐户。</p><p>您并未告知您居住于以下地区：澳大利亚,比利时，塞浦路斯，丹塞浦路斯麦包括格陵兰和法罗群岛，德国，希腊，港，以色列，荷兰，菲律宾，新加坡，南非，西班牙，瑞士，台湾，土耳其，美国，意大利和法国，包含瓜德罗普岛，尼汪岛，马提尼克岛，法属圭亚那，法属波利尼西亚，马约特岛，新喀里多尼亚，圣巴泰勒米，圣马丁岛，圣皮埃尔，克隆群岛瓦利斯和富图纳群岛。</p><p>阁下违反本协议的任何条款槼则。</p><p>我们获悉阁下在其它娱乐网站有诈欺，合谋（包括诈回注金等等），非法或不当行为的不良纪录。</p><p>阁下是本公司员工或本公司员工亲属</p><p>阁下是本公司前雇员或本公司前雇员亲属等，离职时间少于6个月</p><p>阁下注册信息不真实或蓄意误导。</p><p>阁下不提供须提交的身分数据。</p><p>阁下未达到合法年龄。</p><p>阁下"退款"或导致"退款"反对我们或否认任何经由其帐户生成的注单或存款。</p><p>您获准其他人（有意或无意）使用您的帐号。</p><p>阁下的存款源自犯罪，或其它非法行为。</p><p>如果根据根据本条款，阁下的帐户被冻结无法享用我们的服务，只有在您完成必要的纠正进程并经由我们审核通过后阁下的帐户才可重新激活。</p><p>本公司在会员帐户的发放，更新和关闭上享有绝对权力。本公司管理层关于会员帐户，网站服务提供方面享有最决定权不得异议。我们有权随时关闭客户帐户，不论其原因。在决定运行前，我们将采取合适的方式提前通知客户本人除非在某种情况下此行为属非法或无法进行此行为。</p><h1>违反协议合约及索赔</h1><p>如果阁下违反本协议或其中部分条款，本公司有权采取适当的对应做法，包括终止协议，立即拦截阻止您访问我们站和使用我们的服务，关闭您的帐户，没收帐户资金和或采取必要的法律诉讼手段。</p><p>阁下承诺如出现以下情形，将对本公司及其股东，员工，职员，执照持有人，执照颁发者，合作伙伴及附属机构作全责赔偿损失，成本，开销，律师费用和其他收费等等，以及维护其合法权益，使免受责任牵连及负面影响。</p><p>您违反协议或协议部分内容。</p><p>您违反法律条例或影响第三方合法权益。</p><p>以及以上负面结果是由您本人使用我们网站服务造成，或其他人使用您的帐户信息登录造成，不论您是否有授权。</p><p>优先权</p><p>游戏规则和其他任何关于进入和使用本司网站服务的协议条款，将组成协议一个完整的部分。</p><p>除非有明文槼定，如果游戏规则和任何关于访问和使用本司网站服务的协议条款或协议其它部分相冲突的情况发生，请以游戏规则为准。</p><h1>管辖法律</h1><p>本协议以及相关条款都受相关法律约束并受监管。</p><h1>其它条款</h1><p>如果协议中一个条款在某法律范畴被裁定为非法，无效或不可实施，它将不会影响该条款在其它法律范畴的适用，不影响到协议其他条款在该法律范畴的适用，或其它条款在其它法律范畴的适用。</p><p>协议的标题仅供参考，它不影响到任何条款的构成或解释。</p><p>如果因以下超出控制范围的原因（包括天灾，政府管制，战争，暴动，发送中断，系统崩溃，电信或宽带服务中断电力中断等等）本公司不能按照协议槼定履行义务，将不会构成违反合约。</p><p>在本协议中，本公司未能或延迟行使或履行任何权利，补救措施，特权，并不代表本公司放弃此特权。</p><p>本公司有权随时未经通知转让该协议合约或其部分内容。然而，客户无权转让关于该协议您的权利或义务。</p><p>该协议不能生成或授予任何权利或其它利益给与此协议无关的第三方。</p><p>该协议不能生成或不能被视为生成本公司与您之间的合作，代理，信托或合资关系。</p><p>该协议为阁下与本公司之间关于网站服务使用协议的最新的完整版本，它将取代之前的版本。</p></p>
		</div>

		<div v-if="$route.params.id == 46">
			<p class="title">用户隐私协议</p>
			<p><p>您成为本公司用户前务必仔细阅读本隐私条款并同意本隐私条款。作为本公司服务的正常操作进程的一部分，本公司收集、使用并（在一些情况下）向第三方披露有关您的数据。本隐私条款作为本公司服务协议的附件，在您注册成为本公司用户後立即生效，并对您及本公司生成约束力。</p><h1>1.1 用户身分限制</h1><p>未成年人（年龄18周岁以下人士）、限制行为能力人、台湾以外地区人士及自然人以外的组织无资格注册成为本公司用户并使用本公司的服务，本公司要求未成年人、限制行为能力人、台湾以外地区人士及各类组织不要向本公司提交任何个人资料。</p><h1>1.2 涉及的个人资料</h1><p>本公司收集个人资料的主要目的在于向您提供一个顺利、有效和量身订造的交易经历。本公司仅收集本公司认为就此目的及达成该目的所必须的关于您的个人资料。</p><p>本公司可能自公开及私人数据源收集您的额外数据，以更好地了解本公司用户，并为其量身订造本公司服务、解决争议并有助确保在网站进行交易的安全性。</p><p>本公司按照您在本公司网址上的行为自动追踪关于您的某些数据。本公司利用这些数据进行有关本公司之用户的人口统计、兴趣及行为的内部研究，以更好地了解您以便向您和本公司的用户社区提供更好的服务。</p><p>本公司在本公司的某些网页上使用诸如“Cookies”的数据收集设备。“Cookies”是设置在您的硬盘上的小文件，以协助本公司为您提供量身订造的服务。本公司亦提供某些只能通过使用“Cookies”才可得到的功能。本公司还利用“Cookies”使您能够在某段期间内减少输入密码的次数。“Cookies”还可以协助本公司提供专门针对您的兴趣而提供的数据。</p><p>如果您将个人通信信息（例如：手机短信、电邮或信件）交付给本公司，或如果其他用户或第三方向本公司发出关于您在本公司上的活动或登录事项的通信信息，本公司可以将这些数据收集在您的专门文件中。</p><h1>1.3 本公司对您的数据的使用</h1><p>您同意本公司可使用关于您的个人资料（包括但不限于本公司持有的有关您的文件中的数据，及本公司从您当前及以前在本公司上的活动所获取的其他数据）以解决争议、对纠纷进行调停、有助于确保在本公司进行安全交易，并运行本公司的用户协议。本公司有时候可能调查多个用户以识别问题或解决争议，特别是本公司可审查您的数据以区分使用多个用户名或别名的用户。为限制在网站上的诈欺、非法或其他刑事犯罪活动，使本公司免受其害，您同意本公司可通过人工或自动进程对您的个人资料进行评价。</p><p>您同意本公司可以使用您的个人资料以改进本公司的推广和促销工作、分析网站的使用率、改善本公司的内容和产品推广形式，并使本公司的网站内容、设计和服务更能符合用户的要求。这些使用能改善本公司的网页，以调整本公司的网页使其更能符合您的须求，从而使您在使用本公司服务时得到更为顺利、有效、安全及量身订造的交易体验。</p><p>您同意本公司利用您的数据与您联系并（在某些情况下）向您传递针对您的兴趣而提供的信息，例如：有针对性的广告条、行政管理方面的通知、产品提供以及有关您使用本公司的通信。您接受服务协议和隐私条款即为明示同意收取这些数据。</p><h1>1.4 本公司对您的数据的修改或删除</h1><p>您可以授权本公司帮助您修改您在本公司填写的一切个人数据。如您违反服务协议等本公司槼则或法律槼定，本公司有权经电子邮件告知後在网站数据库中删除您的个人资料、关闭帐户或者限制您使用本公司。</p><p>网站有权根据实际审核结果在不通知您的情况下对您所填写的与事实不符的数据进行修正或更改。</p><h1>1.5 本公司对您的数据的披露</h1><p>本公司采用行业标准惯例以保护您的个人资料，但鉴於技术限制，本公司不能确保您的全部私人通信及其他个人资料不会通过本隐私条款中未列明的途径泄露出去，对此本公司不承担任何责任。</p><p>本公司有权根据有关法律和监管要求，本公司风险控制要求以及相关协议要求向司法机关等政府部门、社会组织或团体、其他第三方服务或合作机构提供您的个人资料。在您未能按照与本公司签订的服务协议、居间协议或者与本公司企业用户签订的借款（担保）协议的约定履行自己应尽的义务时，本公司有权根据自己的判断或者与该笔交易有关的其他用户的请求披露您的个人资料，并作出评论。</p><h1>1.6 您对其他用户的数据的使用</h1><p>在本公司提供的交易活动中，您无权要求本公司提供其他用户的个人资料，除非符合以下条件：</p><p>1) 您已向法院起诉其他用户的在本公司活动中的违约行为。</p><p>2) 本公司被吊销营业执照、解散、清算、声明破产或者其他有碍于您收回借款本息的情形。</p><h1>1.7 电子邮件</h1><p>您不得使用本公司提供的服务或其他电子邮件转发服务发送垃圾邮件或其他可能影响本公司系统运行或违反本公司的用户协议或隐私条款的内容。</p><p>如果您利用本公司的服务向没有在本公司内注册的电子邮件地址发出电子邮件,本公司除了利用该电子邮件地址发出您的电子邮件之外将不作任何其他用途。本公司不会出租或出售这些电子邮件地址。本公司不会永久保存电子邮件信息或电子邮件地址。</p><h1>1.8 密码的安全性</h1><p>您须对使用您的用户名和密码所采取的一切行为负责。因此，本公司建议您不要向任何第三方披露您在本公司的用户名和密码。</p><h1>1.9 槼则修改</h1><p>本公司可能不时按照您的意见和本公司的需要修改本隐私条款，以准确地反映本公司的数据收集及披露惯例。本条款的所有修改，在本公司公布有关修改内容後自动生效或在该等条款指定的日期生效。</p></p>
		</div>


		<div v-if="$route.params.id == 61">
			<p class="title">如何绑定银行帐户？</p>
			<p>具体操作流程如下：<br>(1)登录玩家中心後，依次点击 “帐户管理-&gt;银行帐户信息”。<br>(2)根据页面提示填写相关银行帐户信息。<br>(3)确认信息无误後，点击“确认”即可完成绑定</p>
		</div>
		<div v-if="$route.params.id == 62">
			<p class="title">我可以绑定多个银行帐户吗？</p>
			<p>不可以！一个玩家帐户仅支持绑定一个银行帐户，且绑定的银行帐户名必须与玩家的真实姓名一致。</p>
		</div>

		<div v-if="$route.params.id == 63">
			<p class="title">如何更换已绑定的银行帐户？</p>
			<p>银行帐户更换与绑定流程基本一致，具体操作步骤详见如何绑定银行帐户？其中，仅支持更换为帐户名与真实姓名一致的银行帐户，否则取款将失败！<br><br>温馨提示：<br>若由于玩家绑定的银行帐户名与您填写的真实姓名不一致，而导致出款失败或延迟，请玩家自行负责！</p>
		</div>

		<div v-if="$route.params.id == 64">
			<p class="title">为什麽我要设置真实姓名？</p>
			<p>真实姓名是证明您身分的重要凭证之一，且真实姓名将用于匹配收款银行帐号，银行卡帐户名与玩家真实姓名一致时才可以取款成功！为确保您帐户的安全，真实姓名一旦设置不可修改！</p>
		</div>

		<div v-if="$route.params.id == 65">
			<p class="title">真实姓名填错了怎麽修改？</p>
			<p>一经填写，玩家本人无法直接修改真实姓名！如有需要，请您在线客服服协助您做数据更改。</p>
		</div>

		<div v-if="$route.params.id == 66">
			<p class="title">我的真实姓名会被泄漏吗？</p>
			<p>本公司网站绝对安全，我们决不泄漏玩家的真实姓名及其他个人资料给任何商业机构。</p>
		</div>





		<div v-if="$route.params.id == 71">
			<p class="title">为何我的帐号会被冻结？</p>
			<p>输入五次错误密码系统为了您的帐号资金安全将自动冻结您的游戏帐号，届时请您联系24小时在线客服人员协助处理。</p>
		</div>
		<div v-if="$route.params.id == 72">
			<p class="title">为什麽我会被登出？</p>
			<p>您好，这是网页的保安程序之一，当您在一定的时间内没有使用有关的网页，那麽有关的网页将不再活跃，并且无法浏览最新的页面，在此您必须重新登录。或者您在其余的设备登陆了那之前的设备将登出。若您重新登录後情况仍然一样请立即联系我们。</p>
		</div>
		<div v-if="$route.params.id == 73">
			<p class="title">为什麽我浏览的页面不能正常显示？</p>
			<p>低版本浏览器不支持HTML5, CSS3, jQuery2.0等网页进程，很可能造成网页功能缺失。若当前您使用的浏览器为IE8或更低版本， 建议您使用IE10、IE11、火狐或谷歌浏览器，以获取最佳体验效果！</p>
		</div>
		<div v-if="$route.params.id == 74">
			<p class="title">为什麽要进行验证？</p>
			<p>验证信息主要是为了确保您的帐户安全。我们要验证的是手机验证、邮箱验证、银行卡验证。</p>
		</div>
		<div v-if="$route.params.id == 75">
			<p class="title">我可以只试玩而不下注吗？</p>
			<p>针对一些游戏我们支持试玩，可选择试玩信道进行试玩。</p>
		</div>

		<div v-if="$route.params.id == 76">
			<p class="title">别人可以用我的帐户进行交易吗？</p>
			<p>会员有责任确保自己的帐户及登录数据的保密性。以用户名称及密码进行的任何网上交易将被视为有效。</p>
		</div>

		<div v-if="$route.params.id == 77">
			<p class="title">最基本的注单查找方式？</p>
			<p>可以通过登录官网帐户后点击投注记录查找，或者进入到游戏里的账目查找。</p>
		</div>

		<div v-if="$route.params.id == 78">
			<p class="title">请问各个游戏的注额为多少？</p>
			<p>真人游戏-最低下注100TWD 最高限额30万TWD （可根据不同类型会员进行调高注码额度）<br>彩票游戏-最低下注100TWD最高限额依照游戏及玩法不同，最高可到1000000TWD<br>电子几率-最低下注5TWD最高限额依照游戏及玩法不同<br>如有任何疑问请咨询24小时在线客服！ </p>
		</div>

		<div v-if="$route.params.id == 79">
			<p class="title">如何证明游戏结果是实时的？</p>
			<p>您好，您可以通过游戏的视频影象进行监查，视频内的画面均为现场娱乐城所播放的画面是同步的。我们每一个视频上都配备一个确认真实性电话，您可拨打此号码确认所有游戏结果均为真实的实时结果。</p>
		</div>
		<div v-if="$route.params.id == 80">
			<p class="title">你们的流水红利政策是怎麽样的？</p>
			<p>当前我们有以下红利：<br>新用户首存红利<br>娱乐场、钻石厅娱乐场有周返水红利<br>快乐彩周返水红利<br >体育周返水红利</p>
		</div>
		<div v-if="$route.params.id == 81">
			<p class="title">有效流水在每个平台是如何计算的？</p>
			<p>有效流水计算： 1.百家乐项目，若单局输赢的绝对值大于75%本金，以本金作为有效投注额。 2.其他盘口按单局本金计算有效投注额。当投注净输时，按净输金额绝对值计算流水。当投注净赢金额<75%，则按净赢金额计算流水，净赢金额>=75%，以全额投注金额计算流水。</p>
		</div>




	</div>
</div>

</template>

<script>
//import QuestionModal from './Question.vue'
import { mapGetters } from 'vuex'
//import { globalMixin } from 'mixin.js'
//import sess from 'sess.js'

export default {
//	mixins: [globalMixin],
	data() {
		return {
			title:{
				'1':'开户条约',
			}
		}
	},
	computed: {
		/*
		...mapGetters({
			config: 'config',
			user: 'user',
			web: 'web',
		}),*/
		headerTitle(){
			if (!this.title[this.$route.params.id]) return this.$route.name;
			return this.title[this.$route.params.id];
		}
	},
	methods: {
	},
	destroyed() {

	},

	mounted(){
//		let h = sess.get(this.$route.path)
//		this.$refs.pageContent.scrollTop = h.scrollTop || 0;
	},
	created(){
	}
}
</script>
<style>
.category-content.page-content {
	background-color:#fff;
	padding:20px;
	color:#666;
	font-size:14px;
}
.category-content.page-content .title {
	font-size:15px;
	font-weight:700;
	color:#333;
}
.category-content.page-content h1 {
	font-weight:700;
	color:#333;
}
.category-content.page-content p {
	margin:18px 0;
	line-height:22px;
}



</style>
