<template>
<div class="page has-navbar" v-nav="{title: title[$route.params.id], showBackButton: true}">
	<div class="page-content padding-top">



		<list class="list-ios hl-list-borderless" v-if="$route.params.id == 1">
			<item class="item-icon-right" @click.native="go2page('/help/category/1/content')">
				开户条约<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/2/content')">
				如何注册？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/3/content')">
				如何登录会员中心？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/4/content')">
				登录时密码提示错误，我该怎麽办？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/5/content')">
				我可以注册多个帐号吗？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/6/content')">
				我想删除/注销我的帐号可以吗？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/7/content')">
				如何找回登录密码？<i class="icon ion-ios-arrow-right"></i>
			</item>
		</list>

		<div v-if="$route.params.id == 2" class="cells fs14" style="margin-top:0px;color:#666; padding:15px;">我们一直将保护客户隐私及安全性作为首要宗旨，所有支付交易的处理均采用了最高标准的数据加密方式，采用128位SSL加密技术和严格的安全管理体系，确保客户安全得到最完善的保障。</div>


		<list class="list-ios hl-list-borderless" v-if="$route.params.id == 2">
			<item class="item-icon-right" @click.native="go2page('/help/category/11/content')">
				有哪些存款途径？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/12/content')">
				存款未到帐如何处理？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/13/content')">
				存款是否需要缴纳手续费或其他费用？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/14/content')">
				为什麽在线支付成功後额度没有立即增加？<i class="icon ion-ios-arrow-right"></i>
			</item>
		</list>


		<list class="list-ios hl-list-borderless" v-if="$route.params.id == 3">
			<item class="item-icon-right" @click.native="go2page('/help/category/21/content')">
				提款流程<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/22/content')">
				提款限额是多少？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/23/content')">
				提款什麽时候可以到帐？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/24/content')">
				可否提款到其他人的银行帐户？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/25/content')">
				提款是否需要缴纳手续费或其他费用？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/26/content')">
				当我在真人游戏赢了钱，我该如何提款？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/27/content')">
				可以取消提款申请吗？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/28/content')">
				提款申请为什麽会不通过？<i class="icon ion-ios-arrow-right"></i>
			</item>
		</list>


		<list class="list-ios hl-list-borderless" v-if="$route.params.id == 4">
			<item class="item-icon-right" @click.native="go2page('/help/category/31/content')">
				什麽是转帐？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/32/content')">
				为什麽游戏前要先进行转帐？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/33/content')">
				游戏和游戏之间可以互相转帐吗？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/34/content')">
				为什麽向游戏转帐会失败？<i class="icon ion-ios-arrow-right"></i>
			</item>
		</list>



		<list class="list-ios hl-list-borderless" v-if="$route.params.id == 5">
			<item class="item-icon-right" @click.native="go2page('/help/category/41/content')">
				我进行游戏有安全保障吗？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/42/content')">
				隐私保护槼则<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/43/content')">
				投注槼则与槼定<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/44/content')">
				博彩责任<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/45/content')">
				槼则与条款<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/46/content')">
				用户隐私协议<i class="icon ion-ios-arrow-right"></i>
			</item>
		</list>


		<list class="list-ios hl-list-borderless" v-if="$route.params.id == 7">
			<item class="item-icon-right" @click.native="go2page('/help/category/61/content')">
				如何绑定银行帐户？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/62/content')">
				我可以绑定多张银行帐户吗？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/63/content')">
				如何更换已绑定的银行帐户？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/64/content')">
				为什麽我要设置真实姓名？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/65/content')">
				真实姓名填错了怎麽修改？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/66/content')">
				我的真实姓名会被泄漏吗？<i class="icon ion-ios-arrow-right"></i>
			</item>
		</list>

		<list class="list-ios hl-list-borderless" v-if="$route.params.id == 8">
			<item class="item-icon-right" @click.native="go2page('/help/category/71/content')">
				为何我的帐号会被冻结？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/72/content')">
				为什麽我会被登出？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/73/content')">
				为什麽我浏览的页面不能正常显示？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/74/content')">
				为什麽要进行验证？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/75/content')">
				我可以只试玩而不下注吗？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/76/content')">
				别人可以用我的帐户进行交易吗？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/77/content')">
				最基本的注单查找方式？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/78/content')">
				请问各个游戏的注额为多少？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/79/content')">
				如何证明游戏结果是实时的？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/80/content')">
				你们的流水红利政策是怎麽样的？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/81/content')">
				有效流水在每个平台是如何计算的？<i class="icon ion-ios-arrow-right"></i>
			</item>
		</list>




	</div>
</div>

</template>

<script>
//import QuestionModal from './Question.vue'
import { mapGetters } from 'vuex'
import { globalMixin } from 'mixin.js'
import sess from 'sess.js'

export default {
	mixins: [globalMixin],
	data() {
		return {
			title:{
				'1':'登录注册',
				'2':'存款流程',
				'3':'提款流程',
				'4':'转帐流程',
				'5':'帐户安全',
				'6':'会员制度',
				'7':'银行相关',
				'8':'其它问题',
			}
		}
	},
	computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
			web: 'web',
		}),
	},
	methods: {
	},
	destroyed() {

	},

	mounted(){
//		let h = sess.get(this.$route.path)
//		this.$refs.pageContent.scrollTop = h.scrollTop || 0;
	},
	created(){
	}
}
</script>
<style>


</style>
