<template>
<div class="page has-navbar" v-nav="{title: $route.name, showBackButton: true}">
	<div class="page-content padding padding-top hot-question">

		<div v-if="$route.params.id == 1">
			<p class="title">为什麽在线支付成功後额度没有立即增加？</p>
			<p>这是因为在线支付系统需要经过密码锁切换及内部验证进程，而这也是我们的保安进程之一，所以请您不必担心，款项一定不会丢失。如果您在线支付超过30分锺後仍然还未收到您的款项，请与我们客服联系处理。</p>
		</div>

		<div v-if="$route.params.id == 2">
			<p class="title">快速入款存款未到帐如何处理？</p>
			<p>由于跨行汇款的到帐时间是取决银行方面办理速度，一般都是有1-8小时的到帐时间，请您耐心等待。如果已成功汇款，可能是由于第三方支付公司还没有收到您的款项，请麻烦发送发票的扫描件或是清淅照片（如果是网银汇款请发送汇款明细的截屏）给我们，我们会马上为您提交到第三方支付公司进行查找。</p>
		</div>

		<div v-if="$route.params.id == 3">
			<p class="title">提款什麽时候可以到帐？</p>
			<p>取款申请审核通过后，一般会在3-5分锺内为您进行线下转帐。若逾时仍未收到款项，则可能是取款银行帐号数据有误或银行帐号小额管理费未缴等问题所造成的。财务人员在无法出款时都会及时进行通知，若玩家未填写有效的联系方式也会造成财务无法联系的情况发生，请您务必填写正确有效的联系信息。同时，您也可随时联系在线客服了解进度。</p>
		</div>

		<div v-if="$route.params.id == 4">
			<p class="title">提款申请为什麽会不通过？</p>
			<p>防止部分玩家利用本公司进行洗钱等非法资金操作，为避免部分玩家以套利为目的参与活动，我司对于所有的提款均会进行审核，申请不通过的主要因素考虑如下：<br>1、判断有效投注额是否达到存款，优惠的流水要求。<br>2、取款信息是否符合取款者信息。<br>3、投注是否异常，存在恶意刷流水套利行为。 <br>4、同一用户多帐户行为。</p>
		</div>

		<div v-if="$route.params.id == 5">
			<p class="title">为什麽向游戏转帐会失败？</p>
			<p>向游戏转帐失败可能存在以下几种原因：<br>(1)第三方游戏数据异常或正在升级维护中。<br>(2)数据对接异常，暂时无法进行资金操作。<br>(3)网络连接异常，导致订单超时。 <br>温馨提示：<br>转帐失败时，建议您重新发起请求，或稍等片刻後再进行操作！ </p>
		</div>

		<div v-if="$route.params.id == 6">
			<p class="title">你们的流水红利政策是怎麽样的？</p>
			<p>当前我们有以下红利：<br>新用户首存红利<br>娱乐场、钻石厅娱乐场有周返水红利<br>快乐彩周返水红利<br >体育周返水红利</p>
		</div>

		<div v-if="$route.params.id == 7">
			<p class="title">有效流水在每个平台是如何计算的？</p>
			<p>有效流水计算： 1.百家乐项目，若单局输赢的绝对值大于75%本金，以本金作为有效投注额。 2.其他盘口按单局本金计算有效投注额。当投注净输时，按净输金额绝对值计算流水。当投注净赢金额<75%，则按净赢金额计算流水，净赢金额>=75%，以全额投注金额计算流水。</p>
		</div>

		<div v-if="$route.params.id == 8">
			<p class="title">隐私信息是否安全？</p>
			<p>本公司将尽全力保护客户提供给我们的个人资料，不会蓄意将该数据泄漏给外人，除非此政策条款里有明文槼定。所有本公司员工都被要求遵循该政策条款。员工有义务严密​​的保守客户的个人资料，即使员工离开本公司後仍须坚守此义务。阁下本人也须保护好您的个人资料。阁下应严守您的帐户密码，不应将此透露给其他人。</p>
		</div>
		<div v-if="$route.params.id == 9">
			<p class="title">我可以注册多个帐号吗？</p>
			<p>客户不可以同时拥有多个帐号，如发现客户拥有多个户口，公司有权取消其户口以及投注，本公司保留权利取消或关闭您的帐户本公司有权限制客户只保留其中一个户口。</p>
		</div>
		<div v-if="$route.params.id == 10">
			<p class="title">请问各个游戏的注额为多少？</p>
			<p>真人游戏-最低下注100TWD 最高限额30万TWD （可根据不同类型会员进行调高注码额度）<br>彩票游戏-最低下注100TWD最高限额依照游戏及玩法不同，最高可到1000000TWD<br>电子几率-最低下注5TWD最高限额依照游戏及玩法不同<br>如有任何疑问请咨询24小时在线客服！ </p>
		</div>

	</div>
</div>

</template>

<script>
//import { mapGetters } from 'vuex'
//import { globalMixin } from 'mixin.js'
export default {
	//mixins: [globalMixin],
	data() {
		return {
		}
	},
	computed: {
/*
		...mapGetters({
			config: 'config',
			user: 'user',
			web: 'web',
		}),
*/
	},
	methods: {
	},
	destroyed() {
	},

	mounted(){
 	},
	created(){

	}
}
</script>
<style>
.hot-question.page-content {
	background-color:#fff;
	padding:20px;
	color:#666;
	font-size:14px;
}
.hot-question.page-content .title {
	font-size:15px;
	font-weight:700;
	color:#333;
}
.hot-question.page-content .title {
	margin:18px 0;
	line-height:22px;
}
</style>
