<template>
	<div class="page has-navbar" v-nav="{title: $route.name, showBackButton: true}">
		<div class="page-content">

			<div class="helpInfo">
					<h2>会员等级</h2>
					<p>会员等级共分为一般、黄金、白金、钻石4个等级。</p>
					<p>每个等级达到一定储值量即可升级到下个等级，享受更高返水比例。</p>


<table class="member-level-table">
<thead>
	<tr>
		<th>游戏/等级</th>
		<th>一般会员</th>
		<th>黄金会员</th>
		<th>白金会员</th>
		<th>钻石会员</th>
	</tr>
	<tr>
		<td>储值量</td><td>0</td><td>60,000</td>	<td>500,000</td><td>2,000,000</td>
	</tr>


</thead>
</table>



<p></p>
					<h2>返水比例</h2>
<table class="member-level-table">
<thead>
	<tr>
		<th>游戏/等级</th>
		<th>真人游戏</th>
		<th>体育游戏</th>
		<th>电子/捕鱼</th>
		<th>彩票彩球</th>
	</tr>
	<tr>
		<td>一般会员</td><td>0.25%</td><td>0.15%</td>	<td>0.35%</td><td>0.15%</td>
	</tr>
	<tr>
		<td>黄金会员</td><td>0.3%</td><td>0.2%</td>	<td>0.4%</td><td>0.2%</td>
	</tr>
	<tr>
		<td>白金会员</td><td>0.4%</td><td>0.25%</td>	<td>0.5%</td><td>0.25%</td>
	</tr>
	<tr>
		<td>钻石会员</td><td>0.5%</td><td>0.3%</td>	<td>0.6%</td><td>0.3%</td>
	</tr>

</thead>
</table>

<p>
	<center>注：最高返水上限为10000点</center>
</p>

					<h2>洗码槼则</h2>
<ol style="line-height: 24px;color: #666;font-size:14px;    list-style-type: decimal;    padding-left: 20px;">
　<li>所有优惠点数以新台币(NTD)：点数 = 1：1 为结算金额，以台北时间为计时区间。</li>
　<li>单以获得的返水金额进行游戏，隔日无返水金额：如当天有进行储值，可合并计算，故隔日将发放返水金额。所获得的返水金额需达1倍的有效投注，方可出款。</li>
　<li>本活动计算的为有效押码，无风险投注皆不计算入有效押码，无风险投注包括（在百家乐时同时投注庄家、闲家，轮盘及骰宝及其他相似投注法时同时投注黑、红，单、双，大、小等）。</li>
　<li>北京赛车、幸运飞艇：最多只能下六车，超过六车一律视为洗流水套利。</li>
　<li>轮盘投注不能超过22个号码以上，超过一律视为洗流水套利。</li>
　<li>每位玩家、每户、每一住址、每一电子信箱地址、每一电话号码、相同付款方式及IP地址只能享有一次优惠。若会员有重复申请帐号行为，公司保留取消或收回会员优惠彩金的权利。</li>
　<li>娱乐城的所有优惠特为玩家而设，如发现任何团体或个人，以不诚实方式套取红利或任何威胁、滥用公司优惠等行为，公司保留冻结、取消该团体或个人帐户及帐户结余的权利。</li>
　<li>任何会员不得利用本公司提供的各种优惠红利，进行集体投注及其他方式恶意套利。本公司保留追究恶意影响本公司正常运作的权利。</li>
　<li>若会员对活动有争议时，为确保双方利益，杜绝身分盗用行为，本公司有权要求会员向我们提供充足有效的文档，用以确认是否享有该优惠的资格。</li>
　<li>当参与优惠会员未能完全遵守、或违反、或滥用任何有关公司优惠或推广的条款，又或我们有任何证据有任何团队或个人投下一连串的关联赌注，籍以造成无论赛果怎样都可以确保可以从该存款红利或其他推广活动提供的优惠获利，本公司保留权利向此团队或个人停止、取消优惠或索回已支付的全部优惠红利。此外，公司亦保留权利向这些客户扣取相当于优惠红利价值的行政费用，以补偿我们的行政成本。</li>
　<li>最终解释权由本公司所有。 </li>
</ol>


			</div>

		</div>
	</div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
	data() {
		return {
		}
	},
	computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
			web: 'web',
		}),
	},
	methods: {
	},
	mounted(){
	},
	created() {
		//this.$store.dispatch('getUserInfo');
	},
}
</script>
<style scoped>


.member-level-table  {

  font-size:14px;
  border:1px solid #ebeef5;
  text-align:center;
  border-collapse:collapse;

  margin:0 auto;
}
.member-level-table th {
  background-color: #409eff;
  padding:10px;
  border:1px solid #ebeef5;
  color:#fff;
  font-weight: 400;
}
.member-level-table td {
  border:1px solid #ebeef5;
  padding:5px;
  color:#666;
}
.subtitle{
	padding: 10px 10px;
	font-size: 16px;
	font-weight: bold;
}
.yd-grids-icon img{
	height: 100px;
}


.helpInfo {
    background: #fff;
    min-height: calc(100% - 72px);
    padding: 20px 20px 72px;
}
.helpInfo h1 {
    font-size: 14px;
    font-weight: 700;
    padding-top: 20px;
}
.helpInfo h1:first-of-type {
    padding-top: 0;
}
.helpInfo h2 {
    font-size: 16px;
    font-weight: 700;
    color: #333;
    margin: 10px 0 20px;
}
.helpInfo p {
    line-height: 20px;
    font-size: 14px;
    margin: 20px 0;
}


</style>
