<template>
	<div class="page has-navbar" v-nav="{title: $route.name, showBackButton: true}" style="touch-action: none;">
		<div class="page-content pomotion" ref="pageContent">
      <scroller class="page-content padding-top transfer-log" ref="scroller" no-data-text="" :on-infinite="onLoadPage" >
				<item v-for="(item, index) in blog" class="record-item" :key="index" @click.native="onItemClick(item)" >
					<div class="record-cell memo">
						<span class="title">{{ item.title }}</span><br>
					</div>
					<div class="date text-center">
						<div>{{ item.created_at | onlyDate }}</div>
					</div>
				</item>
      </scroller>
		</div>

		<yd-popup v-model="showDetail" position="bottom" width="100%" height="100%" masker-opacity="0">
			<von-header>
				<span slot="title">详情</span>
				<button class="button button-icon ion-ios-close-empty" @click="showDetail = false" slot="right"></button>
			</von-header>
			<div class="page-content popup-detail blog-detail">

				<div class="cells padding">
					<div class="type" v-html="content">

					</div>
				</div>
			</div>
		</yd-popup>        
	</div>
</template>

<script>
//import PromotionDetail from './PromotionDetail.vue'
//import sess from 'sess.js'
import { globalMixin } from 'mixin.js'
import { apiBlog } from 'api.js'
import { mapGetters } from 'vuex'
export default {
	mixins: [globalMixin],
	filters:{
		onlyDate:function (value){
			return value.split(' ')[0];		
		}
	},
	data() {
		return {
            blog:[],
            detial:'',
            page: 1,
			current_page: 0,
            last_page: 1,
            showDetail:false,
            content:'',
		}
	},
    computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
			web: 'web',
		}),
    },
	methods: {
		search(page, fn){
        	//$loading.show('努力读取中...');
			apiBlog(page, {
							})
				.then(response => {
						if(response.data.data.current_page == 1){
							this.blog = response.data.data;
						}else{
							this.blog = this.blog.concat(response.data.data);
						}
						this.last_page = response.data.last_page;
						this.current_page = response.data.current_page;

						if(this.current_page < this.last_page){
							setTimeout(() => {
									this.$refs.scroller.finishInfinite();
							});
						}else{
							setTimeout(() => {
									this.$refs.scroller.finishInfinite(true);
							});
						}
				})
				.catch(error => {
					console.log(error);
					//setTimeout(() => {
						//$loading.hide();
					//}, 0);
				})
				.finally(() => {
					setTimeout(() => {
						if(fn)	fn();
						//$loading.hide();
					}, 0);
				});
		},
		onRefresh(){
			this.search(1, this.$refs.scroller.finishPullToRefresh);
		},
		onLoadPage(){
			//console.log("current_page - last_page" + this.current_page + "-" + this.last_page);
			if(this.current_page < this.last_page)
				this.search(this.current_page + 1);
			else{
				setTimeout(() => {
						this.$refs.scroller.finishInfinite(true);
				});
			}
		},
		onItemClick(item){
		//	console.log(index);
		//	console.log(this.item );
			this.content = item.content;
			this.showDetail = true;
		},
	},

}
</script>
<style scoped>
.page-content.pomotion {
    padding-top: 92px !important;
}
.record-item{
    display: inline-flex;
    width: 100%;
    background: none;
    color: #FFFFFF;	
    border: none;
 }


.record-item .date{
	color: #69717B;

}

.memo{
    width: 80%;
    text-overflow:ellipsis;
    white-space:nowrap;
	overflow: hidden;
}
.date{
    width: 20%;
}
</style>

<style>
	
.detail-popup .modal .page-content{
  background: linear-gradient(-46deg, #161A1D, #272C30);

}

.record-item .hairline-top:before{
	content: none;

}

.page .page-content.blog-detail{
	background: linear-gradient(-46deg, #161A1D, #272C30);
}

.page .page-content.blog-detail .cells{
	font-size: 14px;
	background: none;
	color: #BBC5D1;
	line-height: 2em;
}

.page .page-content.blog-detail .cells p{
	margin-bottom: 1em;

}

.record-item .hairline-bottom:after{
  position: absolute;
  content: "";
  left: 0;
  background: linear-gradient(90deg, #2C3036cc 15%, #0658C8 50%, #2c3036cc 85%);
  height: 2px;
  width: 100%;
}
</style>