<template>
	<div class="page has-tabbar" v-tabbar-menu-index="1">


		<div class="page-content">
			<div class="nav-header">
				<span class="title">{{$route.name}}</span>
			</div>
			<div class="tab-vertical-left">
				<ul ref="tabItems">
					<li @click="tabClick" name="live">真人</li>
					<li @click="tabClick" name="slot">电子</li>
					<!--li @click="tabClick" name="fisher">捕鱼</li-->
					<li @click="tabClick" name="chess">对战</li>
					<li @click="tabClick" name="sport">体育</li>
					<li @click="tabClick" name="lottery">彩票</li>
					<li @click="tabClick" name="av">影城</li>
					<li @click="go2page('/promotion')">优惠</li>
					<li @click="go2page('/blog')">文章</li>
					<li @click="go2page('/help')">帮助</li>
					<!--li @click="go2page('/pricing')">包网</li-->
				</ul>
			</div>
			<div class="tab-vertical-right">
				<div v-if="tabs.live">
					
					<div @click="startGame('WM','WM')">
						<div class="live-box">
							<div class="item-left"><img src="~assets/images/live/wm.jpg" width="100%"></div>
							<div class="item-right">
								<div class="game-title fs15">WM真人</div>
								<div class="fs12 nowrap">丰富多彩的游戏</div>
								<div class="link-game"><span>进入游戏</span></div>
							</div>
						</div>
					</div>
					

					<div @click="startGame('ALLBET_LIVE','ALLBET_LIVE')">
						<div class="live-box">
							<div class="item-left"><img src="~assets/images/live/allbet.jpg" width="100%"></div>
							<div class="item-right">
								<div class="game-title fs15">欧博真人</div>
								<div class="fs12 nowrap">顶尖技术 流畅体验</div>
								<div class="link-game"><span>进入游戏</span></div>
							</div>
						</div>
					</div>
					
					<div @click="startGame('SA_LIVE','SA_LIVE')">
						<div class="live-box">
							<div class="item-left"><img src="~assets/images/live/sa.jpg" width="100%"></div>
							<div class="item-right">
								<div class="game-title fs15">SA真人</div>
								<div class="fs12 nowrap">减少等待 投注快速</div>
								<div class="link-game"><span>进入游戏</span></div>
							</div>
						</div>
					</div>
					
					<div @click="startGame('DG','DG')">
						<div class="live-box">
							<div class="item-left"><img src="~assets/images/live/dg.jpg" width="100%"></div>
							<div class="item-right">
								<div class="game-title fs15">DG真人</div>
								<div class="fs12 nowrap">提供个性化游戏</div>
								<div class="link-game"><span>进入游戏</span></div>
							</div>
						</div>
					</div>
					<!--
					<div @click="startGame('OG','OG')">
						<div class="live-box">
							<div class="item-left"><img src="~assets/images/live/og.jpg" width="100%"></div>
							<div class="item-right">
								<div class="game-title fs15">OG真人</div>
								<div class="fs12 nowrap">感受剌激 体验心跳</div>
								<div class="link-game"><span>进入游戏</span></div>
							</div>
						</div>
					</div>



					-->


					<!--div @click="startGame('GT','GT')">



						<div class="live-box">
							<div class="item-left"><img src="~assets/images/live/gt.jpg" width="100%"></div>
							<div class="item-right">
								<div class="game-title fs15">GT真人</div>
								<div class="fs12 nowrap">美女热线传情</div>
								<div class="link-game"><span>进入游戏</span></div>
							</div>
						</div>

					</div-->


					<div @click="startGame('RG','RG')">
						<div class="live-box">
							<div class="item-left"><img src="~assets/images/live/rg.jpg" width="100%"></div>
							<div class="item-right">
								<div class="game-title fs15">皇家真人</div>
								<div class="fs12 nowrap">美女热线传情</div>
								<div class="link-game"><span>进入游戏</span></div>
							</div>
						</div>
					</div>
					<div style="text-align: center;" v-if="false">
							<div style="margin: auto;width: 115px;"><img src="~assets/images/app_dl.png" width="100%"></div>
							<div >
								<div class="game-title fs15">APP下载</div>
							</div>
					</div>
				</div>

				
				

				<div v-if="tabs.chess">

					<div @click="startGame('CHINNIU','CHINNIU');">
						<div><img src="~assets/images/chess/chinniubanner.jpg" width="100%"></div>
						<div class="game-title fs15">宾果牛牛<div class="link-game pull-right" style="margin-top:-2px;"><span class="fs12 fw400">进入游戏</span></div></div>
						<div class="fs12">以台湾宾果宾果为主，公平公正公开的宾果牛牛，每5分锺一期, 共203期，还在等什麽？应有尽有；千人在线，胜者为王。</div>
					</div>

					<div style="text-align: center;">
							<div style="margin: auto;width: 115px;"><img src="~assets/images/app_dl.png" width="100%"></div>
							<div >
								<div class="game-title fs15">APP下载</div>
							</div>
					</div>

				</div>
				
				
				
				
				<div v-if="tabs.slot">


					<div>
						<div class="live-box"  @click="go2page('/games/slot/qt')">
							<div class="item-left"><img src="~assets/images/slot/slot_card_qt.jpg" width="100%" height="86"></div>
							<div class="item-right">
								<div class="game-title fs15">QT电子游戏</div>
								<div class="fs12 nowrap">百款游戏 任君挑选</div>
								<div class="link-game"><span>游戏列表</span></div>
							</div>
						</div>
					</div>


					<div>
						<div class="live-box" @click="go2page('/games/slot/ae')">
							<div class="item-left"><img src="~assets/images/slot/slot_card_ae.jpg" width="100%" height="86"></div>
							<div class="item-right">
								<div class="game-title fs15">AE电子游戏</div>
								<div class="fs12 nowrap">精选游戏 好评不断</div>
								<div class="link-game"><span>游戏列表</span></div>
							</div>
						</div>
					</div>
					<!--
					<div>
						<div class="live-box" @click="go2page('/games/slot/sa')">
							<div class="item-left"><img src="~assets/images/slot/slot_card_sa.jpg" width="100%" height="86"></div>
							<div class="item-right">
								<div class="game-title fs15">SA电子游戏</div>
								<div class="fs12 nowrap">热门老虎机 奖池百万</div>
								<div class="link-game"><span>游戏列表</span></div>
							</div>
						</div>
					</div>
					-->

					<!--div>
						<div class="live-box" @click="go2page('/games/slot/ps')">
							<div class="item-left"><img src="~assets/images/slot/slot_card_ps.png" width="100%" height="86"></div>
							<div class="item-right">
								<div class="game-title fs15">PS电子游戏</div>
								<div class="fs12 nowrap">提供数百款精选游戏</div>
								<div class="link-game"><span>游戏列表</span></div>
							</div>
						</div>
					</div-->
					<!--div>
						<div class="live-box" @click="go2page('/games/slot/ttg')">
							<div class="item-left"><img src="~assets/images/slot/slot_card_ttg.png" width="100%" height="86"></div>
							<div class="item-right">
								<div class="game-title fs15">TTG电子游戏</div>
								<div class="fs12 nowrap">提供数百款精选游戏</div>
								<div class="link-game"><span>游戏列表</span></div>
							</div>
						</div>
					</div-->
					<div>
						<div class="live-box" @click="go2page('/games/slot/rtg')">
							<div class="item-left"><img src="~assets/images/slot/slot_card_rtg.png" width="100%" height="86"></div>
							<div class="item-right">
								<div class="game-title fs15">RTG电子游戏</div>
								<div class="fs12 nowrap">提供数百款精选游戏</div>
								<div class="link-game"><span>游戏列表</span></div>
							</div>
						</div>
					</div>
					<div>
						<div class="live-box" @click="go2page('/games/slot/f8')">
							<div class="item-left"><img src="~assets/images/slot/slot_card_f8.jpg" width="100%" height="86"></div>
							<div class="item-right">
								<div class="game-title fs15">AV电子游戏</div>
								<div class="fs12 nowrap">感官剌激血脉贲张</div>
								<div class="link-game"><span>游戏列表</span></div>
							</div>
						</div>
					</div>
					<div @click="startGame('7PK','7PK')">
						<div class="live-box">
							<div class="item-left"><img src="~assets/images/slot/slot_card_7pk.png" width="100%" height="86"></div>
							<div class="item-right">
								<div class="game-title fs15">7PK</div>
								<div class="fs12 nowrap">完美重现街机经典7PK</div>
								<div class="link-game"><span>进入游戏</span></div>
							</div>
						</div>
					</div>
					<div style="text-align: center;">
							<div style="margin: auto;width: 115px;"><img src="~assets/images/app_dl.png" width="100%"></div>
							<div >
								<div class="game-title fs15">APP下载</div>
							</div>
					</div>

				</div>
				<div v-if="tabs.sport">

					<div @click="startGame('SUPER','SUPER');">
						<div><img src="~assets/images/sport/banner.jpg" width="100%"></div>
						<div class="game-title fs15">SUPER体育 <div class="link-game pull-right" style="margin-top:-2px;"><span class="fs12 fw400">进入游戏</span></div></div>
						<div class="fs12">让球、大小、半全场、波胆、单双、总入球、混合过关等多元竞猜。每月超过1500场滚球赛事：足球、篮球、橄榄球、网球等赛事应有尽有！</div>
					</div>
					<div style="text-align: center;">
							<div style="margin: auto;width: 115px;"><img src="~assets/images/app_dl.png" width="100%"></div>
							<div >
								<div class="game-title fs15">APP下载</div>
							</div>
					</div>					
					<!--
					<div @click="go2page('/games/slot/qt2')" style="margin-top:15px;">
						<div><img src="~assets/images/sport/qt-sport.jpg" width="100%"></div>
						<div class="game-title fs15">QT虚拟体育 <div class="link-game pull-right" style="margin-top:-2px;"><span class="fs12 fw400">进入游戏</span></div></div>
						<div class="fs12">专注於篮球、足球、网球、亚洲杯等体育赛事投注。只有你想不到的，没有我们没有的。</div>
					</div>
					-->
				</div>
				<div v-if="tabs.lottery">
					<div @click="startGame('LOTTERY','LOTTERY')">
						<div><img src="~assets/images/lottery/lottery.jpg" width="100%"></div>
						<div class="game-title fs15">玛雅彩票 <div class="link-game pull-right" style="margin-top:-2px;"><span class="fs12 fw400">进入游戏</span></div></div>
						<div class="fs12">幸运飞艇 | 极速时时彩 | 极速赛车 | 北京赛车(PK10) | 重庆时时彩 | 极速快三 | PC蛋蛋 | 广东11选5 | 广东快乐十分 | 福彩3D | 江苏骰宝(快3) |  排列3 | 三分快三 </div>
					</div>

					<div @click="startGame('BINGO','BINGO')" style="margin-top:15px;">
						<div><img src="~assets/images/lottery/bingo-star-banner.jpg" width="100%"></div>
						<div class="game-title fs15">Bingo Star <div class="link-game pull-right" style="margin-top:-2px;"><span class="fs12 fw400">进入游戏</span></div></div>
						<div class="fs12">“BINGO STAR”是一种每五分钟开奖一次的电脑彩券游戏。选号范围为01~80，您可以任意选择玩1~5个号码的玩法（称为“1星”、“2星”、“3星”、“4星”、“5星”），每次开奖时，电脑系统将随机开出20个奖号，您可以依您选择的玩法和选号进行对奖。如您的选号符合该期任一种中奖情形，即为中奖，并可依槼定兑领奖金。</div>
					</div>
					<div style="text-align: center;">
							<div style="margin: auto;width: 115px;"><img src="~assets/images/app_dl.png" width="100%"></div>
							<div >
								<div class="game-title fs15">APP下载</div>
							</div>
					</div>
				</div>
				<div v-if="tabs.fisher">
					<!--
					<div @click="playPopup('SA_FISHER','FishermenGold')">
						<div class="live-box">
							<div class="item-left"><img src="~assets/images/fisher/sa.jpg" width="100%" height="85"></div>
							<div class="item-right">
								<div class="game-title fs15">SA鱼乐无穷</div>
								<div class="fs12 nowrap">华丽的多人捕鱼游戏</div>
								<div class="link-game"><span>进入游戏</span></div>
							</div>
						</div>
					</div>
					-->
					<!--
					<div @click="startGame('DDFG','fishing');">
						<div class="live-box">
							<div class="item-left"><img src="~assets/images/fisher/ddfg.jpg" width="100%" height="85"></div>
							<div class="item-right">
								<div class="game-title fs15">DDFG捕鱼大亨</div>
								<div class="fs12 nowrap">多样技能，丰富玩法</div>
								<div class="link-game"><span>进入游戏</span></div>
							</div>
						</div>
					</div>
					<div @click="startGame('DDFG','fishking');">
						<div class="live-box">
							<div class="item-left"><img src="~assets/images/fisher/ddfg_king.jpg" width="100%" height="85"></div>
							<div class="item-right">
								<div class="game-title fs15">DDFG王者捕鱼</div>
								<div class="fs12 nowrap">百浪涛涛射轰炸不完</div>
								<div class="link-game"><span>进入游戏</span></div>
							</div>
						</div>
					</div>
					<div @click="startGame('DDFG','cutfish');">
						<div class="live-box">
							<div class="item-left"><img src="~assets/images/fisher/ddfg_cut.jpg" width="100%" height="85"></div>
							<div class="item-right">
								<div class="game-title fs15">DDFG劈鱼来了</div>
								<div class="fs12 nowrap">精心打造，绚丽画面</div>
								<div class="link-game"><span>进入游戏</span></div>
							</div>
						</div>
					</div>
					-->
					<div @click="playPopup('QT','SPG-oceanblaster2');">
						<div class="live-box">
							<div class="item-left"><img src="~assets/images/fisher/qt-ocean.jpg" width="100%" height="85"></div>
							<div class="item-right">
								<div class="game-title fs15">QT海杀2</div>
								<div class="fs12 nowrap">大杀四方，海上霸主</div>
								<div class="link-game"><span>进入游戏</span></div>
							</div>
						</div>
					</div>
					<div @click="playPopup('QT','SPG-tigerattack');">
						<div class="live-box">
							<div class="item-left"><img src="~assets/images/fisher/qt-tiger.jpg" width="100%" height="85"></div>
							<div class="item-right">
								<div class="game-title fs15">QT老虎捕鱼</div>
								<div class="fs12 nowrap">猛虎出闸，弹无虚发</div>
								<div class="link-game"><span>进入游戏</span></div>
							</div>
						</div>
					</div>
					<div style="text-align: center;">
							<div style="margin: auto;width: 115px;"><img src="~assets/images/app_dl.png" width="100%"></div>
							<div >
								<div class="game-title fs15">APP下载</div>
							</div>
					</div>
					<!--div @click="playPopup('ALLBET_FISHER','1100');">
						<div class="live-box">
							<div class="item-left"><img src="~assets/images/fisher/allbet.jpg" width="100%" height="85"></div>
							<div class="item-right">
								<div class="game-title fs15">欧博空战世纪</div>
								<div class="fs12 nowrap">最新全概率射击游戏</div>
								<div class="link-game"><span>进入游戏</span></div>
							</div>
						</div>
					</div-->



				</div>


				<div v-if="tabs.av">

					<div @click="startAV('AV','AV');">
						<div><img src="~assets/images/av/av-banner.jpg" width="100%"></div>
						<div class="game-title fs15">AV影城 <div class="link-game pull-right" style="margin-top:-2px;"><span class="fs12 fw400">进入影城</span></div></div>
						<div class="fs12">AV影城含有限制级内容，未满18岁请您自行离开。海量高清AV线上看，有码影片、无码影片、欧美影片、自拍短片、成人动漫，并提供手机看片</div>
					</div>
					<div style="text-align: center;">
							<div style="margin: auto;width: 115px;"><img src="~assets/images/app_dl.png" width="100%"></div>
							<div >
								<div class="game-title fs15">APP下载</div>
							</div>
					</div>
					<table class="games-table" width="100%" style="margin-top:10px;">
					<thead>
						<tr>
							<th>开通方案</th>
							<th>消费点数</th>
						</tr>
						<tr>
							<td>影城24小时无限看</td>
							<td style="text-align:center;">10点</td>
						</tr>
						<tr>
							<td>影城7天无限看</td>
							<td style="text-align:center;">50点</td>
						</tr>
						<tr>
							<td>影城30天无限看</td>
							<td style="text-align:center;">150点</td>
						</tr>
						<tr>
							<td colspan="2">
								<span style="color:crimson;">注意事项：</span><br>1. 每次娱乐城充值任何金额影城免费看7天<br>2. 效期过后需转点至影城开通方案
							</td>
							
						</tr>

					</thead>
					</table>

				</div>



			</div>



		</div>
	</div>

</template>
<script>
import { mapGetters } from 'vuex'
import { globalMixin } from 'mixin.js'
export default {
	mixins: [globalMixin],
	data() {
		return {
			tabs:{},

		}
	},

	computed:{
	},
	mounted() {

		//console.log(this.$route.params);
		var li = this.$refs.tabItems.getElementsByTagName('li');
		for (var i=0; i<li.length ;i++ ){
			var targetName = li[i].getAttribute('name');
			if (targetName)	{
				this.$set(this.tabs, targetName, false);
			}
		}

		if (this.$route.path == '/av/login') {
			this.tabEach('av');


			setTimeout(() => {
				if(this.user.isLogin == false) {
					this.$router.push({path: '/login', query: {}});
					return false;
				}
			}, 1000);

		}
		else {

			if (this.$route.params.id){
				this.tabEach(this.$route.params.id);
			}
			else {
				this.tabEach(li[0].getAttribute('name'));

			}
		}
	},
    computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
			web: 'web',
		}),
    },
	methods: {
		waitOpen(){
			$toast.show('尚未开放');
		},
		startAV(soruce, id){
			if(this.user.isLogin == false) {
				this.tryGame(soruce, id, '影城启动中');
			}
			else {
				this.startGame(soruce, id, '影城启动中');
			}
		},
		playPopup(soruce, id) {
			let options = {
				effect: 'scale',
				title: '',
				showClose: true,
				buttons: [
				  {text: '进入游戏'},
				  {text: '试玩'},
				]
			}
			let popup = $popup.fromTemplate('<div class="fs14 text-center">您可以选择直接游戏或试玩游戏</div>', options);

			popup.show().then((buttonIndex) => {
				if (buttonIndex == 0){
					this.startGame(soruce, id);
				}
				else if(buttonIndex == 1) {
					this.tryGame(soruce, id);
				}
			})
		},

		tabClick(event){
			var name = event.target.getAttribute('name');
			this.tabEach(name);
			this.$router.replace({ path: '/games/' + name});
		},
		tabEach(name){
			if (!name) return false;
			var li = this.$refs.tabItems.getElementsByTagName('li');
			for (var i=0; i<li.length ;i++ ){
				li[i].classList.remove('active');
				var targetName = li[i].getAttribute('name');
				if (targetName)	{
					if(targetName == name) {
						li[i].classList.add('active');
						this.tabs[targetName] = true;
					}
					else {
						this.tabs[targetName] = false;
					}
				}
			}
		},

	}
}
</script>
<style>

.div-line{
    height: 1px;
    margin-top: 10px;
    background: #bbb;
    margin-bottom: 10px;
}

.tab-vertical-left {
    position: absolute;
    width: 75px;
    height: 100%;
	min-height:500px;
    background: #fff;
    overflow-y: auto;
}

.tab-vertical-left .active {
	background-color:#f5f5f5;
	color:#409eff;
}


.tab-vertical-left li{
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 15px;
    position: relative;
	color:#666;
	cursor: pointer;
}
.tab-vertical-left li:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: #c8c7cc;
    display: block;
    z-index: 0;
    transform-origin: 50% 100%;
    transform: scaleY(0.5);
}
.tab-vertical-left li:last-child:after {
	height:0px;
}
.tab-vertical-right {
    position: absolute;
    margin-left: 90px;
    height: 100%;
    overflow-y: auto;
    padding-top: 15px;
    padding-right: 15px;
	color:#666;
}
.tab-vertical-right .game-title {
	color:#444;
font-weight: 700;
    margin: 5px 0;
}

.tab-vertical-right .live-box {
	display:flex;
	flex-wrap: nowrap;
	margin-bottom:15px;
}
.tab-vertical-right .live-box .item-left{
    width: 115px;
    height: 0;
    padding: 0;
}
.tab-vertical-right .live-box .item-right{
    vertical-align: top;
    margin-left: 10px;
    width: auto;
}
.tab-vertical-right .link-game{
	color: #409eff;
    font-size: 12px;
    border: 1px solid #409eff;
    display: inline-block;
    padding: 0px 12px;
    border-radius: 20px;
	margin-top:8px;
}








.games-table  {

  font-size:14px;
  border:1px solid #ebeef5;
  text-align:center;
  border-collapse:collapse;
  background-color:#fff;
  margin:0 auto;
}
.games-table th {
  background-color: #409eff;
  padding:5px;
  border:1px solid #ebeef5;
  color:#fff;
  font-weight: 400;
}
.games-table td {
  border:1px solid #ebeef5;
  padding:5px;
  color:#666;
  text-align:left;
      font-size: 13px;
}






</style>
