<template>
  <div class="page has-navbar has-tabbar home-page" :class="{ios:isIOS}" v-tabbar-menu-index="0">
      <div class="nav-header">
        <h1 class="logo"><div class="logo_img"></div></h1>
      </div>
      <div class="banner">
        <div class="col100">
          <swiper :options="swiperOption" ref="bannerSwiper">
            <swiper-slide  v-for="item in web.bulletins" v-if="item.banner != ''">
              <div class="banner-img">
                <img :src="`/uploads/${item.banner}`" :alt="item.title">
              </div>
            </swiper-slide>
            <div class="swiper-pagination" slot="pagination"></div>
          </swiper>
        </div>
      </div>
      <div class="bulletin">
        <span class="noti-icon"></span>
        <swiper :options="notifySwiperOption" class="notify-swiper" ref="notifySwiper" v-if="web.news.length" @click.native="bulletinPopup">
          <swiper-slide v-for="news in web.news" v-bind:key="news.index">{{news.title}}</swiper-slide>
        </swiper>
        <div class="more-btn" @click.native="bulletinPopup"></div>


      </div>
      <div class="quick-info">
        <div class="inner" v-if="!isLogin">
          <div class="user-info">
            <span class="tip">尊敬的贵宾</span> <br />
            <span class="info">登录後查看</span>
          </div>

          <div class="quick-link">
            <div class="col-auto base-btn btn-login text-center" @click="go2page('/login')">
              <span class="icon "><i class="icon van-icon icon-user"></i></span>登录
            </div>
            <div class="col-auto base-btn btn-register text-center" @click="go2page('/register')">
              <span class="icon icon-register"><i class="icon van-icon icon-register"></i></span>注册
            </div>
          </div>
        </div>
        <div class="inner" v-else>
          <div class="user-info login">
             
            <span class="tip">{{ username}}</span> <br />
            <span class="amount">${{ wallet || '0.00'}}</span>
          </div>

          <div class="quick-link">
            <div class="col-auto base-btn text-center" @click="go2page('/user/deposit')">
              <span class="icon icon-deposit"></span>存款
            </div>
            <div class="col-auto base-btn text-center" @click="go2page('/user/transfer')">
              <span class="icon icon-transfer"></span>转帐
            </div>
            <div class="col-auto base-btn text-center" @click="go2page('/user/withdraw')">
              <span class="icon icon-withdraw"></span>提款
            </div>
            <div class="col-auto base-btn text-center" @click="go2page('/user')">
              <span class="icon icon-vip"></span>帐户
            </div>
          </div>
        </div>
      </div>
      <div class="main-section">
        <div class="game-area home" ref="gameArea">
          <div class="left-nav">
              <div class="game-tabs">
                <ul class="items">
                  <li class="game-tab-item sport">
                    <a class="link scrollactive-item" @click="selectGameGroup('sport')">
                      <span class="img"></span>
                      <span class="name">体育</span></a>
                  </li>
                  <li class="game-tab-item real-bet">
                    <a class="link scrollactive-item" @click="selectGameGroup('realbet')"><span class="img"></span><span class="name">真人</span></a>
                  </li>
                  <li class="game-tab-item chess">
                    <a class="link scrollactive-item" @click="selectGameGroup('chess')"><span class="img"></span><span class="name">棋牌</span></a>
                  </li>
                  <!-- <li class="game-tab-item gaming">
                    <a class="link scrollactive-item" @click="selectGameGroup('gaming')"><span class="img"></span><span class="name">電競</span></a>
                  </li> -->
                  <li class="game-tab-item lottery">
                    <a class="link scrollactive-item" @click="selectGameGroup('lottery')"><span class="img"></span><span class="name">彩票</span></a>
                  </li>
                  <li class="game-tab-item egame">
                    <a class="link scrollactive-item" @click="selectGameGroup('egame')"><span class="img"></span><span class="name">电子</span></a>
                  </li>
                </ul>
              </div>
          </div>
          <div class="game-groups" id="game-zone">
            <h3 id="sport">体育</h3>
            <ul class="game-list game-group" :class="`game-sport`">
              <li
                class="game-item"
                v-for="game in gameSport"
                :key="game.source + '_' + game.id"
                @click="startGame(game.source, game.id)">
                <dl>
                  <dt class="name">
                    {{ game.nameZh }}
                  </dt>
                  <dd class="image" v-if="game.img">
                    <img :src="game.img" :alt="game.name" />
                  </dd>
                  <dd class="logo" v-if="false">
                    <img :src="game.logo" :alt="game.name" />
                  </dd>
                </dl>
              </li>
            </ul>
            <h3 id="realbet">真人</h3>
            <ul class="game-list game-group" :class="`game-realbet`">
              <li
                class="game-item"
                v-for="game in gameRealbet"
                :key="game.source + '_' + game.id"
                @click="startGame(game.source, game.id)">
                <dl>
                  <dt class="name">
                    {{ game.nameZh }}
                  </dt>
                  <dd class="image" v-if="game.img">
                    <img :src="game.img" :alt="game.name" />
                  </dd>
                  <dd class="logo" v-if="game.logo">
                    <img :src="game.logo" :alt="game.name" />
                  </dd>
                </dl>
              </li>
            </ul>
            <h3 id="chess">棋牌</h3>
            <ul class="game-list game-group" :class="`game-chess`">
              <li
                class="game-item"
                v-for="game in gameChess"
                :key="game.source + '_' + game.id"
                @click="startGame(game.source, game.id)">
                <dl>
                  <dt class="name">
                    {{ game.nameZh }}
                  </dt>
                  <dd class="image" v-if="game.img">
                    <img :src="game.img" :alt="game.name" />
                  </dd>
                  <dd class="logo" v-if="game.logo">
                    <img :src="game.logo" :alt="game.name" />
                  </dd>
                </dl>
              </li>
            </ul>
            <!-- <h3 id="gaming">電競</h3>
            <ul class="game-list game-group" :class="`game-gaming`">
              <li
                class="game-item"
                v-for="game in gameGaming"
                :key="game.source + '_' + game.id"
                @click="startGame(game.source, game.id)">
                <dl>
                  <dt class="name">
                    {{ game.nameZh }}
                  </dt>
                  <dd class="image" v-if="game.img">
                    <img :src="game.img" :alt="game.name" />
                  </dd>
                  <dd class="logo" v-if="game.logo">
                    <img :src="game.logo" :alt="game.name" />
                  </dd>
                </dl>
              </li>
            </ul> -->
            <h3 id="lottery">彩票</h3>
            <ul class="game-list game-group" :class="`game-lottery`">
              <li
                class="game-item"
                v-for="game in gameLottery"
                :key="game.source + '_' + game.id"
                @click="startGame(game.source, game.id)">
                <dl>
                  <dt class="name">
                    {{ game.nameZh }}
                  </dt>
                  <dd class="image" v-if="game.img">
                    <img :src="game.img" :alt="game.name" />
                  </dd>
                  <dd class="logo" v-if="game.logo">
                    <img :src="game.logo" :alt="game.name" />
                  </dd>
                </dl>
              </li>
            </ul>
            <h3 id="egame">电子</h3>
            <ul class="game-list game-group" :class="`game-egame`">
              <li
                class="game-item"
                v-for="game in gameEgame"
                :key="game.source + '_' + game.id"
                @click="startGame(game.source, game.id)">
                <dl>
                  <dt class="name">
                    {{ game.nameZh }}
                  </dt>
                  <dd class="image" v-if="game.img">
                    <img :src="game.img" :alt="game.name" />
                  </dd>
                  <dd class="logo" v-if="game.logo">
                    <img :src="game.logo" :alt="game.name" />
                  </dd>
                </dl>
              </li>
            </ul>
          </div>
        </div>
      </div>
    <yd-popup v-model="showMaintain" position="bottom" width="100%" height="100%" masker-opacity="0" style="touch-action: none;">
      <von-header>
        <span slot="title">游戏维护时间</span>
        <button class="button button-icon ion-ios-close-empty" @click="showMaintain = false" slot="right"></button>
      </von-header>
      <div class="page-content popup-detail" style="margin-bottom:0px;background-color:#FFF;">
        <div class="cells padding">
          <table class="maintain-table">
            <thead>
              <tr>
                <th>游戏</th>
                <th>周期</th>
                <th>开始时间</th>
                <th>结束时间</th>
              </tr>
              <tr v-for="(item, index) in maintainData">
                <td>{{item.vendor}}</td>
                <td>{{item.week}}</td>
                <td>{{item.start_time}}</td>
                <td>{{item.end_time}}</td>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </yd-popup>
  </div>
</template>
<script>

var VueScrollTo = require('vue-scrollto');
//import PromotionDetail from './PromotionDetail.vue'
import { mapGetters, mapState } from "vuex";
import { apiBulletin, apiNews } from "api.js";
import { globalMixin } from 'mixin.js';
import sess from 'sess.js'
let vm;
export default {
  mixins: [globalMixin],
  inject: ['reload'],
  components: {
  },
  data() {
    let _this = this;
    return {
      showMaintain: false,
      maintainData: [],
      gameGroupName: "",
      gameList:[],

      //show: false,
      //pid: 1,
      //focusPromotion: null,
      //menuButtonText: '<span class="assertive">更多</span>',
      swiperOption: {
        observer: true,
        autoplay: {
          delay: 5000,
          disableOnInteraction: false

        },
        speed: 400,
        slidesPerView: 1,
        spaceBetween: 0,
        loop: true,
        on: {
          click: function() {
            // 这里有坑，需要注意的是：this 指向的是 swpier 实例，而不是当前的 vue， 因此借助 vm，来调用 methods 里的方法
            // 当前活动块的索引，与activeIndex不同的是，在loop模式下不会将 复制的块 的数量计算在内。
            //const realIndex = this.realIndex;
            //console.log(realIndex);
            //_this.focusPromotion = realIndex;
            //_this.go2page('/promotionDetail/' + (realIndex + 1));


            let target = vm.$refs.bannerSwiper.$children[this.realIndex].$el.getAttribute('data-id');
            // _this.go2page('/promotionDetail/' + (realIndex + 1));
            _this.go2page('/promotion');
            // _this.showDetail(target);


          }
        },
        mousewheelControl: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true
        },
      },
      notifySwiperOption: {
        autoplay: {
          delay: 5000,
          disableOnInteraction: false
        },
        speed: 400,
        direction: "vertical",
        slidesPerView: 1,
        spaceBetween: 0,
        loop: true,
        mousewheelControl: true,
        observer: true
      },
      notify: {
        index: 1,
        title: "",
        detail: "",
        date: ""
      },
    };
  },
  computed: {
    ...mapGetters({
      config: "config",
      user: "user",
      web: "web",

    }),
    isIOS(){
      const isIOS = !!navigator.platform && /iPad|iPhone|iPod/.test(navigator.platform);
      return isIOS;
    },
    username() {
      return this.user.username;
    },
    isLogin() {
      return this.user.isLogin;
    },
    wallet() {
      if (!this.user.wallet.deploy['WALLET']) {
        return false;
      }
      return parseFloat(this.user.wallet.deploy['WALLET'].amount).toFixed(2);
    },
    ...mapState({
      gameSport: state => state.gameSport,
      gameRealbet: state => state.gameRealbet,
      gameChess: state => state.gameChess,
      gameGaming: state => state.gameGaming,
      gameLottery: state => state.gameLottery,
      gameEgame: state => state.gameEgame
    }),
    notifySwiper() {
      return this.$refs.notifySwiper.swiper;
    },
    showAppDL() {
      var u = navigator.userAgent;
      var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1;
      return this.user.isShowAppDL && isAndroid ? true : false;
    }
  },
  methods: {
    getMaintain() {
      this.$dialog.loading.open('读取中...');
      setTimeout(() => {
        this.$axios({
            method: "GET",
            url: this.config.ApiUrl + "/api/maintain/" + this.config.company,
            data: {},
            headers: {
              "Content-Type": "application/json"
            }
          })
          .then(response => {
            if (response.data) {
              this.maintainData = response.data;
              console.log(response.data);
              this.showMaintain = true;
            }
            this.$dialog.loading.close();
          })
          .catch(error => {
            this.$dialog.loading.close();
            console.log(error);
          });
      }, 200);


    },
    waitOpen() {
      $toast.show('尚未开放');
    },
    go2page(url) {
      this.$router.push({
        path: url,
        query: {}
      });
    },
    playPopup(soruce, id) {
      let options = {
        effect: 'scale',
        title: '',
        showClose: true,
        buttons: [
          { text: '进入游戏' },
          { text: '试玩' },
        ]
      }
      let popup = $popup.fromTemplate('<div class="fs14 text-center">您可以选择直接游戏或试玩游戏</div>', options);

      popup.show().then((buttonIndex) => {
        if (buttonIndex == 0) {
          this.startGame(soruce, id);
        } else if (buttonIndex == 1) {
          this.tryGame(soruce, id);
        }
      })
    },
    bulletinPopup(e, click) {
      var index = this.notifySwiper.clickedSlide.getAttribute("data-swiper-slide-index");
      if (click !== undefined) {
        index = click;
      } else {
        this.notify.index = parseInt(index) + 1;

      }
      this.notify.detail = this.web.news[index].content;
      this.notify.title = this.web.news[index].title;
      this.notify.date = this.web.news[index].created_at.split(' ')[0];


      let options = {
        cssClass: 'bulletinPopup',
        effect: 'scale',
        /*title: '系统公告',*/
        showClose: true,
        buttons: [
          { text: '上一则' },
          { text: '下一则' },
        ]
      }
      let popup = $popup.fromTemplate(this.notify.title + '<div class="mt10 mb10">' + this.notify.detail + '</div>' + '<div>' + this.notify.date + '<span class="pull-right">〈' + this.notify.index + '/' + this.web.news.length + '〉</span></div>', options);

      popup.show().then((buttonIndex) => {
        let index = 0;

        if (buttonIndex == 0) {
          index = --this.notify.index;
          if (index === 0) {
            index = this.web.news.length;
            this.notify.index = index;
          }
          this.bulletinPopup('', index - 1);
        }
        if (buttonIndex == 1) {
          index = ++this.notify.index;
          //console.log(index);
          if (index > this.web.news.length) {
            index = 1;
            this.notify.index = index;
          }

          this.bulletinPopup('', index - 1);
        }


      })
    },
    notifyPrev: function() {
      let index = --this.notify.index;
      this.notify.detail = this.web.bulletins[index - 1].content;
      this.notify.title = this.web.bulletins[index - 1].title;
      this.notify.date = this.web.bulletins[index - 1].start_time.split(' ')[0];
    },

    notifyNext: function() {

      this.notify.detail = this.web.news[index - 1].content;
      this.notify.title = this.web.news[index - 1].title;
      this.notify.date = this.web.news[index - 1].start_time.split(' ')[0];

    },
    showDetail(id) {
      this.$router.push("/promotion/Detail/" + id);
      /*
      $modal.fromComponent(PromotionDetail, {
        title: '',
        theme: 'default',
        destroyOnHide: true,
        onHide: () => {
        console.log('modal hide')
        }
      }).then((modal) => {
        modal.content.$on('closeModal', function(){
        modal.hide();
        });
        modal.content.showDetail(pid);
        this.modal = modal;
        this.modal.show();
      })
      */
    },
    selectGameGroup(type){
      console.log(type, VueScrollTo);
      let target = `#${type}`;
      VueScrollTo.scrollTo(target, 300, {
        container: "#game-zone",
      })

    },

    onRefresh() {
      setTimeout(() => {
        this.reload();
      }, 500);
      /*
      this.syncBulletin();
      setTimeout(() => {
        setTimeout(() => {
          if (this.$refs.scroller) this.$refs.scroller.finishPullToRefresh();
        });
      }, 500);*/
    },

    onItemClick(index) {
      console.log(index);
    },
    /*
    showBulletin: function(index) {
      var index = this.notifySwiper.clickedSlide.getAttribute("data-swiper-slide-index");
      this.notify.detail = this.web.bulletins[index].content;
      this.notify.title = this.web.bulletins[index].title;
      this.notify.date = this.web.bulletins[index].start_time;
    },*/
    syncBulletin() { // banner
      apiBulletin()
        .then(response => {
          if (response.data) {
            this.web.bulletins = response.data;
          }
        })
        .catch(error => {
          console.log(error);
        });

      apiNews()
        .then(response => {
          if (response.data) {
            this.web.news = response.data.data;
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    closeAppDL() {
      this.user.isShowAppDL = false;
    },
    downloadApp() {
      var url = '';
      window.open(url, '', '');
      return false;
    },
    onItemChanged(event, currentItem, lastActiveItem) {
      console.log(event, currentItem);
      // here you have access to everything you need regarding that event
    }
    
  },
  created() {
    if (!this.web.bulletins.length) {
      this.syncBulletin();
    }
    vm = this;
  },
  mounted() {
    setTimeout(() => {
      if (this.$refs.scroller) {
        this.$refs.scroller.resize();
        let h = sess.get('/')
        this.$refs.scroller.scrollTo(0, h.scrollTop, false);

        this.$refs.bannerSwiper.swiper.slideTo(this.web.temp.slideIndex || 1, 0, false);
        this.$refs.bannerSwiper.swiper.autoplay.stop();
        this.$refs.bannerSwiper.swiper.autoplay.start();
      }
    });
  },
  beforeDestroy: function() {
    sess.set('/', {
      history: true,
      scrollTop: this.$refs.scroller.getPosition().top
    })
    this.web.temp.slideIndex = this.$refs.bannerSwiper.swiper.activeIndex;

    //console.log(this.$refs.bannerSwiper.swiper.activeIndex);
    //console.log('beforeDestroy',this.$refs.scroller.getPosition().top);
  },
  watch: {
    'web.bulletins': {
      handler(val){
        console.log(val)
      }
    },
    'web.news': {
      handler(val){
        console.log(val)
      }
    },
  }
};

</script>
<style lang="scss">
/*
.home-page .banner-top6 {background: url(~assets/images/banner/pricing.jpg) center center / cover;}
*/
.home-page {
  display: flex;
  flex-direction: column;
  .maintain-table {
    font-size: 14px;
    border: 1px solid #ebeef5;
    text-align: center;
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;

    th {
      background-color: #409eff;
      padding: 10px;
      border: 1px solid #ebeef5;
      color: #fff;
      font-weight: 400;
    }

    td {
      border: 1px solid #ebeef5;
      padding: 5px;
      color: #666;
    }
  }

  .maintain-box {
    width: 50px;
    height: 50px;
    right: 15px;
    bottom: 75px;
    border: 2px solid white;
    position: absolute;
    border-radius: 50%;
    background-color: rgb(64, 158, 255);
    color: rgb(255, 255, 255);
    font-size: 14px;
    text-align: center;
    padding-top: 8px;
    line-height: 16px;
    cursor: pointer;
  }

  .banner {
    width: 100%;

    .col100 {
      position: relative;
      width: 100%;
      background-size: cover;

      &:before {
        content: "";
        display: block;
        padding-top: 27.5%;
      }
    }

    .swiper-container {
      position: absolute;
      top: 0;
    }
  }

  .col100 {
    position: relative;
    width: 100%;
    background-size: cover;

    &:before {
      content: "";
      display: block;
      padding-top: 36%;
    }
  }

  .col33 {
    position: relative;
    width: 33.3%;
    background-size: cover;

    &:before {
      content: "";
      display: block;
      padding-top: 100%;
    }
  }

  .col-live33 {
    position: relative;
    width: 33.3%;
    background-size: 95%;
    background-position: 50%;
    background-repeat: no-repeat;

    &:before {
      content: "";
      display: block;
      padding-top: 100%;
    }
  }

  .col66 {
    position: relative;
    width: 66.6%;
    background-size: 98%;
    background-position: 50%;
    background-repeat: no-repeat;

    &:before {
      content: "";
      display: block;
      padding-top: 50%;
    }
  }

  .nav-header .logo{
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 20px;
    color: rgb(35, 188, 247);
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.4);

  }

  .logo_img {
    width: 68px;
    height: 60px;
    background: url(~assets/images/logo.png) center center / cover no-repeat;
    background-size: auto 100%;
    top: 0px;
    // left: calc(50% - 100px);
    left: 0;
  }

  .banner-img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
  }

  .bulletin {
    position: relative;
    padding: 0 0px 0 8px;
    // background-color: rgba(89,158,248,.08);
    color: #fff;
    height: 34px;
    font-size: 15px;
    font-weight: bold;
    // box-shadow: 0px 0px 12px 0px rgba(20%, 20%, 40%, 0.5);

    .noti-icon{
      position: relative;
      top: -5px;
      width: 25px;
      height: 25px;
      display: inline-block;
      background: #ccc;
      background: url(~assets/images/new/home/noti-icon.png) center center no-repeat;
      background-size: 75% auto;
    }

    .more-btn{
      position: absolute;
      right: 6px;
      top: 5px;
      width: 90px;
      height: 25px;
      background: url(~assets/images/new/home/more-btn@2x.png) right center no-repeat;
      background-size: 75% auto;

    }
  }


  .game-area {
    position: relative;
    padding-left: 5em;
    box-sizing: border-box;
    padding-bottom: 48px;
    height: 100%;
    .left-nav {
      position: absolute;
      left: 0;
      top: 0;
      width: 60px;
      height: calc(100% - 50px);
      overflow: auto;
      box-sizing: border-box;
      -webkit-overflow-scrolling: touch;
      .game-tabs{
         transform: translate3d(0,0,0)
      }
    }

    .game-groups {
      height: 100%;
      overflow: auto;
      box-sizing: border-box;
      -webkit-overflow-scrolling: touch;
      // padding-bottom: 35px;
      .game-tabs{
         transform: translate3d(0,0,0)
      }

      h3{
        color: rgb(35, 188, 247);
        padding-bottom: 5px;
      }
    }
  }

  .quick-info{
    position: relative;
    width: calc(100% - 10px);
    margin: 0 auto;
    // background: #121a22;
    box-sizing: border-box;
    color: #fff;
    background: url(~assets/images/new/home/quick-bg@2x.png) center center / cover no-repeat;
    border-radius: 10px;

    &:before{
      content: "";
      padding-top: 22.3695%;
      width: 100%;
      display: block;
    }

    .icon{
      background-size: 100% auto;
    }

    .tip{
      color: #919191;
    }

    .info{
      display: inline-block;
      padding-top: 5px;
      font-weight: 500;
      font-size: 2em;
      color: #DCDEDD;
    }

    > .inner{
      position: absolute;
      width: calc(100% - 10px);
      height: 100%;
      padding: 0 10px;
      left: 5px;
      top: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .base-btn{
      color: #1AABF1;
      .van-icon{
        font-size: 30px;
      }
    }

    .quick-link{
      display: flex;
    }

    .amount{
      font-size: 20px;
      padding-top: 20px;
      // color: #fffa49;
      color: #1AABF1;
    }
  }

  .notify-icon {
    float: left;
    margin-top: 4px;
  }

  .cells {
    margin: 0px;

    .catgIcon {
      background-position: center center !important;
      background-repeat: no-repeat !important;
      background-size: 100% auto !important;
      margin-bottom: 0px;
      margin-top: 0px;
    }

    .ImgIcon {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  .padding {
    margin-bottom: 10px;
  }

  .block {
    background: #FFF;
  }

  .plates {
    width: 100%;
    overflow: auto;
  }

  .plate-img {
    float: left;
    width: 50%;
    height: 160px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 95% 95%;

    &:last-child {
      &:after {
        clear: both;
        content: '';
        display: block;
      }
    }
  }

  .cells-22 {
    >.row {
      >.col {
        padding: 30px 0;
      }
    }
  }

  .swiper {
    position: relative;
    height: 100%;

    .swiper-container {
      height: 100%;
    }
  }

  .plate-title {
    margin: 4px 4px;

    .title {
      font-size: 18px;
      font-weight: bold;
      color: #333;
      margin-right: 12px;
    }

    .desc {
      font-size: 15px;
      color: #999;
    }

    .more {
      float: right;
      font-size: 15px;
      color: #409eff;
      position: relative;
    }
  }

  .line {
    height: 12px;
  }

  .swiper-pagination-bullet {
    width: 4px;
    height: 4px;
    background: #4a90e2 !important;
  }

  .swiper-container-horizontal>.swiper-pagination{
    bottom: 0px;
  }

  .notify-swiper {
    display: inline-block;
    width: calc(100% - 30px);
    height: 34px;
    line-height: 34px;
    color: #DCDEDD;

    .swiper-slide {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .my-promotion {
    .yd-popup-center.yd-popup-show {
      overflow: auto;
      background: #000;
    }
  }

  .tip-download {
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    background: #bee6ff;

    .tip-download-icon {
      padding-left: 14px;
      font-size: 15px;
      color: #000;
      cursor: pointer;
    }

    .tip-download-logo {
      width: 50px;
      height: 50px;
      background-image: url(~assets/images/user/logo.png?v=1);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      position: relative;
      top: 5px;
      left: 6px;
      border-radius: 3px;
      border: 1px solid #11c1f3;
      background-color: #fff;
      padding: 0;
      margin-right: 8px;
    }

    div {
      line-height: 60px;
      padding-right: 5px;
    }

    .tip-download-txt {
      line-height: 22px;
      color: #666;
      padding-left: 6px;
      font-size: 15px;
      margin-top: 8px;
    }

    .tip-download-down {
      border-radius: 0;
      padding: 0px;
      background-color: #045baf;
      color: #fff;
      width: 25%;
      font-size: 16px;
      text-align: center;
      cursor: pointer;
    }
  }

  .fl {
    float: left;
  }

  .fr {
    float: right;
  }
}
.game-area{
  .left-nav{
    .game-tabs {
      width: 100%;
      .items {
        padding-bottom: 5px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
      }

      .game-tab-item {
        position: relative;
        transition: all 0.4s ease-in-out;
        display: inline-block;
        width: 50px;

        & + .game-tab-item{
          margin-top: 10px;
        }

        .name{
          position: absolute;
          bottom: 10%;
          left: 0;
          width: 100%;
          text-align: center;
          color: #424d5a;
        }

        &.sport{
          .img{
            background-image: url(~assets/images/new/home/group/sport.png);
          }

          .link:active, .link:hover{
            .img{
              background-image: url(~assets/images/new/home/group/sport-active.png);
            }
          }
        }

        &.real-bet{
          .img{
            background-image: url(~assets/images/new/home/group/live.png);
          }
          .link:active, .link:hover{
            .img{
              background-image: url(~assets/images/new/home/group/live-active.png);
            }
          }
        }

        &.chess{
          .img{
            background-image: url(~assets/images/new/home/group/chess.png);
          }
          .link:active, .link:hover{
            .img{
              background-image: url(~assets/images/new/home/group/chess-active.png);
            }
          }
        }

        &.gaming{
          .img{
            background-image: url(~assets/images/new/home/group/esport.png);
          }
          .link:active, .link:hover{
            .img{
              background-image: url(~assets/images/new/home/group/esport-active.png);
            }
          }
        }

        &.lottery{
          .img{
            background-image: url(~assets/images/new/home/group/lottery.png);
          }
          .link:active, .link:hover{
            .img{
              background-image: url(~assets/images/new/home/group/lottery-active.png);
            }
          }
        }

        &.egame{
          .img{
            background-image: url(~assets/images/new/home/group/slots.png);
          }
          .link:active, .link:hover{
            .img{
              background-image: url(~assets/images/new/home/group/slots-active.png);
            }
          }
        }
      }

  

      .link {
        position: relative;
        // background: rgba(255, 255, 255, 0.1);
        // display: block;
        // box-shadow: 3px 2px 7px -3px rgba(255, 255, 255, 0.6);


        // padding: 10px 20px;
        transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
        cursor: pointer;
        color: #fff;
        display: block;
        background: url(~assets/images/new/home/btn-bg.png) center center/cover no-repeat;

        .img{
          width: 45%;
          position: absolute;
          top: 20%;
          left: 0;
          right: 0;
          margin: 0 auto;
          background: center center/cover no-repeat;
          background-size: cover;
          transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);

          &:before{
            content: "";
            width: 100%;
            padding-top: 100%;
            display: block;
          }
        }

        .name{
          position: absolute;
          transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);

        }

        &:before{
          content: "";
          width: 100%;
          padding-top: 149.62%;
          display: block;
        }
      

        &.active, &:active, &:hover{
          background: url(~assets/images/new/home/btn-bg-hover.png) center center/cover no-repeat;

          .img{
            width: 60%;
            top: 17%;
          }

          .name{
            color: #fff;
            transform: scale(1.1)
          }
        }
      }

    }

  }
}
.game-group{
  overflow: auto;
  margin-bottom: 2em;

  &:last-child{
    margin-bottom: 0;
  }

  .game-item{
    position: relative;
    width: 100%;
    background: rgba(0, 0, 0, .3);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &:before{
      content: "";
      padding-top: 54%;
      width: 100%;
      height: auto;
    }
    & + .game-item{
      margin-top: 5px;
    }

    dl{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }


    .name{
      width: 50%;
      height: 100%;
      font-size: 4vw;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      display: none;

    }
    .image{
      // position: absolute;
      // top: 20%;
      width: 100%;
      // right: 0%;
      // height: 100%;
      img{
        width: 100%;
        height: auto;
      }

    }

    .logo{
      position: absolute;
      left: 0;
      top: -10%;
      width: 30%;
      z-index: 5;
      display: none;

      img{
        width: 100%;
        height: auto;
      }
    }
  }

  .game-realbet{

  }

}

.game-area.home{

  .game-group .game-item {
    background: center center no-repeat;
    background-size: cover;
    height: 100%;
    overflow: hidden;

    .name{
      color: #0bb1c3;
    }
  }

  .game-realbet{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .game-item{
      width: calc(50% - 4px);
      margin-bottom: 5px;
      &:before{
        padding-top: 170%;
      }

      & + .game-item{
        margin-top: 0;
      }
    }
  }

  .game-chess{
    .game-item:before{
      padding-top: 81%;
    }
  }

  .game-egame{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .game-item{
      width: calc(50% - 4px);
      margin-bottom: 5px;
      &:before{
        padding-top: 111%;
      }

      & + .game-item{
        margin-top: 0;
      }
    }
  }
}

.main-section{
  padding: 5px 10px 5px;
  box-sizing: border-box;
  flex: auto;
  flex-grow: 1;
  flex-shrink:1;
  flex-basis:0;
  overflow: auto;
}

.col-auto {
  font-size: 12px;
  padding: 0 10px;

  .icon {
    width: 35px;
    height: 35px;
    display: block;
    margin: 2px auto;
  }
}
.icon.transfer {
  background: url(~assets/images/user/icon_transfer.png) no-repeat;
  background-size: cover;

}

.icon.deposit {
  background: url(~assets/images/user/icon_deposit.png) no-repeat;
  background-size: cover;

}

.icon.withdraw {
  background: url(~assets/images/user/icon_withdraw.png) no-repeat;
  background-size: cover;

}

.home-info-box {
  font-size: 16px;
  text-align: center;
  padding: 5px;
  color: #666;
}



</style>
