<template>
	<div class="page has-navbar" v-nav="{title: $route.name, showBackButton: true}">

		<div class="page-content pomotion" ref="pageContent">
      <van-collapse v-model="activeItem" >
        <van-collapse-item :border="false" v-for="(item, key) in web.bulletins"
        v-if="tabIndex == 0 || (tabIndex > 0 && tabIndex == item.type)" :name="key">
          <template #title>
            <img :src="`/uploads/${item.banner}`" />
            <div>{{ item.title }}</div>
          </template>
          <div class="content" v-html="item.content"></div>
        </van-collapse-item>
      </van-collapse>
		</div>

	</div>
</template>

<script>
import { Collapse, CollapseItem } from 'vant';
import { apiBulletin, apiNews } from "api.js";
//import PromotionDetail from './PromotionDetail.vue'
import { mapGetters } from 'vuex'
//import sess from 'sess.js'
import { globalMixin } from 'mixin.js'

export default {
	mixins: [globalMixin],
  components: {
    'van-collapse': Collapse,
    'van-collapse-item': CollapseItem,
  },
	data() {
		return {
			//show: false,
			//pid: 1,
			tabIndex: 0,
			//modal: undefined,

			allData: [
				
			],
			tabs: [
			],
      activeItem: []
		}
	},
    computed: {
  		...mapGetters({
  			config: 'config',
  			user: 'user',
  			web: 'web',
  		}),
      promotionList(){
        let data = [];
        this.web.bulletins.map(item=>{
          let promotionItem = {...item};
          promotionItem.show = false;
          data.push(promotion);
        })
        return data
      }
    },
	methods: {

		onTabClick(index) {
			this.$refs.pageContent.scrollTop = 0;
			this.web.temp.promotionTabIndex = index;
			//console.log(history.state);
			this.tabIndex = index;
	
		},
		showDetail(id){
      console.log("!!", id)
			this.go2page("/promotion/Detail/" + id);
		},
		syncBulletin() { // banner
      apiBulletin()
        .then(response => {
          if (response.data) {
            this.web.bulletins = response.data;
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
	},
	mounted(){
		if(!this.web.temp.promotionTabIndex) this.web.temp.promotionTabIndex = 0;
		this.tabIndex = this.web.temp.promotionTabIndex;
		if(this.web.bulletins.length < 1){
			this.syncBulletin();
		}
		/*
		if (this.$route.params.id){
			this.tabIndex = parseInt(this.$route.params.id);
		}
		let h = sess.get(this.$route.path)
		if (h)	{
			this.$refs.pageContent.scrollTop = h.scrollTop || 0;
		}*/
	},
}
</script>
<style lang="scss" scoped>

.card{
  padding: 10px 10px;
  color:#777;
  font-size:14px;


}

.content{
  white-space: pre-wrap;
  line-height: 1.5em;
}
.card img{
  width: 100%;
}
.card .title{
  font-weight: bold;
  font-size: 16px;
  color:#fff;
}
</style>
<style lang="scss">
.pomotion .tabs {position:fixed;}

.pomotion .van-collapse-item{
  position: relative;
  .van-cell{
    background: none;
    // background-color: #11181b;
    // color: #fff;
  }

  & + .van-collapse-item{

    &:after{
      position: absolute;
      content: "";
      left: 0;
      bottom: -1px;
      background: linear-gradient(90deg, #2C3036cc 15%, #0658C8 50%, #2c3036cc 85%);
      height: 1px;
      width: 100%;

    }

  }


  .van-cell__title{
    font-size: 16px;
    // color: #73d2cd;
    color: #fff;
    font-weight: bolder;
     img{
      width: 100%;
      height: auto;
    }
  }

  .van-collapse-item__content{
    background: #142327;
    color: #c6c6c7;
  }

   ul {
    list-style: disc;
    margin-left: 1em;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
    font-weight: bold;
  }

  h3 {
    font-size: 1.25em;
    font-weight: bold;
  }

  td,
  th {
    padding: 5px;
    border: 1px solid #fff;
  }

  tr th {
    font-size: 1.25em;
  }

  ol {
    list-style: decimal;
    margin-left: 1em;
  }
}



</style>
