<template>
<div class="page has-navbar" v-nav="{ hideNavbar: true}">
	<div class="page-content">
	
		<div style="overflow: auto;height: 100%;position: absolute;top: 0;z-index: 100;background: #000;">
			<div class="buttons"><button class="button-back button-icon" @click="$router.go(-1)"><span><i class="icon ion-ios-arrow-back"></i></span></button></div>
			<img v-bind:src="image" style="width: 100%; height: auto;">
		</div>
	
	</div>
</div>
</template>
<script>
  export default {
    data() {
      return {
		  image : require('assets/images/promotion/' + this.$route.params.id + '.jpg'),

       // pid: this.$route.params.id,
      //  showMore: false,
      }
    },
    mounted() {
      //console.log(this.$route.params.id);
    },
    methods: {
    //  showDetail: function(pid){
    //    this.pid = pid;
    //  },
     // back(){
        //this.$emit('closeModal');
       // this.$router.go(-1);
     // }
    }
  }
</script>
<style scoped>
.button-back{
    position: absolute;
    background-color: hsla(0,0%,100%,.7)!important;
    border-radius: 50%;
    width: 32px!important;
    height: 32px!important;
    left: 16px;
    top: 16px;
    color: #666;
}
.ion-ios-arrow-back{
    position: relative;
    top: -1px;
    left: -1px;
}
</style>
