<template>
	<div class="page has-navbar" v-nav="{title: $route.name, showBackButton: true}">
		<div class="page-content padding-top">
			<div class="item item-divider">
			</div>

			<yd-cell-group>
				<yd-cell-item>
					<span slot="left">会员帐号：</span>
					<yd-input slot="right" required v-model="username" max="20" placeholder="请输入帐号"></yd-input>
				</yd-cell-item>
				<yd-cell-item>
					<span slot="left">会员密码：</span>
					<yd-input slot="right" type="password" v-model="password" placeholder="请输入密码"></yd-input>
				</yd-cell-item>
				<yd-cell-item>
					<span slot="left">验证码：</span>
					<input type="text" v-model="verify" slot="right" placeholder="请输入验证码">
				</yd-cell-item>
				<img v-bind:src="'/api/captcha?rnd=' + rnd" @click="refreshCaptcha()" width="160" height="40" style="margin-top:0px;position: absolute;bottom:5px;right:10px;cursor: pointer;">
			</yd-cell-group>

			<div class="padding">
				<button class="button button-positive button-block" @click="submit">注册</button>
			</div>
		</div>
	</div>
</template>
<script>
import {Input} from 'vue-ydui/dist/lib.px/input';
import { apiRegisterQuick, apiLogin } from 'api.js'
import { mapGetters } from 'vuex'
export default {
	data() {
		return {
			rnd: 1,
			start1: false,
			username: '',
			password: '',
			verify: ''
		}
	},
	computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
			//web: 'web',
		}),
	},
	methods: {
		refreshCaptcha(){
			this.rnd = Math.random();
		},
		go2login(){
			apiLogin({
					'company' : this.config.company,
					'name' : this.username,
					'password' : this.password,
					'remember' : 'on'
				})
				.then(response => {
					console.log(response.data);
					let data = response.data;
					if (!data.status) {
						return $toast.show(data.message);
					}
					this.$store.dispatch('getUserInfo');
					$toast.show("登录中", 500)
						.then(() => {
							this.$router.back('/');
						});
				})
				.catch(error => {
					console.log(error);
				});
		},
		submit() {
			let reg_name = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{4,12}$/;
			if(!reg_name.test(this.username)){
				$toast.show('帐号格式不正确,请输入4-12个数字及小写字母');
				return;
			}
			let reg_pwd = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,12}$/;
			if(!reg_pwd.test(this.password)){
				$toast.show('密码格式不正确,请输入6-12个数字及小写字母');
				return;
			}
			apiRegisterQuick({
                      'company' : this.config.company,
                      'username' : this.username,
                      'password' : this.password,
					  'host' : window.location.host,
					  'captcha' : this.verify
                    })
				.then(response => {
					if (!response.data.status) {
						return $toast.show(response.data.message);
					}
					else {
						$toast.show(response.data.message, 500).then(() => {
							this.go2login();
						});
					}
				})
				.catch(error => {
					console.log(error);
				});
		}
	},
	mounted(){
		console.log(this.user.isLogin);
		//if (this.user.isLogin) {
		//	this.$router.go(-1);
		//}

	}
}
</script>
<style scoped>

</style>
