<template>
  <div class="page has-navbar" v-nav="{title: $route.name, showBackButton: true}">
    <div class="page-content slot">
      <search v-model="keyword" placeholder="请输入游戏名称" cancelText="取消" :on-search="onSearch" :on-cancel="onCancel" clearable></search>
      <div class="cells">
        <ul>
          <li v-for="(item, index) in gameLists" @click="slotPopup(item.vendor, item.game_id)" :key="index">
            <div class="photo">
              <img v-lazy="'/static/images/slot/ig/' + item.game_id +'.png'" width="100%" height="120">
            </div>
            <div class="one-line-text">{{item.game_name}}</div>
          </li>
        </ul>
        <div v-if="noRecord" class="no-record"></div>

      </div>
    </div>
  </div>
</template>

<script>
import {
	mapGetters
} from 'vuex'
import {
	globalMixin
} from 'mixin.js'

export default {
	mixins: [globalMixin],
	name: 'SlotComponent',
	data() {
		return {
			keyword: '',
			noRecord: false,
			isTryGame: true,

		}
	},
	components: {
		//'SlotGameUtil':SlotGameUtil
	},
	methods: {
		onSearch() {},
		onCancel() {
			this.keyword = '';
			this.noRecord = false;
		},
		slotPopup(soruce, id) {
			let options = {
				effect: 'scale',
				title: '',
				showClose: true,
				buttons: [{
						text: '进入游戏'
					},
					{
						text: '试玩'
					},
				]
			}
			let popup = $popup.fromTemplate('<div class="fs14 text-center">您可以选择直接游戏或试玩游戏</div>', options);

			popup.show().then((buttonIndex) => {
				if (buttonIndex == 0) {
					this.startGame(soruce, id);
				} else if (buttonIndex == 1) {
					this.tryGame(soruce, id);
				}
			})
		},

	},
	watch: {},
	computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
			web: 'web',
		}),

		gameLists() {
			let listCount = 0;
			this.noRecord = false;
			return this.web.ig.filter(post => {
				var result = post.game_name.toLowerCase().includes(this.keyword.toLowerCase());
				if (!result) {
					listCount++;
					this.noRecord = (listCount == this.web.ig.length)
				}
				return result;
			})
		},
	},
	created() {
		if (!this.web.ig.length) {
			this.$store.dispatch('getSlotLists', 'ig');
		}
	}
}

</script>
<style scoped>
.slot .cells li {
	display: inline-block;
	width: 33.3%;
	border: 0 solid #eee;
	overflow: hidden;
	margin: 0;
	padding: 3px;
	text-align: center;
	position: relative;
	font-size: 14px;
	line-height: 22px;
	color: #444;
}

.slot .cells li img {
	width: 100%;
}

.slot .cells {
	padding: 5px;
}

.slot .bar.bar-header {
	position: fixed;
	top: 44px;
}

.slot.page-content {
	padding-top: 88px;
}

</style>
<style>
.slot .item-input-wrapper .icon.ion-ios-search {
	font-size: 22px;
}

.slot .button.button-clear {
	font-size: 15px;
}

</style>
