<template>

	<div class="page has-navbar" v-nav="{title: $route.name, showBackButton: true, showMenuButton: true	, hideNavbar: true}">

		<div >
			<von-header>
				<button class="button button-icon ion-ios-arrow-back" slot="left" @click="$router.go(-1)"></button>
				<span slot="title">{{$route.name}}</span>
				<span class="fs14 link-color" slot="right" style="line-height:34px;margin-right:8px;" @click="showFilter = true">筛选</span>
			</von-header>

			<scroller class="page-content padding-top bet-log" ref="scroller" no-data-text="" :on-infinite="onLoadPage" :class="{'fade-leave-to' : showFilter,'fade-enter-active': !showFilter}">
				<list class="list-ios hl-list-borderless" style="margin-bottom:10px;" v-if="items.length">
					<item>洗码量
						<span class="item-note link-color fs14">{{ shimaAmount }}</span>
					</item>
				</list>
				<item v-for="(item, index) in items" class="record-item" :key="index" @click.native="onItemClick(index)" >
					<div class="record-cell date text-center">
						<div>{{ dateFormatMD(item.bet_date) }}<br>{{ dateFormatHM(item.bet_date) }}</div>
					</div>
					<div class="record-cell type text-center">
						<div class="dot bg-yellow" :class="{'bg-blue': item.vendor == 'LOTTERY','bg-red': item.vendor == 'AE'}">{{ getFirstVendor(item.vendor) }} </div>
					</div>
					<div class="record-cell memo">
						<span class="title">{{ getVendor(item.vendor)  }}|{{ item.game_info.title }}</span><br>
						<span class="order-no">投注 {{ item.bet_amount }} | 注单 {{ item.order_no }}</span>
					</div>

					<div class="record-cell amount">
						 {{ item.win_amount }}
					</div>
					<div class="record-cell status text-center" :class="{'text-green': item.completed,'text-red': item.cancel}">
						{{ item.cancel ? '取消' : item.completed ? '已结算' : '未结算' }}
					</div>


				</item>

				<div class="no-record" v-if="!this.items.length"></div>



			</scroller>
		</div>

		<vue-preview :slides="[{src:'/snapshot/'+item.vendor.toLowerCase()+'/'+item.order_no+'.jpg',w:600,h:400}]" ref="lightbox" style="position:absolute;right:50%;top:50%;z-index:10000"></vue-preview>

		<yd-popup v-model="showDetail" position="bottom" width="100%" height="100%" masker-opacity="0">

			<von-header>
				<span slot="title">详情</span>
				<button class="button button-icon ion-ios-close-empty" @click="showDetail = false" slot="right"></button>
			</von-header>
			<div class="page-content popup-detail">

				<div class="cells padding">
					<div class="type">
						<div class="dot bg-yellow" :class="{'bg-blue': item.vendor == 'LOTTERY','bg-red': item.vendor == 'AE'}">{{ item.vendor ? getFirstVendor(item.vendor) : ''}}</div>
						{{ getVendor(item.vendor) }}
					</div>
					<div class="amount">
						{{ item.win_amount }}
					</div>
					<div class="status" :class="{'text-green': item.completed,'text-red': item.cancel}">
						{{ item.cancel ? '取消' : item.completed ? '已结算' : '未结算' }}
					</div>
				</div>

				<list class="list-ios hl-list-borderless mb10">
					<item>
						游戏类别
						<span class="item-note">{{ getVendor(item.vendor)  }}</span>
					</item>
					<item>
						游戏名称
						<span class="item-note">{{ item.game_info.title }}</span>
					</item>
					<item>
						注单编号
						<span class="item-note">{{ item.order_no }}</span>
					</item>
					<item>
						投注时间
						<span class="item-note">{{ item.bet_date }}</span>
					</item>
					<item>
						投注金额
						<span class="item-note">{{ item.bet_amount }}</span>
					</item>


				</list>

				<list class="list-ios hl-list-borderless">
					<item v-if="item.vendor == 'LOTTERY'">
						彩票期号
						<span class="item-note">{{ item.game_info.action_no }}</span>
					</item>



					<item class="item-icon-right" v-if="item.vendor == 'VG'">
						我的投注

						<span class="item-note" @click="showSnapshot" v-if="item.game_info.snapshot">投注快照</span>
						<i class="icon ion-ios-arrow-right" v-if="item.game_info.snapshot"></i>

					</item>
					<item v-else>
						我的投注
						<span class="item-note super-sport-content" v-if="item.vendor == 'SUPER' || item.vendor == 'CHINNIU'" v-html="item.game_info.action_data"></span>
						<span class="item-note" v-else>{{ item.game_info.action_data }}</span>

					</item>

					<item v-if="item.vendor == 'VG'">
						游戏局号
						<span class="item-note">{{item.game_info.roundid}}</span>
					</item>

					
					<item v-if="item.vendor == 'LOTTERY'">
						开奖号码
						<span class="item-note">{{ item.game_info.lottery_no ?  item.game_info.lottery_no : item.cancel ? '取消' :'尚未开奖'}}</span>
					</item>
					<item v-if="item.vendor == 'BINGO'">
						开奖号码
						<span class="item-note">{{ item.game_info.lottery_no ?  item.game_info.lottery_no : item.cancel ? '取消' :'尚未开奖'}}</span>
					</item>
					<item>
						派彩时间
						<span class="item-note">{{ item.win_date }}</span>
					</item>
					<item>
						派彩金额
						<span class="item-note">{{ item.win_amount }}</span>
					</item>



				</list>

			</div>


		</yd-popup>



        <yd-popup v-model="showFilter" position="right" width="100%" class="bet-log-filter" masker-opacity="0">
			<von-header>
				<button class="button button-icon ion-ios-arrow-back" slot="left" @click="showFilter = false"></button>
				<span slot="title">筛选</span>
				<span class="fs14 link-color" slot="right"></span>
			</von-header>
			<div class="page-content">

				<div class="item-divider" style="padding:14px 10px 13px 5px;line-height:22px;">
					<button type="button" class="yd-btn-mini fs14"><!----> <span>日期快捷</span></button>
					<div class="item-note" style="margin-top:-4px;">
						<button type="button" class="yd-btn quick-btn" @click="quickButtonDate(0);quickBtn = 1" :class="{'active':quickBtn == 1}"><!----> <span>今天</span></button>
						<button type="button" class="yd-btn quick-btn" @click="quickButtonDate(2);quickBtn = 2" :class="{'active':quickBtn == 2}"><!----> <span>三天</span></button>
						<button type="button" class="yd-btn quick-btn" @click="quickButtonDate(6);quickBtn = 3" :class="{'active':quickBtn == 3}"><!----> <span>一星期</span></button>
					</div>
				</div>


				<item @click.native="$refs.startDate.open()">
					开始时间
					<span class="item-note">
						<yd-datetime ref="startDate" v-model="start_date" :cancel-text="picker_cancel_text" :confirm-text="picker_confirm_text" type="date" :start-date="limit_start_date"></yd-datetime>
					</span>
				</item>
				<item  @click.native="$refs.endDate.open()">
					结束时间
					<span class="item-note">
						<yd-datetime ref="endDate" v-model="end_date" :cancel-text="picker_cancel_text" :confirm-text="picker_confirm_text" type="date" slot="right" :start-date="limit_start_date"></yd-datetime>
					</span>
				</item>
				<item @click.native="vendorActionsheet = true">
					游戏分类
					<span class="item-note">{{ vendors }}</span>
				</item>
				<item @click.native="completedActionsheet = true">
					注单状态
					<span class="item-note">{{ completed }}</span>
				</item>
				<div class="padding">
					<button class="button button-positive button-block" @click="search(1)">搜索</button>

      				<button class="button button-light button-block" @click="reset">重置</button>
				</div>
			</div>

        </yd-popup>

		<yd-actionsheet :items="vendorItems" v-model="vendorActionsheet" class="vendorItemsFilter"></yd-actionsheet>
		<yd-actionsheet :items="completedItems" v-model="completedActionsheet"></yd-actionsheet>
		


	</div>
</template>
<script>

import moment from 'moment'
import { apiBetLog } from 'api.js'
import { mapGetters } from 'vuex'
import { globalMixin } from 'mixin.js'
export default {
	mixins: [globalMixin],
	component:{
	},
	data() {
		return {
			limit_start_date: moment(new Date((new Date()).getTime() - (7 * 86400 * 1000))).format("YYYY-MM-DD"),
			quickBtn : 0,
			completedActionsheet: false,
			completedItems:[
				{label: '全部'   ,callback: () => { this.radio_completed = 100; }},
				{label: '未结算' ,callback: () => { this.radio_completed = 0; }},
				{label: '已算结' ,callback: () => { this.radio_completed = 1; }},
				{label: '取消'   ,callback: () => { this.radio_completed = 2; }},

			],
			vendorActionsheet: false,
			vendorItems:[

			],

			showFilter: false,
			showDetail: false,
			item: {
				vendor: '',
                date: '',
				memo: false,
				cancel: false,
				status: false,
				order_no: false,
				bet_amount: '',
				win_amount: '',
				completed: '',
				game_info: {title: '', action_no: '', lottery_no: '', action_data: ''}
            },

			page: 1,
			//radio_date: 1,
			radio_vendor: 'ALL',
			radio_completed: 100,

			items: [],
			current_page: 0,
			last_page: 1,

			picker_cancel_text: '取消',
			picker_confirm_text: '确定',
			start_date: moment(new Date()).format("YYYY-MM-DD"),
			end_date: moment(new Date()).format("YYYY-MM-DD"),
			shimaAmount : 0,
		}
	},
	computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
			//web: 'web',
		}),
		completed(){
			var array = {
				'100' : '全部',
				'0' : '未结算',
				'1' : '已算结',
				'2' : '取消',
			};
			return array[this.radio_completed];
		},
		vendors(){
			if (this.radio_vendor == 'ALL')	return '全部';
			return this.config.vendorsName[this.radio_vendor];
		}

	},
	methods: {

		showSnapshot(){
			this.$refs.lightbox.$el.querySelector('figure').click();
		},
		dateFormatMD(date) {
			return moment(date).format('MM-DD');
		},
		dateFormatHM(date) {
			return moment(date).format('hh:mm');
		},
		quickButtonDate(day){
			this.start_date = moment().subtract(day,'d').format('YYYY-MM-DD');
			this.end_date = moment(new Date()).format("YYYY-MM-DD");
		},
		getFirstVendor(vendor)
		{
			//console.log(vendor);
			if(vendor=='SA_FISHER' || vendor=='SA_SLOT'){vendor='SA_LIVE';}
			if(vendor=='ALLBET_FISHER'){vendor='ALLBET_LIVE';}
			return this.config.vendorsName[vendor].substring(0,1);
		},
		getVendor(vendor)
		{
			if(vendor=='SA_FISHER' || vendor=='SA_SLOT'){vendor='SA_LIVE';}
			if(vendor=='ALLBET_FISHER'){vendor='ALLBET_LIVE';}
			return this.config.vendorsName[vendor];
		},
		search(page, fn){
			//$loading.show('努力读取中...');
			apiBetLog(page, {
								'vendor' : this.radio_vendor,
								'completed' : this.radio_completed,
								'dateStart' : this.start_date,
								'dateEnd' : this.end_date,
								'paginate' : 30
						})
				.then(response => {
					this.showFilter = false;

					//setTimeout(() => {
					//	$loading.hide();
					//}, 500);
					if (!response.data.status) {
						return $toast.show(response.data.message);
					}
					else {
						if(response.data.data.current_page == 1){
							this.items = response.data.data.data;
							//var clone = response.data.data.data.slice(0);
							//console.log(clone);
							//this.items = this.items.concat(clone);
						}else{
							this.items = this.items.concat(response.data.data.data);
						}
						this.last_page = response.data.data.last_page;
						this.current_page = response.data.data.current_page;
						this.shimaAmount = response.data.shima;

						if(this.current_page < this.last_page){
							setTimeout(() => {
									this.$refs.scroller.finishInfinite();
							});
						}else{
							setTimeout(() => {
									this.$refs.scroller.finishInfinite(true);
							});
						}
					}
				})
				.catch(error => {
					console.log(error);
					//setTimeout(() => {
					//	$loading.hide();
					//}, 500);
				})
				.finally(() => {
					setTimeout(() => {
						if(fn)	fn();
					//	$loading.hide();
					}, 0);
				});
		},
		reset(){
			this.quickBtn = 0;
			this.quickButtonDate(0);
			this.radio_vendor = 'ALL';
			this.radio_completed = 100;
		},
		onRefresh(){
			this.search(1, this.$refs.scroller.finishPullToRefresh);
			/*
			setTimeout(() => {
				setTimeout(() => {
					if (this.$refs.scroller) this.$refs.scroller.finishPullToRefresh();

				});
			}, 500);
			*/
		},
		onLoadPage(){
			//console.log("current_page - last_page" + this.current_page + "-" + this.last_page);
			if(this.current_page < this.last_page)
				this.search(this.current_page + 1);
			else{
				setTimeout(() => {
						this.$refs.scroller.finishInfinite(true);
				});
			}
		},
		onItemClick(index){
		//	console.log(index);
		//	console.log(this.item );
			this.item = this.items[index];
			this.showDetail = true;
		}
	},
	mounted(){
		var vendors = [];
		vendors.push({
			label: '全部', callback: () => { this.radio_vendor = 'ALL'; }, vendor:'ALL'
		});

		for (var key in this.config.vendorsName) {
			//console.log(key);
			//var x=key;
			vendors.push({
				label: this.config.vendorsName[key], callback: (e) => { this.radio_vendor = e.vendor; }, vendor : key
			});
			//this.$set(this.vendorItems, this.config.vendors[key].value, {amount:0,percent:0});
		}
		this.$set(this, 'vendorItems', vendors);

		//console.log(this.vendorItems);

//		console.log(this.user.isLogin);
		//if (this.user.isLogin) {
		//	this.$router.go(-1);
		//}
		//this.search(1);
	}
}
</script>
<style scoped>


.bet-log .record-item .record-cell{
	height:70px;
}
.bet-log .record-item .order-no{
	font-size:12px;
	color:#999;
	overflow: hidden;
	text-overflow : ellipsis;
	white-space : nowrap;
}
.bet-log .record-item .title{
	font-size:14px;
	overflow: hidden;
	text-overflow : ellipsis;
	white-space : nowrap;
	font-weight:400;
}
.bet-log .record-item{
	padding:0px;
	color:#666;
	display: flex;

}
.bet-log .record-cell.date{
	width:50px;
	font-size:12px;
    display: flex;
    align-items: center;
    justify-content: center;
	padding-left:10px;

}
.bet-log .record-cell.status{
	color:#999;
	width:50px;
	font-size:12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bet-log .record-cell.type{
	width:40px;
	font-size:16px;
	    display: flex;
    align-items: center;
    justify-content: center;
}

.bet-log .record-cell.memo{
	width: calc(100% - 200px);
	line-height:16px;
    padding-top: 20px;
	overflow:hidden;
}

.bet-log .record-cell.amount{
	width: 50px;
	font-size:12px;
	    display: flex;
    align-items: center;
    justify-content: center;
}
.bet-log .dot {
    border-radius: 50%;
	background-color:#fdb500;
    display: inline-block;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    padding: 5px 5px;
	    width: 25px;
}

.bet-log .bg-blue {
	background-color:#11c1f3 !important;
}
.bet-log .bg-red {
	background-color:#e5311b !important;
}

.popup-detail .super-sport-content {

}


.popup-detail .item { margin:-1px 0px}
.popup-detail .dot {
    border-radius: 50%;
	background-color:#fdb500;
    display: inline-block;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    padding: 5px 5px;
		    width: 25px;
}
.popup-detail .bg-blue {
	background-color:#11c1f3 !important;
}
.popup-detail .bg-red {
	background-color:#e5311b !important;
}

.popup-detail .type {
	text-align:center;
	font-size:15px;
	line-height:15px;
	padding:10px 0;
	color:#444;
}

.popup-detail .amount {
	text-align:center;
	font-size:20px;
	padding:10px 0;
	font-weight:700;
}


.popup-detail .status {
	text-align:center;
	font-size:14px;
	padding:10px 0;
	color:#777;
}


</style>
<style>
.bet-log-filter .quick-btn {
    color: #409eff;
    border-radius: 2px;
    box-sizing: border-box;
    border: 1px solid rgba(64,158,255,.2);
	    background-color: rgba(74, 144, 226, .1);
}
.bet-log-filter .quick-btn.active {
	color:#fff;
	background-color: rgba(74, 144, 226, 1);
}

.bet-log-filter .yd-mask {
	z-index:1499 !important;
}
.bet-log-filter .yd-popup {
	z-index:1500 !important;
}
.popup-detail .super-sport-content {color:#777;line-height:20px;}
.popup-detail .super-sport-content .t-c5,.popup-detail .super-sport-content .t-c1 { color:#ea5a49;}
.popup-detail .super-sport-content .t-c2 { color:#2196F3;}
.popup-detail .super-sport-content .green {
	margin-top: 5px;
    color: green;
    border-top: 1px solid #eee;
    padding-top: 5px;
}
.vendorItemsFilter .yd-actionsheet {
	max-height:412px;
	overflow-y: auto;
}

</style>
