<template>
	<div class="page has-navbar" v-nav="{title: $route.name, showBackButton: true}">
		<div class="page-content padding-top cash-password-page">
			<div class="item item-divider">
			</div>

			<yd-cell-group>
				<yd-cell-item>
					<span slot="left">提款密码</span>
					<yd-input slot="right" type="password" v-model="pwd" placeholder="请输入6-12位数字及字母组合" autocomplete="off" max="12" min="6" :show-required-icon="false" regex="^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,12}$"></yd-input>
				</yd-cell-item>
				<yd-cell-item>
					<span slot="left">确认密码</span>
					<yd-input slot="right" type="password" v-model="conform_pwd" placeholder="请输入确认密码" autocomplete="off" max="12" min="6" :show-required-icon="false" regex="^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,12}$"></yd-input>
				</yd-cell-item>
			</yd-cell-group>

			<div class="padding">
				<button class="button button-positive button-block" @click="submit">确认</button>
			</div>
		</div>
	</div>
</template>
<script>
import {Input} from 'vue-ydui/dist/lib.px/input';
import { apiSetupCashPassword } from 'api.js'
import { mapGetters } from 'vuex'
export default {
	data() {
		return {
			pwd: '',
			conform_pwd: ''
		}
	},
	computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
			//web: 'web',
		}),
	},
	methods: {
		submit(){
			let reg_pwd = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,12}$/;
			if(!reg_pwd.test(this.pwd)){
				$toast.show('密码格式不正确,请输入6-12位数字及字母组合');
				return;
			}
			if(this.pwd != this.conform_pwd){
				$toast.show('提款密码与确认密码不一致');
				return;
			}
			apiSetupCashPassword({
                        'cashPassword' : this.pwd,
                        'cashPassword_confirmation' : this.conform_pwd,
                    })
				.then(response => {
					if (!response.data.status) {
						return $toast.show(response.data.message);
					}
					else {
						this.user.is_cash_password = true;
						$toast.show(response.data.message, 1000).then(() => {
							this.$router.go(-1);
						});
					}
				})
				.catch(error => {
					console.log(error);
				});
		}
	},
	mounted(){
		//console.log(this.user.isLogin);
		//if (this.user.isLogin) {
		//	this.$router.go(-1);
		//}
	}
}
</script>
<style>
.cash-password-page .yd-cell-item {
	padding-left:14px;
}
.cash-password-page .yd-cell-item .yd-cell-left{
	min-width:90px;
}

</style>
