<template>
	<div class="page has-navbar" v-nav="{title: $route.name, showBackButton: true}">
		<div class="page-content padding-top">
			<div class="item item-divider">
			</div>

			<yd-cell-group>
				<yd-cell-item>
					<span slot="left">真实姓名：</span>
					<yd-input slot="right" v-model="user.name" placeholder="请输入真实姓名"></yd-input>
				</yd-cell-item>
				<yd-cell-item>
					<span slot="left">Line：</span>
					<yd-input slot="right" v-model="user.line" placeholder="请输入Line"></yd-input>
				</yd-cell-item>

			</yd-cell-group>

			<div class="padding">
				<button class="button button-positive button-block" @click="submit">确认</button>
			</div>
		</div>
	</div>
</template>
<script>
import {Input} from 'vue-ydui/dist/lib.px/input';
import { apiChangeInfo } from 'api.js'
import { mapGetters } from 'vuex'
export default {
	data() {
		return {
			name: '',
			line: ''
		}
	},
	computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
			//web: 'web',
		}),
	},
	methods: {
		submit(){
			apiChangeInfo({
                    'name' : this.user.name,
                    'line' : this.user.line
                })
				.then(response => {
					if (!response.data.status) {
						return $toast.show(response.data.message);
					}
					else {
						$toast.show(response.data.message, 2000).then(() => {
							this.$router.go(-1);
						});
					}
				})
				.catch(error => {
					console.log(error);
				});
		}
	},
	mounted(){
		console.log(this.user.isLogin);
		//if (this.user.isLogin) {
		//	this.$router.go(-1);
		//}
	},
	created() {
		//this.$set(this, 'form', this.user.bank ? this.user.bank: {'bank_value':'','bank_name':'','bank_account':'','bank_username':''});
		this.$store.dispatch('getUserInfo');
		//console.log( this.user.bank);
	},
}
</script>
<style scoped>

</style>
