<template>
	<div class="page has-navbar" v-nav="{title: $route.name, showBackButton: true, hideNavbar: true}">
		<div class="page-content deposit-page"><!-- padding-top-->
			<von-header>
				<button class="button button-icon ion-ios-arrow-back" slot="left" @click="$router.go(-1)"></button>
				<span slot="title">{{$route.name}}</span>
				<span class="fs14 link-color" slot="right" style="line-height:34px;margin-right:8px;" @click="go2page('/user/transfer-log')">资金记录</span>
			</von-header>



			<div class="cells step-box">

				<yd-step :current="step" class="" current-color="#4a90e2">
					<yd-step-item>
						<span slot="bottom">输入金额</span>
					</yd-step-item>
					<yd-step-item>
						<span slot="bottom">立即支付</span>
					</yd-step-item>
					<yd-step-item>
						<span slot="bottom">存款成功</span>
					</yd-step-item>
				</yd-step>
			</div>


			<div v-if="step == 3">
				<div class="cells deposit-box">


						<div class="text-center  mt10 mb10"><i class="far fa-check-circle link-color fa-4x"></i></div>
						<div class="text-center mt10 mb10"> <span class="link-color fw700 fs18">存款完成</span></div>
						<div class="text-center mt10 mb10 fs14" style="color:#999">	请及时查看钱包确认到帐</div>

				</div>


				<div class="padding">
					<button class="button button-positive button-block" @click="$router.go(-1)">离开此页</button>
				</div>


			</div>
			<div v-if="step == 2">
				<div class="cells deposit-box">
						<div class="text-center fs14 mt10 mb10">存款金额 </div>
						<div class="text-center mt10 mb10"> <span class="link-color fw700 fs20">{{ form.amount }}</span> 元</div>

				</div>


				<list class="list-ios" style="margin-bottom:10px;">
					<item>
						成单时间
						<span class="item-note">{{ order_time }}</span>
					</item>
					<item>
						订单编号
						<span class="item-note">{{ order_no }}</span>
					</item>
					<item>
						订单失效时间
						<span class="item-note link-color"><yd-countdown format="{%m} 分 {%s} 秒" :time="endTime" done-text="订单已失效" :callback="orderFail"></yd-countdown></span>
					</item>
				</list>

				<div class="padding">
					<button class="button button-positive button-block" @click="finish">完成存款，确认送出</button>
					<button class="button button-light button-block" @click="back">支付遇到问题，重新下单</button>
				</div>


			</div>

			<div v-if="step == 1">

				<div class="cells deposit-box" >

					<div class="row">
						<div class="col">
							<div class="cards" :class="{'active': form.paymentType == 'ATM'}" @click="form.paymentType = 'ATM'">
								<em class="atm"></em>
								<span class="text fs14">实体ATM及网银<div class="txt-small">ATM机柜 网络银行 </div></span>

							</div>
						</div>
						<div class="col">
							<div class="cards" :class="{'active': form.paymentType == 'CVS'}" @click="form.paymentType = 'CVS'">
							<em class="cvs"></em>
							<span class="text fs14">超商付款<div class="txt-small">7-11 全家 OK 莱尔富 </div></span>
						</div>
						</div>
					</div>

				</div>



				<div class="von-input-wrapper">
					<label class="item item-borderless item-input von-input"  @click="focusSelectAll('amount')">
						<div class="hairline-top"></div>
						<span class="input-label">金额</span>
						<input type="tel" v-model="form.amount" ref="amount" placeholder="请输入金额100-100000元" maxlength="6" @keypress="onlyNumber()" autocomplete="off">
						<div class="buttons" @click="form.limit = !form.limit" style="pointer-events: auto;"><span class="fs14 link-color" style="line-height: 34px;">限额说明</span></div>
						<div class="hairline-bottom"></div>
					</label>

				</div>

				<div class="item item-divider" v-if="form.limit == true">
					<span class="pull-right">单笔限额(元) 100 - 100000</span>
				</div>
				<div class="item" style="padding-bottom:11px;padding-top:10px;">
					<button class="button button-light button-small button-outline" @click="form.amount = 100">100元</button>
					<button class="button button-light button-small button-outline" @click="form.amount = 500">500元</button>
					<button class="button button-light button-small button-outline" @click="form.amount = 1000">1000元</button>
					<button class="button button-light button-small button-outline" @click="form.amount = 3000">3000元</button>
					<button class="button button-light button-small button-outline" @click="form.amount = 5000">5000元</button>
				</div>
				<div class="padding">
					<button class="button button-positive button-block" @click="next">下一步</button>
				</div>

			</div>


			<div class="padding fs14 tip-box">
				<p class="fw700">温馨提示</p>
				<p>为确保您的款项及时到帐，请您留意以下几点：</p>
				<ol>
				<li>若您支付过程中遇到问题且未完成支付，请重新下单</li>
				<li>若您支付遇到困难，联系线上客服获得帮助</li>
				</ol>
			</div>



			<div v-html="form.response" style="display:none;"></div>
		</div>
	</div>
</template>
<script>
import { mapGetters } from 'vuex'
import { globalMixin } from 'mixin.js'
import { apiPaymentEcpay , apiCheckPaymentOrderNo } from 'api.js'
export default {
	mixins: [globalMixin],
	data() {
		return {
			step:1,
			endTime : '',
			order_no: '',
			order_time:'',

			form:{
				paymentType:'ATM',
				amount:'',
				load:false,
				response:'',
				limit:false
			},

		}
	},
    components: {

    },
	computed:{

	},
	mounted() {

	},
    computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
			web: 'web',
		}),


	},
	methods: {
		orderFail(){
			this.step = 1;
			let options = {
				effect: 'scale',
				title: '',
				showClose: false,
				buttons: [
				  {text: '我知道了'},
				]
			}
			let popup = $popup.fromTemplate('<div class="fs14 text-center">订单已失效</div>', options);

			popup.show().then((buttonIndex) => {
			})

		},
		checkOrder(order_no){
			if (this.step == 2)	{
				setTimeout(() => {
					//console.log('123');
					apiCheckPaymentOrderNo({'order_no':order_no})
						.then(response => {
							if (response.data.status)	{
								this.finish();
							}
							else {
								this.checkOrder(order_no);
							}
					}).catch(error => {
						console.log(error);
					});
				}, 10000);
			}
		},
		focusSelectAll(target){
			this.$refs[target].focus();
			this.$refs[target].setSelectionRange(0,-1);
		},
		next() {
			if (!this.form.amount) {
				return $toast.show('请输入金额');
			}
			if (parseInt(this.form.amount) < 100 || parseInt(this.form.amount) > 100000)	{
				return $toast.show('请输入金额范围 100 ~ 100000');
			}


			this.$dialog.loading.open('订单生成中...');
			setTimeout(() => {
				if(this.isIOS()) {
					var newWindow = window.open("about:blank", '');
				}

				apiPaymentEcpay({
						'payment_type' : this.form.paymentType,
						'amount' : this.form.amount
					})
					.then(response => {

						if (response.data.status == 0){
							return $toast.show(response.data.message);
						}
						else {
							//this.form.response = response.data.response;
							//console.log(response.data);
							if(this.isIOS()) {
								newWindow.location.href = response.data.response;
							}
							else {
								window.open(response.data.response,'', '');
							}

							//var rechargeWindows = window.open('about:blank', '');
							//setTimeout(function(){
							//	rechargeWindows.document.write(response.data.response);
							//	rechargeWindows.document.getElementById("__ecpayForm").submit();

								//document.getElementById("__ecpayForm").setAttribute("target", "recharge");
								//document.getElementById("__ecpayForm").submit();

							//}, 500);
							this.order_no = response.data.order_no;
							this.order_time = response.data.order_time;
							this.step = 2;
							this.endTime = new Date(new Date().getTime() + 900*1000);
							this.checkOrder(this.order_no);
						}
						this.$dialog.loading.close();

					}).catch(error => {
						this.$dialog.loading.close();
						console.log(error);
					});


				//this.$dialog.loading.close();


			}, 500);


		},
		back(){
			this.step = 1;
			this.endTime = '';
		},
		finish(){
			this.step = 3;
			this.$store.dispatch('getUserInfo');
		}
	},
	created() {

	}

}
</script>
<style>
.deposit-page .step-box {
	color:#777;
	padding:15px 0px 5px 0;
}
.deposit-page .button.button-light.button-outline {
	border-color:#ddd;
	color:#777;
	padding: 2px 10px;
	font-size:14px;
}
.deposit-page .deposit-box {
	padding: 10px 5px;
}
.deposit-page .tip-box {
	color:#777;
}
.deposit-page .tip-box ol {
	list-style-type: decimal;
    margin-left: 12px;
	    padding-left: 6px;

}
.deposit-page .deposit-box .cards.active {
	border:1px solid #66b1ff;
	background-color: rgba(102, 177, 255, .1);
}
.deposit-page .deposit-box .cards.active:after {
	position: absolute;
    right: 0;
    content: " ";
	bottom: 0;
    width: 0;
    height: 0;
    border-width: 0 0 25px 25px;
    border-style: solid;
    border-color: transparent transparent #66b1ff;
}
.deposit-page .deposit-box .cards.active:before {
	position: absolute;
    right: 0;
    content: " ";
	bottom: 2px;
    background: url(/static/images/user/gou.png) no-repeat;
    width: 14px;
    height: 11px;
    z-index: 1;
}
.deposit-page .deposit-box .col {
	margin:0 5px;
}
.deposit-page .deposit-box .cards {

	border:1px solid #dedede;
	width:100%;
	min-width:165px;
	margin:0 auto;
	height:54px;
	line-height:50px;
	color:#666;



}
.deposit-page .deposit-box .cards .text {
	display:inline-block;
    line-height: 15px;
    vertical-align: middle;
	text-align:left;
	margin-top:4px;
}
.deposit-page .deposit-box .cards .txt-small {
	font-size:12px;
	color:#999;

}
.deposit-page .deposit-box em {
    display: inline-block!important;
    vertical-align: middle;
    width: 36px;
    height: 36px;
    background: 50% no-repeat;
    background-size: cover;
    margin-right: 3px;
}
.deposit-page .deposit-box em.atm {
    background-image: url(/static/images/user/deposit_atm.png);
}
.deposit-page .deposit-box em.cvs {
	width:36px;
	height:36px;
    background-image: url(/static/images/user/deposit_711.png);
}

.deposit-page .button-light:active:not(.md-button) {
    background-color: #ffbd17;

}

</style>
