<template>
  <div class="page has-navbar" v-nav="{title: $route.name, showBackButton: true, hideNavbar: true}">
    <div class="page-content deposit-page" v-bind:style="{'padding-top': (tabs.length > 1 ? '92': '44') +'px'}">
      <!-- padding-top-->
      <von-header>
        <button class="button button-icon ion-ios-arrow-back" slot="left" @click="$router.go(-1)"></button>
        <span slot="title">{{$route.name}}</span>
        <span class="fs14 link-color" slot="right" style="line-height:34px;margin-right:8px;" @click="go2page('/user/transfer-log')">资金记录</span>
      </von-header>

      <tabs :tab-items="tabs" :tab-index="tabIndex" position="top" bg-color="Light" tab-color="" :on-tab-click="onTabClick" v-if="tabs.length > 1"></tabs>


	<!-- AuroraPay -->
      <div v-if="tabIndexTarget.payment == 'AuroraPay'">
        <div class="cells step-box">

          <yd-step :current="form.AuroraPay.step" class="" current-color="#4a90e2">
            <yd-step-item>
              <span slot="bottom">输入金额</span>
            </yd-step-item>
            <yd-step-item>
              <span slot="bottom">立即支付</span>
            </yd-step-item>
            <yd-step-item>
              <span slot="bottom">存款成功</span>
            </yd-step-item>
          </yd-step>
        </div>


        <div v-if="form.AuroraPay.step == 3">
          <div class="cells deposit-box">


            <div class="text-center  mt10 mb10"><i class="far fa-check-circle link-color fa-4x"></i></div>
            <div class="text-center mt10 mb10"> <span class="link-color fw700 fs18">存款完成</span></div>
            <div class="text-center mt10 mb10 fs14" style="color:#999"> 请及时查看钱包确认到帐</div>

          </div>


          <div class="padding">
            <button class="button button-positive button-block" @click="$router.go(-1)">离开此页</button>
          </div>


        </div>
        <div v-if="form.AuroraPay.step == 2">
          <div class="cells deposit-box">
            <div class="text-center fs14 mt10 mb10">存款金额 </div>
            <div class="text-center mt10 mb10"> <span class="link-color fw700 fs20">{{ form.AuroraPay.amount }}</span> 元</div>
          </div>
        </div>

        <div v-if="form.AuroraPay.step == 1">
          <div class="cells deposit-box">
            <div class="row">
			<div class="col">
				<div class="cards" :class="{'active': form.AuroraPay.paymentType == 'bank_twd-Virtual'}" @click="form.AuroraPay.paymentType = 'bank_twd-Virtual'">
				<em class="atm"></em>
				<span class="text fs14">实体ATM及网银<div class="txt-small">ATM机柜 网络银行 </div></span>
				</div>
			</div>
              <div class="col">
                <div class="cards" :class="{'active': form.AuroraPay.paymentType == 'bank_twd-Barcode'}" @click="form.AuroraPay.paymentType = 'bank_twd-Barcode'">
                  <em class="cvs"></em>
                  <span class="text fs14">超商付款<div class="txt-small">7-11 全家 OK 莱尔富 </div></span>
                </div>
              </div>
            </div>
          </div>
          <div class="von-input-wrapper">
            <label class="item item-borderless item-input von-input" @click="focusSelectAll('famepay_amount')">
              <div class="hairline-top"></div>
              <span class="input-label">金额</span>
              <input type="tel" v-model="form.AuroraPay.amount" ref="famepay_amount" :placeholder="'请输入金额'+this.min_amount+'-'+this.max_amount+'元'" maxlength="6" @keypress="onlyNumber()" autocomplete="off">
              <div class="buttons" @click="form.AuroraPay.limit = !form.AuroraPay.limit" style="pointer-events: auto;"><span class="fs14 link-color" style="line-height: 34px;">限额说明</span></div>
              <div class="hairline-bottom"></div>
            </label>

          </div>

          <div class="item item-divider" v-if="form.AuroraPay.limit == true">
            <span class="pull-right">{{ limitDesc() }}</span>
          </div>
          <div class="item" style="padding-bottom:11px;padding-top:10px;">
            <!--
                <button class="button button-light button-small button-outline" @click="form.myhomepei.amount = 100">100元</button>
                      -->
            <button class="button button-light button-small button-outline" @click="form.AuroraPay.amount = 500">500元</button>
            <button class="button button-light button-small button-outline" @click="form.AuroraPay.amount = 1000">1000元</button>
            <button class="button button-light button-small button-outline" @click="form.AuroraPay.amount = 3000">3000元</button>
            <button class="button button-light button-small button-outline" @click="form.AuroraPay.amount = 5000">5000元</button>
          </div>
          <div class="padding">
            <button class="button button-positive button-block" @click="fafagoNext('AuroraPay',form.AuroraPay)">下一步</button>
          </div>
        </div>

      </div>


	<!-- GSPAY -->
      <div v-if="tabIndexTarget.payment == 'GSPAY'">
        <div class="cells step-box">

          <yd-step :current="form.GSPAY.step" class="" current-color="#4a90e2">
            <yd-step-item>
              <span slot="bottom">输入金额</span>
            </yd-step-item>
            <yd-step-item>
              <span slot="bottom">立即支付</span>
            </yd-step-item>
            <yd-step-item>
              <span slot="bottom">存款成功</span>
            </yd-step-item>
          </yd-step>
        </div>


        <div v-if="form.GSPAY.step == 3">
          <div class="cells deposit-box">


            <div class="text-center  mt10 mb10"><i class="far fa-check-circle link-color fa-4x"></i></div>
            <div class="text-center mt10 mb10"> <span class="link-color fw700 fs18">存款完成</span></div>
            <div class="text-center mt10 mb10 fs14" style="color:#999"> 请及时查看钱包确认到帐</div>

          </div>


          <div class="padding">
            <button class="button button-positive button-block" @click="$router.go(-1)">离开此页</button>
          </div>


        </div>
        <div v-if="form.GSPAY.step == 2">
          <div class="cells deposit-box">
            <div class="text-center fs14 mt10 mb10">存款金额 </div>
            <div class="text-center mt10 mb10"> <span class="link-color fw700 fs20">{{ form.GSPAY.amount }}</span> 元</div>
          </div>
        </div>

        <div v-if="form.GSPAY.step == 1">
          <div class="cells deposit-box">
            <div class="row">
				<div class="col">
					<div class="cards" :class="{'active': form.GSPAY.paymentType == '30'}" @click="form.GSPAY.paymentType = '30'">
					<span class="text fs14">ATM及网银<div class="txt-small">ATM机柜 网络银行 </div></span>
					</div>
				</div>
				<div class="col">
					<div class="cards" :class="{'active': form.GSPAY.paymentType == '10'}" @click="form.GSPAY.paymentType = '10'">
						<span class="text fs14">微信付款<div class="txt-small">微信付款 </div></span>
					</div>
				</div>
            </div>
			<div class="row">
				<div class="col">
					<div class="cards" :class="{'active': form.GSPAY.paymentType == '20'}" @click="form.GSPAY.paymentType = '20'">
						<span class="text fs14">支付宝付款<div class="txt-small">支付宝 </div></span>
					</div>
				</div>
			</div>
          </div>
          <div class="von-input-wrapper">
            <label class="item item-borderless item-input von-input" @click="focusSelectAll('famepay_amount')">
              <div class="hairline-top"></div>
              <span class="input-label">金额</span>
              <input type="tel" v-model="form.GSPAY.amount" ref="famepay_amount" :placeholder="'请输入金额'+this.min_amount+'-'+this.max_amount+'元'" maxlength="6" @keypress="onlyNumber()" autocomplete="off">
              <div class="buttons" @click="form.GSPAY.limit = !form.GSPAY.limit" style="pointer-events: auto;"><span class="fs14 link-color" style="line-height: 34px;">限额说明</span></div>
              <div class="hairline-bottom"></div>
            </label>

          </div>

          <div class="item item-divider" v-if="form.GSPAY.limit == true">
            <span class="pull-right">{{ limitDesc() }}</span>
          </div>
          <div class="item" style="padding-bottom:11px;padding-top:10px;">
            <!--
                <button class="button button-light button-small button-outline" @click="form.myhomepei.amount = 100">100元</button>
                      -->
            <button class="button button-light button-small button-outline" @click="form.GSPAY.amount = 500">500元</button>
            <button class="button button-light button-small button-outline" @click="form.GSPAY.amount = 1000">1000元</button>
            <button class="button button-light button-small button-outline" @click="form.GSPAY.amount = 3000">3000元</button>
            <button class="button button-light button-small button-outline" @click="form.GSPAY.amount = 5000">5000元</button>
          </div>
          <div class="padding">
            <button class="button button-positive button-block" @click="fafagoNext('GSPAY',form.GSPAY)">下一步</button>
          </div>
        </div>

      </div>

      <!--银行汇款-->
      <div v-if="tabIndexTarget.payment == 'VIPBank'">

        <div class="cells step-box">

          <yd-step :current="form.bankatm.step" class="" current-color="#4a90e2">
            <yd-step-item>
              <span slot="bottom">输入金额</span>
            </yd-step-item>
            <yd-step-item>
              <span slot="bottom">存款成功</span>
            </yd-step-item>
          </yd-step>
        </div>


        <div v-if="form.bankatm.step == 2">
          <div class="cells deposit-box">
            <div class="text-center fs14 mt10 mb10">存款金额 </div>
            <div class="text-center mt10 mb10"> <span class="link-color fw700 fs20">{{ form.bankatm.amount }}</span> 元</div>

          </div>


          <list class="list-ios" style="margin-bottom:10px;text-align: center;">
            <item style="text-align: left;">
              成单时间
              <span class="item-note">{{ form.bankatm.order_time }}</span>
            </item>
            <item style="text-align: left;">
              订单编号
              <span class="item-note">{{ form.bankatm.order_no }}</span>
            </item>
            <item>
              <span class="link-color">请联系客服核对到帐</span>
            </item>
          </list>
          <!-- <div class="padding">
            <button class="button button-light button-block" @click="bankatmBack">支付遇到问题，重新下单</button>
          </div> -->
        </div>

        <div v-if="form.bankatm.step == 1">
          <div class="cells deposit-box">
            <div class="row">
              <div class="col">
                <div style="color:#ddd">
					{{vip.desc}}
                </div>
              </div>
            </div>
            <!--div class="row" style="margin-top:6px;">
						<div class="col">
							<div class="cards" >
								<span class="text fs14">
									存款帐号: {{user.bank_atm.split(' ')[0]}}
								</span>
							</div>
						</div>
					</div-->

          </div>



          <div class="von-input-wrapper">
            <label class="item item-borderless item-input von-input" @click="focusSelectAll('htpay_amount')">
              <div class="hairline-top"></div>
              <span class="input-label">金额</span>
              <input type="tel" v-model="form.bankatm.amount" ref="htpay_amount" :placeholder="'请输入金额'+this.min_amount+'-'+this.max_amount+'元'" maxlength="6" @keypress="onlyNumber()" autocomplete="off">
              <div class="buttons" @click="form.bankatm.limit = !form.bankatm.limit" style="pointer-events: auto;"><span class="fs14 link-color" style="line-height: 34px;">限额说明</span></div>
              <div class="hairline-bottom"></div>
            </label>

          </div>

          <div class="item item-divider" v-if="form.bankatm.limit == true">
            <span class="pull-right">{{ limitDesc() }}</span>
          </div>
          <div class="item" style="padding-bottom:11px;padding-top:10px;">
            <!--
					<button class="button button-light button-small button-outline" @click="form.htpay.amount = 100">100元</button>
                -->
            <button class="button button-light button-small button-outline" @click="form.bankatm.amount = 500">500元</button>
            <button class="button button-light button-small button-outline" @click="form.bankatm.amount = 1000">1000元</button>
            <button class="button button-light button-small button-outline" @click="form.bankatm.amount = 3000">3000元</button>
            <button class="button button-light button-small button-outline" @click="form.bankatm.amount = 5000">5000元</button>
          </div>
          <div class="padding">
            <button class="button button-positive button-block" @click="bankatmNext">下一步</button>
          </div>

        </div>

      </div>

      <div class="padding fs14 tip-box">
        <p class="fw700">温馨提示</p>
        <p>为确保您的款项及时到帐，请您留意以下几点：</p>
        <ol>
          <li>若您支付过程中遇到问题且未完成支付，请重新下单</li>
          <li>若您支付遇到困难，联系线上客服获得帮助</li>
        </ol>
      </div>



      <!-- <div v-html="form.ecpay.response" style="display:none;"></div> -->
    </div>
  </div>
</template>
<script>
import {
	mapGetters
} from 'vuex'
import {
	globalMixin
} from 'mixin.js'
import {
	apiGetDepositPaymentUrl,
	apiPaymentfafago,
	apiCheckPaymentOrderNo,
	apiPaymentVIPBank,
	apiGetPayments,
	apiPayment,
} from 'api.js'
export default {
	mixins: [globalMixin],
	data() {
		return {
			vip:{
				desc : '請先輸入存款金額並送出後，查詢客服取得VIP存款方式',
			},
			paymentEnable: [],
			min_amount: 500,
			max_amount: 100000,
			tabs: [],
			tabsTarget: [],
			tabIndex: 0,
			tabIndexTarget: 'BankATM',

			form: {
				bankatm: {
					paymentType: '_BANKATM',
					amount: '',
					load: false,
					response: '',
					limit: false,
					endTime: '',
					step: 1,
					order_no: '',
					order_time: '',

				},
				htpay: {
					paymentType: 'VBANK',
					amount: '',
					load: false,
					response: '',
					limit: false,
					endTime: '',
					step: 1,
					order_no: '',
					order_time: '',

				},
				jiaPay: {
					paymentType: '2',
					amount: '',
					load: false,
					response: '',
					limit: false,
					endTime: '',
					step: 1,
					order_no: '',
					order_time: '',
				},
				famepay: {
					paymentType: 'atm',
					amount: '',
					load: false,
					response: '',
					limit: false,
					endTime: '',
					step: 1,
					order_no: '',
					order_time: '',
				},
				myhomepei: {
					paymentType: 'store',
					amount: '',
					load: false,
					response: '',
					limit: false,
					endTime: '',
					step: 1,
					order_no: '',
					order_time: '',
				},
        pay8957: {
          paymentType: '1',
          amount: '',
          load: false,
          response: '',
          limit: false,
          endTime: '',
          step: 1,
          order_no: '',
          order_time: '',
        },

				fafago: {
					paymentType: '1',
					amount: '',
					load: false,
					response: '',
					limit: false,
					endTime: '',
					step: 1,
					order_no: '',
					order_time: '',
				},
				smse: {
					paymentType: '4',
					amount: '',
					load: false,
					response: '',
					limit: false,
					endTime: '',
					step: 1,
					order_no: '',
					order_time: '',
				},
				AuroraPay: {
					paymentType: '4',
					amount: '',
					load: false,
					response: '',
					limit: false,
					endTime: '',
					step: 1,
					order_no: '',
					order_time: '',
				},
				GSPAY: {
					paymentType: '10',
					amount: '',
					load: false,
					response: '',
					limit: false,
					endTime: '',
					step: 1,
					order_no: '',
					order_time: '',
				}
			},

		}
	},
	components: {

	},
	computed: {

	},
	mounted() {

	},
	computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
			web: 'web',
		}),


	},
	methods: {
		limitDesc() {
			return '单笔限额(元):' + this.min_amount + ' - ' + this.max_amount;
		},
		onTabClick(index) {
			this.tabIndex = index;
			this.tabIndexTarget = this.tabsTarget[index];
			console.log(index, this.tabIndexTarget);
		},
		focusSelectAll(target) {
			this.$refs[target].focus();
			this.$refs[target].setSelectionRange(0, -1);
		},

		jiapayOrderFail() {
      this.form.jiaPay.step = 1;
      let options = {
        effect: 'scale',
        title: '',
        showClose: false,
        buttons: [{
          text: '我知道了'
        }, ]
      }
      let popup = $popup.fromTemplate('<div class="fs14 text-center">订单已失效</div>', options);

      popup.show().then((buttonIndex) => {})

    },

    jiapayCheckOrder(order_no) {
      if (this.form.jiaPay.step == 2) {
        setTimeout(() => {
          //console.log('123');
          apiCheckPaymentOrderNo({
              'order_no': order_no
            })
            .then(response => {
              if (response.data.status) {
                this.jiapayFinish();
              } else {
                this.jiapayCheckOrder(order_no);
              }
            }).catch(error => {
              console.log(error);
            });
        }, 10000);
      }
    },


		fafagoNext(pay_url,ptype) {
			if (!ptype.amount) {
				return $toast.show('请输入金额');
			}
			if (parseInt(ptype.amount) < this.min_amount || parseInt(ptype.amount) > this.max_amount)	{
				return $toast.show('请输入金额范围 '+this.min_amount+' ~ '+this.max_amount);
			}

			this.$dialog.loading.open('订单生成中...');
			setTimeout(() => {
				let url = apiGetDepositPaymentUrl(pay_url);
				this.openWindowWithPost(url, {
					payment_type: ptype.paymentType,
					amount: ptype.amount,
					vendor: pay_url
					});
				this.$dialog.loading.close();				
				return;
			}, 500);
		},


		bankatmNext() {
			if (!this.form.bankatm.amount) {
				return $toast.show('请输入金额');
			}
			if (parseInt(this.form.bankatm.amount) < 100 || parseInt(this.form.bankatm.amount) > 100000) {
				return $toast.show('请输入金额范围 100 ~ 100000');
			}


			this.$dialog.loading.open('订单生成中...');
			setTimeout(() => {

				apiPaymentVIPBank({
						'payment_type': this.form.bankatm.paymentType,
						'amount': this.form.bankatm.amount
					})
					.then(response => {
						this.$dialog.loading.close();
						if (response.data.status == 0) {
							return $toast.show(response.data.message);
						} else {


							this.form.bankatm.order_no = response.data.order_no;
							this.form.bankatm.order_time = response.data.order_time;
							this.form.bankatm.step = 2;
							this.form.bankatm.endTime = new Date(new Date().getTime() + 900 * 1000);
						}


					}).catch(error => {
						this.$dialog.loading.close();
						console.log(error);
					});




			}, 500);


		},
		bankatmBack() {
			this.form.bankatm.step = 1;
			this.form.bankatm.endTime = '';
		},
		openWindowWithPost(url, obj) {
      let form = document.createElement("form");
      form.setAttribute("method", "post");
      form.setAttribute("action", url);
      form.setAttribute("target", "view");

      let paymentTypeField = document.createElement("input");
      paymentTypeField.setAttribute("type", "hidden");
      paymentTypeField.setAttribute("name", "payment_type");
      paymentTypeField.setAttribute("value", obj.payment_type);
      form.appendChild(paymentTypeField);

      let amountField = document.createElement("input");
      amountField.setAttribute("type", "hidden");
      amountField.setAttribute("name", "amount");
      amountField.setAttribute("value", obj.amount);
	  form.appendChild(amountField);

      let vendorField = document.createElement("input");
      vendorField.setAttribute("type", "hidden");
      vendorField.setAttribute("name", "vendor");
      vendorField.setAttribute("value", obj.vendor);
	  form.appendChild(vendorField);
	  
      document.body.appendChild(form);

      window.open("", "view");
      form.submit();
    },




	},
	created() {
		//this.loading = true;
		apiGetPayments()
			.then(response => {
				if (response.data.status) {
					this.paymentEnable = response.data.data;
					Object.assign({}, this.paymentEnable);
						console.log("!!!",this.paymentEnable)
					for (var index in this.paymentEnable) {
						console.log(this.paymentEnable)
						switch(this.paymentEnable[index]['payment'])
						{
							case 'VIPBank':
								this.tabs.push('VIP存款');
								//this.CheckPayRule.vipbank = true;
								this.tabsTarget.push(this.paymentEnable[index]);
								this.vip.desc = this.paymentEnable[index]['info'];
								break;
							case 'JiaPay':
								this.tabs.push('派威尔');
								this.tabsTarget.push(this.paymentEnable[index]);
								break;
							case 'AuroraPay':
								this.tabs.push('AuroraPay(限台湾地区)');
								this.tabsTarget.push(this.paymentEnable[index]);
								break;
							case 'GSPAY':
								this.tabs.push('金鑫(限中国地区)');
								this.tabsTarget.push(this.paymentEnable[index]);
								break;
						}
						// if(this.paymentEnable[index].payment == 'JiaPay'){
						// 	this.tabs.push('派威尔');
						// 	this.tabsTarget.push(this.paymentEnable[index]);
						// }else if (this.paymentEnable[index].payment == 'FAMEPAY168'){
						// 	this.tabs.push('寰誉');
						// 	this.tabsTarget.push(this.paymentEnable[index]);
						// } else if (this.paymentEnable[index].payment == 'MYHOMEPEI'){
						// 	this.tabs.push('金恒通');
						// 	this.tabsTarget.push(this.paymentEnable[index]);
						// }else if (this.paymentEnable[index].payment == 'PAY8957'){
						// 	this.tabs.push('8957');
						// 	this.tabsTarget.push(this.paymentEnable[index]);
						// }
			// this.tabs.push(this.paymentEnable[index].payment);
			// this.tabsTarget.push(this.paymentEnable[index].payment);
					
					}
					if (this.tabsTarget.length) {
						this.onTabClick(0);
					}
					//Object.assign({}, this.paymentEnable);

				}
				//this.loading = false;
			}).catch(error => {
				console.log(error);
			});

	}

}

</script>
<style>
.page-content.deposit-page {
	/*padding-top:92px !important;*/
}

.deposit-page .tab-item {
	width: 50%;
	max-width: none;

}

.deposit-page .tab-item.active {
	border-color: #4a90e2;
}

.deposit-page .bar.bar-header,
.deposit-page .tabs {
	position: fixed;
}

.deposit-page .step-box {
	color: #777;
	padding: 15px 0px 5px 0;
}

.deposit-page .button.button-light.button-outline {
	border-color: #ddd;
	color: #777;
	padding: 2px 10px;
	font-size: 14px;
}

.deposit-page .deposit-box {
	padding: 10px 5px;
}

.deposit-page .deposit-box{
	color: #fff;
}

.deposit-page .tip-box {
	color: #777;
}

.deposit-page .tip-box ol {
	list-style-type: decimal;
	margin-left: 12px;
	padding-left: 6px;

}

.deposit-page .deposit-box .cards.active {
	border: 1px solid #66b1ff;
	background-color: rgba(102, 177, 255, .1);
}

.deposit-page .deposit-box .cards.active:after {
	position: absolute;
	right: 0;
	content: " ";
	bottom: 0;
	width: 0;
	height: 0;
	border-width: 0 0 25px 25px;
	border-style: solid;
	border-color: transparent transparent #66b1ff;
}

.deposit-page .deposit-box .cards.active:before {
	position: absolute;
	right: 0;
	content: " ";
	bottom: 2px;
	background: url(~assets/images/user/gou.png) no-repeat;
	width: 14px;
	height: 11px;
	z-index: 1;
}

.deposit-page .deposit-box .col {
	margin: 0 5px;
}

.deposit-page .deposit-box .cards {

	border: 1px solid #dedede;
	width: 100%;
	min-width: 165px;
	margin: 0 auto;
	height: 54px;
	line-height: 50px;
	color: #666;



}

.deposit-page .deposit-box .cards .text {
	display: inline-block;
	line-height: 15px;
	vertical-align: middle;
	text-align: left;
	margin-top: 4px;
	min-width: 111px;
}

.deposit-page .deposit-box .cards .txt-small {
	font-size: 12px;
	color: #999;

}

.deposit-page .deposit-box em {
	display: inline-block !important;
	vertical-align: middle;
	width: 36px;
	height: 36px;
	background: 50% no-repeat;
	background-size: cover;
	margin-right: 3px;
}

.deposit-page .deposit-box em.atm {
	background-image: url(~assets/images/user/deposit_atm.png);
}

.deposit-page .deposit-box em.cvs {
	width: 36px;
	height: 36px;
	background-image: url(~assets/images/user/deposit_711.png);
}

.deposit-page .deposit-box em.ok {
	width: 34px;
	height: 34px;
	background-image: url(~assets/images/user/deposit_ok.png);
}

.deposit-page .deposit-box em.life {
	width: 34px;
	height: 34px;
	background-image: url(~assets/images/user/deposit_life.png);
}

.deposit-page .deposit-box em.family {
	width: 31px;
	height: 31px;
	background-image: url(~assets/images/user/deposit_family.png);
}

.deposit-page .deposit-box em.ibon {
	width: 30px;
	height: 30px;
	background-image: url(~assets/images/user/deposit_ibon.png);
	margin: 0 6px;
}
.deposit-page .deposit-box em.credit {
  width: 30px;
  height: 30px;
  background-image: url(~assets/images/user/depost_credit.png);
  margin: 0 6px;
}

.deposit-page .button-light:active:not(.md-button) {
	background-color: #ffbd17;

}

/*.deposit-page .tabs {display:none;}*/

</style>
