<template>
	<div class="page has-navbar" v-nav="{title: $route.name, showBackButton: true}">
		<div class="page-content safe">
            <div class="container_dzp">
                <scroll class="dzp-scroll">
                <div class="lucky-wheel">
                    <div class="lucky-title">
                        <img src="~assets/images/dzp/lucky_title.png" style="height: 100px;">
                    </div>
                    <div class="wheel-main" >
                        <div class="wheel-pointer-box">
                            <div class="wheel-pointer" @click="rotate_handle()" :style="{transform:rotate_angle_pointer,transition:rotate_transition_pointer}"></div>
                        </div>               
                        <div class="wheel-bg" :style="{transform:rotate_angle,transition:rotate_transition}">                   
                            <div class="prize-list">
                                <div class="prize-item" v-for="(item,index) in prize_list" :key="index" >
                                    <div class="prize-pic">
                                        <img class="icon fas " :src="require('assets/images/dzp/'+item.icon)">
                                        <!-- <img class="icon fas " src="~assets/images/dzp/"{{item.icon}}> -->
                                    </div>
                                    <div class="prize-type">
                                        {{item.name}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main">
                        <div class="tip-space"></div>
                        <div class="tip">
                            <div class="tip-title">活动槼则</div>
                            <div class="tip-content">
                                <ul>
                                    <li>您当前使用次数 <span class="btn btn-red" id="dom-activity-score">{{this.user.dzp_chance}}</span></li>
                                    <li>本站全程监控，请勿作弊，否则直接冻结您的账户</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                </scroll>
            </div>
		</div>
	</div>
</template>
<script>
//import {Input} from 'vue-ydui/dist/lib.px/input';
import { mapGetters } from 'vuex'
import { globalMixin } from 'mixin.js'
export default {
	mixins: [globalMixin],
	data() {
		return {
            title:"幸运大转盘",
            prize_list: [], //奖品列表
            toast_control: false, //抽奖结果弹出框控制器
            hasPrize: false, //是否中奖
            start_rotating_degree: 0, //初始旋转角度
            rotate_angle: 0, //将要旋转的角度
            start_rotating_degree_pointer: 0, //指针初始旋转角度
            rotate_angle_pointer: 0, //指针将要旋转的度数
            rotate_transition: "transform 6s ease-in-out", //初始化选中的过度属性控制
            rotate_transition_pointer: "transform 12s ease-in-out", //初始化指针过度属性控制
            click_flag: true, //是否可以旋转抽奖
            index: 0  
		}
	},
    methods: {
        //此方法为处理奖品数据
        init_prize_list(list) {},
        rotate_handle() {
            if (!this.click_flag) return;
            this.click_flag = false;

            this.$axios({
              method: "GET",
              url: this.config.ApiUrl + "/api/dzp/" + this.config.company,
              data: {},
              headers: {
                "Content-Type": "application/json"
              }
            })
            .then(response => {
              if (response.data.status==0) {
                this.$alert(response.data.message, '', {
                  confirmButtonText: '确定',
                  //cancelButtonText: '取消',
                  closeOnClickModal : false,
                  showClose : false
                }).then(() => {
                  this.user.error = false;
                }).catch(() => {
                
                });	
                return;
              }
              if (response.data.status) {
                  this.index = response.data.data.item //指定每次旋转到的奖品下标
                  this.user.dzp_chance = response.data.data.dzp_chance;
                  this.rotating();
              }
            })
            .catch(error => {
              console.log(error);
            });

        },
        rotating() {
            //if (!this.click_flag) return;
            var type = 0; // 默认为 0  转盘转动 1 箭头和转盘都转动(暂且遗留)
            var during_time = 5; // 默认为1s
            var random = Math.floor(Math.random() * 7);
            var result_index = this.index ; // 最终要旋转到哪一块，对应prize_list的下标
            var result_angle = [337.5, 292.5, 247.5, 202.5, 157.5, 112.5, 67.5, 22.5]; //最终会旋转到下标的位置所需要的度数
            var rand_circle = 6; // 附加多转几圈，2-3
            //this.click_flag = false; // 旋转结束前，不允许再次触发
            if (type == 0) {
                // 转动盘子
                var rotate_angle =
                this.start_rotating_degree +
                rand_circle * 360 +
                result_angle[result_index] -
                this.start_rotating_degree % 360;
                this.start_rotating_degree = rotate_angle;
                this.rotate_angle = "rotate(" + rotate_angle + "deg)";
                // // //转动指针
                // this.rotate_angle_pointer = "rotate("+this.start_rotating_degree_pointer + 360*rand_circle+"deg)";
                // this.start_rotating_degree_pointer =360*rand_circle;
                var that = this;
                // 旋转结束后，允许再次触发
                setTimeout(function() {
                //that.click_flag = true;
                    that.game_over();
                }, during_time * 1000 + 1500); // 延时，保证转盘转完
            } else {
                //
            }
        },
        game_over() {
            this.click_flag = true;
            return;
        },
        dzpInfo()
        {
          this.$axios({
            method: "GET",
            url: this.config.ApiUrl + "/api/dzp/info/" + this.config.company,
            data: {},
            headers: {
              "Content-Type": "application/json"
            }
          })
            .then(response => {
              if (response.data.status==0) {
                return;
              }
              if (response.data.status) {
                //this.web.prize_list = [];
                this.web.prize_list = response.data.data;
                for(var i in  this.web.prize_list)
                {
                  switch(true)
                  {
                    case this.web.prize_list[i].id=='item1':
                      this.web.prize_list[i].icon="icon_02.png";
                      break;
                    case this.web.prize_list[i].id=='item2':
                      this.web.prize_list[i].icon="icon_02.png";
                      break;
                    case this.web.prize_list[i].id=='item3':
                      this.web.prize_list[i].icon="icon_01.png";
                      break;
                    case this.web.prize_list[i].id=='item4':
                      this.web.prize_list[i].icon="icon_05.png";
                      break;
                    case this.web.prize_list[i].id=='item5':
                      this.web.prize_list[i].icon="icon_01.png";
                      break;
                    case this.web.prize_list[i].id=='item6':
                      this.web.prize_list[i].icon="icon_03.png";
                      break; 
                    case this.web.prize_list[i].id=='item7':
                      this.web.prize_list[i].icon="icon_05.png";
                      break;
                    case this.web.prize_list[i].id=='item8':
                      this.web.prize_list[i].icon="icon_04.png";
                      break;                                             
                  }
                  this.prize_list.push(this.web.prize_list[i]);
                }
              }
            })
            .catch(error => {
              console.log(error);
            });
      },
    },
    computed: {
		...mapGetters({
            config:'config',
            user:'user',
            web: "web"
        }),
    },
    components: {
    },
    created() {
        //this.init_prize_list();
        if (!this.web.prize_list) {
          this.dzpInfo();
        }else
        {
          for(var i in  this.web.prize_list)
          {
            this.prize_list.push(this.web.prize_list[i]);
          }
        }
        this.$store.dispatch('getUserInfo');
    }

}
</script>
<style scoped>
.container_dzp {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  position: fixed; 
  top: 44px;
  left: 0;
  right: 0;
  bottom: 0px;
  overflow: hidden;
}
.dzp-scroll{
    top:0px;
}
.lucky-wheel {
  width: 100%;
  height: 100%;
  padding: 5px 0px;
  background:url("~assets/images/dzp/background.png") no-repeat center ;
  background-size: 100%;
}
.lucky-title {
  width: 100%;
  text-align: center;
  position: relative;
  top: 15px;
}
.wheel-main {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 80px;
}
.wheel-bg {
  width: 20.4375rem;
  height: 20.4375rem;
  background: url("~assets/images/dzp/draw_wheel.png") no-repeat center top;
  background-size: 100%;
  color: #fff;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  transition: transform 3s ease;
}
.wheel-bg div {
  text-align: center;
}
.wheel-pointer-box {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -60%);
  width: 5.3125rem;
  height: 5.3125rem;
}
.wheel-pointer {
  width: 5.3125rem;
  height: 5.3125rem;
  background: url("~assets/images/dzp/draw_btn.png") no-repeat center top;
  background-size: 100%;
  transform-origin: center 60%;
}
.prize-list {
  width: 100%;
  height: 100%;
  position: relative;
}
.prize-list .prize-item {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.prize-list .prize-item:first-child {
  top: 0;
  left: 8.3125rem;
  transform: rotate(20deg);
}
.prize-list .prize-item:nth-child(2) {
  top: 2.8rem;
  left: 10.8rem;
  transform: rotate(67deg);
}
.prize-list .prize-item:nth-child(3) {
  top: 6.4rem;
  left: 10.6rem;
  transform: rotate(-250deg);
}
.prize-list .prize-item:nth-child(4) {
  top: 9rem;
  left: 8.2125rem;
  transform: rotate(-210deg);
}
.prize-list .prize-item:nth-child(5) {
  top: 9.2125rem;
  left: 4.4rem;
  transform: rotate(-160deg);
}
.prize-list .prize-item:nth-child(6) {
  top: 6.3875rem;
  left: 1.9rem;
  transform: rotate(-111deg);
}
.prize-list .prize-item:nth-child(7) {
  top: 2.8rem;
  left: 1.8125rem;
  transform: rotate(-69deg);
}
.prize-list .prize-item:nth-child(8) {
  top: 0;
  left: 4.5rem;
  transform: rotate(-20deg);
}
.prize-item {
    width: 7.875rem;
    height: 8.4rem;
    margin-top: 20px;
}
.prize-pic .icon {
  width: 50px;
}
.prize-pic .icon-1 {
  color: #f5f616;
}
.prize-pic .icon-2 {
  color: #d11212;
}
.prize-pic .icon-3 {
  color: #8fe19c;
}
.prize-pic .icon-4 {
  color: #ddd;
}
.prize-count {
  font-size: 0.875rem;
}
.prize-type {
  font-size: 0.8rem;
  margin-top: -4.3px;
  color: #333;
}
.main {
  position: relative;
  width: 100%;
  padding-bottom: 1.6875rem;
  top: 100px;
  background: #fff4f4;
}
.main .tip-space {
  height: 26px;
}
.content {
  position: absolute;
  top: 0.175rem;
  left: 0;
  background: #f36d56;
  width: 100%;
  height: 5.1875rem;
  font-size: 1.125rem;
  color: #ffeb39;
  padding-left: 6.75rem;
}
.tip {
  position: relative;
  margin: auto;
  width: 90%;
  border: 1px solid #bcbcbc;
}
.tip-title {
  position: absolute;
  top: -1rem;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 1rem;
  color: #333;
  background: #fff4f4;
  padding: 0.3125rem 0.625rem;
}
.tip-content {
  text-align: left;
  padding: 1.5625rem 0.625rem;
  font-size: 0.875rem;
  color: #333;
  line-height: 1.5;
}
.tip-content ul {
  list-style-type: disc;
}
.tip-content li {
  margin: 0px 25px;
  line-height: 1.4;
  list-style-type: disc;
  margin-bottom: 0.75em;
  word-break: break-all;
  font-size: 0.9rem;
}
/* @media screen and (max-width: 500px) {
  .lucky-title {
    height: 8.125rem;
  }
  .lucky-wheel {
    height: 29.3rem;
  }
  .main {
    min-height: 14.25rem;
  }
} */

</style>
