<template>
	<div class="page has-navbar has-tabbar home-page" v-tabbar-menu-index="0">
		<scroller
			class="page-content dio"
			refresh-text="下拉刷新"
			:on-refresh="onRefresh"
			ref="scroller"
			style="padding-top:0px;"
			>
			<div class="nav-header">
				<div class="logo_img"></div>
			</div>
		<div class="home-info-box">
			  拒绝黑网诈骗，首选完美官网！
		</div>

			<div class="tip-download white-bg" v-if="showAppDL">
				<div class="fl tip-download-icon" @click="closeAppDL()">
					<i class="icon ion-close-round"></i>
				</div>
				<div class="tip-download-logo fl"></div>
				<div class="tip-download-txt pd14 fl">
					<span class="txt1">下载APP</span><br>
					<span class="txt2">随时随地&nbsp;&nbsp;想玩就玩</span>
				</div>
				<div class="tip-download-down fr" @click="downloadApp()">立即下载</div>
			</div>
			<div class="banner">
				<div class="col100">
					<swiper :options="swiperOption" ref="bannerSwiper">
						<swiper-slide data-id="event5-detail">
							<div class="banner-img banner-event5"></div>
						</swiper-slide>
						<swiper-slide data-id="event6-detail">
							<div class="banner-img banner-event6"></div>
						</swiper-slide>


						<swiper-slide data-id="news_20180603102853_0-3">
							<div class="banner-img banner-top1"></div>
						</swiper-slide>
						<swiper-slide data-id="event3-detail">
							<div class="banner-img banner-top2"></div>
						</swiper-slide>

						<!--swiper-slide data-id="event4-detail">
							<div class="banner-img banner-top3"></div>
						</swiper-slide-->
						<swiper-slide data-id="event1-detail">
							<div class="banner-img banner-top4"></div>
						</swiper-slide>
						<swiper-slide data-id="event2-detail">
							<div class="banner-img banner-top5"></div>
						</swiper-slide>
						
						<swiper-slide data-id="pricing_detail">
							<div class="banner-img banner-top6"></div>
						</swiper-slide>
						
						<div class="swiper-pagination" slot="pagination"></div>
					</swiper>
				</div>
			</div>
			<div class="bulletin">
				<svg role="presentation" height="15" viewBox="0 0 576 512" class="notify-icon fa-icon" style="margin-right:8px;fill:#666;margin-top:10px;;">
					<path d="M576 240C576 216.4 563 196 544 184.9V32C544 23.3 537 0 512 0 504.9 0 497.8 2.4 492 7L407 75.1C364.3 109.2 310.7 128 256 128H64C28.6 128 0 156.6 0 192V288C0 323.4 28.6 352 64 352H97.7C96.3 362.5 95.5 373.1 95.5 384 95.5 423.8 104.8 461.4 121.1 494.9 126.3 505.6 137.6 512 149.5 512H223.8C249.8 512 265.4 482.2 249.7 461.4 233.3 439.9 223.5 413.1 223.5 384 223.5 372.9 225.1 362.2 227.9 352H256C310.7 352 364.3 370.8 407 404.9L492 473A32-32 0 0 1 512 480C536.9 480 544 457.2 544 448V295.1C563 284 576 263.6 576 240zM480 381.4L446.9 355C392.9 311.8 325.1 288 256 288V192C325.1 192 392.9 168.2 446.9 125L480 98.6V381.4z"></path>
				</svg>
				<swiper :options="notifySwiperOption" class="notify-swiper" ref="notifySwiper" v-if="web.bulletins.length" @click.native="bulletinPopup">
					<swiper-slide v-for="bulletin in web.bulletins" v-bind:key="bulletin.index" >test</swiper-slide>
				</swiper>
			</div>
			<!-- <div class="cells padding">
				<div class="plate-title">
					<span class="title">线上对战</span>
					<span class="desc">万人在线 胜者为王</span>
					<span class="f-right more" @click="go2page('/games/chess')">更多 <i class="fas fa-angle-double-right"></i>
					</span>
				</div>
				<div class="row">
					<div class="col100 icon-chinniu" @click="startGame('CHINNIU','CHINNIU')">
					</div>
				</div>
			</div> -->
			<div class="cells padding">
				<div class="plate-title">
					<span class="title">真人娱乐</span>
					<span class="desc">精彩汇萃 激情无限</span>
					<span class="f-right more" @click="playPopup('CWORN', 'CWORN')">更多 <i class="fas fa-angle-double-right"></i>
					</span>
				</div>
				<div class="row">

					<div class="col-live33 icon-allbet"  @click="startGame('ALLBET_LIVE','ALLBET_LIVE')"></div>
					<div class="col-live33 icon-sa" @click="startGame('SA_LIVE','SA_LIVE')"></div>
					<div class="col-live33 icon-rg" @click="startGame('RG','RG')"></div>
				</div>
				<!--
				<div class="row">
					<div class="col-live33 icon-wm" @click="startGame('WM','WM')"></div>
					<div class="col-live33 icon-allbet"  @click="startGame('ALLBET_LIVE','ALLBET_LIVE')"></div>
					<div class="col-live33 icon-sa" @click="startGame('SA_LIVE','SA_LIVE')"></div>
				</div>
				<div class="row">
					<div class="col-live33 icon-og" @click="startGame('OG','OG')"></div>
					<div class="col-live33 icon-dg" @click="startGame('DG','DG')"></div>
				</div>
				-->
			</div>
			<div class="cells padding" >
				<div class="plate-title">
					<span class="title">电子捕鱼</span>
					<span class="desc">万人上线 真实对战</span>
					<span class="f-right more" @click="go2page('/games/slot')">更多 <i class="fas fa-angle-double-right"></i>
					</span>
				</div>
				<div class="row">
					<!--div class="col33 icon-qt-fish2" @click="startGame('QT','SPG-oceanblaster2');">
					</div-->
					<div class="col33 icon-qt" @click="go2page('/games/slot/qt')">
					</div>
					<div class="col33 icon-7pk" @click="startGame('7PK','7PK')">
					</div>
					<div class="col33 icon-ae" @click="go2page('/games/slot/ae')">
					</div>
				</div>
				<div class="row" >
					<div class="col33 icon-rtg"  @click="go2page('/games/slot/rtg')">
					</div>
					<div class="col33 icon-f8"  @click="go2page('/games/slot/f8')">
					</div>
				</div>
			</div>
			<div class="cells padding">
				<div class="plate-title">
					<span class="title">体育投注</span>
					<span class="desc">多元竞技 应有尽有</span>
					<span class="f-right more" @click="go2page('/games/sport')">更多 <i class="fas fa-angle-double-right"></i>
					</span>
				</div>
				<div class="row">
					<div class="col100 icon-sport" @click="startGame('SUPER','SUPER')">
					</div>
				</div>
				<!--
				<div class="row" style="margin-top:10px;">
					<div class="col100 icon-qt2" @click="go2page('/games/slot/qt2')">
					</div>
				</div>
				-->
			</div>
			<div class="cells padding">
				<div class="plate-title">
					<span class="title">彩球彩票</span>
					<span class="desc">主流彩票 精彩汇萃</span>
					<span class="f-right more" @click="go2page('/games/lottery')">更多 <i class="fas fa-angle-double-right"></i>
					</span>
				</div>
				<div class="row">
					<div class="col100 icon-lottery" @click="startGame('LOTTERY','LOTTERY')">
					</div>
				</div>
				<div class="row" style="margin-top:10px;">
					<div class="col100 icon-bigno" @click="startGame('BINGO','BINGO')">
					</div>
				</div>

			</div>
			<div class="line"></div>

		</scroller>
		<div class="maintain-box" @click="getMaintain">维修<br>时间</div>
		<yd-popup v-model="showMaintain" position="bottom" width="100%" height="100%" masker-opacity="0" style="touch-action: none;">
			<von-header>
				<span slot="title">游戏维护时间</span>
				<button class="button button-icon ion-ios-close-empty" @click="showMaintain = false" slot="right"></button>
			</von-header>
			<div class="page-content popup-detail" style="margin-bottom:0px;background-color:#FFF;">

				<div class="cells padding">

					<table class="maintain-table">
						<thead>
							<tr>
								<th>游戏</th>
								<th>周期</th>
								<th>开始时间</th>
								<th>结束时间</th>
							</tr>
							<tr v-for="(item, index) in maintainData">
								<td>{{item.vendor}}</td>
								<td>{{item.week}}</td>
								<td>{{item.start_time}}</td>
								<td>{{item.end_time}}</td>
							</tr>
						</thead>
					</table>

				</div>
			</div>
		</yd-popup>     
	</div>
</template>
<script>
//import PromotionDetail from './PromotionDetail.vue'
import { mapGetters } from "vuex";
import { apiBulletin } from "api.js";
import { globalMixin } from 'mixin.js';
import sess from 'sess.js'
let vm;
export default {
    mixins: [globalMixin],
	inject: ['reload'],
	data() {
		let _this = this;
		return {
			showMaintain: false,
			maintainData:[],

			//show: false,
			//pid: 1,
			//focusPromotion: null,
			//menuButtonText: '<span class="assertive">更多</span>',
			swiperOption: {
				observer: true,
				autoplay: {
					delay: 5000,
					disableOnInteraction: false

				},
				speed: 400,
				slidesPerView: 1,
				spaceBetween: 0,
				loop: true,
				on: {
					click: function() {
						// 这里有坑，需要注意的是：this 指向的是 swpier 实例，而不是当前的 vue， 因此借助 vm，来调用 methods 里的方法
						// 当前活动块的索引，与activeIndex不同的是，在loop模式下不会将 复制的块 的数量计算在内。
						//const realIndex = this.realIndex;
						//console.log(realIndex);
						//_this.focusPromotion = realIndex;
						//_this.go2page('/promotionDetail/' + (realIndex + 1));


						let target = vm.$refs.bannerSwiper.$children[this.realIndex].$el.getAttribute('data-id');
						_this.showDetail(target);
						

					}
				},
				mousewheelControl: true,
				pagination: {
					el: ".swiper-pagination",
					clickable: true
				},
			},
			notifySwiperOption: {
				autoplay: {
				  delay: 5000,
					disableOnInteraction: false
				},
				speed: 400,
				direction: "vertical",
				slidesPerView: 1,
				spaceBetween: 0,
				loop: true,
				mousewheelControl: true,
				observer: true
			},
			notify: {
				index:1,
				title: "",
				detail: "",
				date: ""
			},
		};
	},


	computed: {
		...mapGetters({
			config: "config",
			user: "user",
			web: "web"
		}),
		notifySwiper() {
			return this.$refs.notifySwiper.swiper;
		},
        showAppDL(){
            var u = navigator.userAgent;
            var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1;
            return this.user.isShowAppDL && isAndroid?true: false;
        }
	},
	methods: {
		getMaintain(){
			this.$dialog.loading.open('读取中...');
			setTimeout(() => {
			this.$axios({
				method: "GET",
				url: this.config.ApiUrl + "/api/maintain/" + this.config.company,
				data: {},
				headers: {
					"Content-Type": "application/json"
				}
			})
			.then(response => {
				if (response.data) {
					this.maintainData = response.data;
					console.log(response.data);
					this.showMaintain = true;
				}
				this.$dialog.loading.close();
			})
			.catch(error => {
				this.$dialog.loading.close();
				console.log(error);
			});
			}, 200);


		},
		waitOpen(){
			$toast.show('尚未开放');
		},
        go2page(url) {
			this.$router.push({
				path: url,
				query: {}
			});
		},
		playPopup(soruce, id) {
			let options = {
				effect: 'scale',
				title: '',
				showClose: true,
				buttons: [
				  {text: '进入游戏'},
				  {text: '试玩'},
				]
			}
			let popup = $popup.fromTemplate('<div class="fs14 text-center">您可以选择直接游戏或试玩游戏</div>', options);

			popup.show().then((buttonIndex) => {
				if (buttonIndex == 0){
					this.startGame(soruce, id);
				}
				else if(buttonIndex == 1) {
					this.tryGame(soruce, id);
				}
			})
		},
		bulletinPopup(e,click) {
			var index = this.notifySwiper.clickedSlide.getAttribute("data-swiper-slide-index");
			if (click !== undefined){
				index = click;
			}
			else {
				this.notify.index = parseInt(index) + 1;
			
			}
			this.notify.detail = this.web.bulletins[index].content;
			this.notify.title = this.web.bulletins[index].title;
			this.notify.date = this.web.bulletins[index].start_time.split(' ')[0];


			let options = {
				cssClass:'bulletinPopup',
				effect: 'scale',
				/*title: '系统公告',*/
				showClose: true,
				buttons: [
					{text:'上一则'},
					{text:'下一则'},
				]
			}
			let popup = $popup.fromTemplate(this.notify.title + '<div class="mt10 mb10">'+this.notify.detail+'</div>'+ '<div>'+this.notify.date+'<span class="pull-right">〈'+this.notify.index+'/'+this.web.bulletins.length+'〉</span></div>', options);

			popup.show().then((buttonIndex) => {
				let index = 0;

				if (buttonIndex == 0){
					index = --this.notify.index;
					if (index === 0) {
						index = this.web.bulletins.length;
						this.notify.index = index;
					}
					this.bulletinPopup('',index-1);
				}
				if (buttonIndex == 1){
					index = ++this.notify.index;
					//console.log(index);
					if (index > this.web.bulletins.length) {
						index = 1;
						this.notify.index = index;
					}

					this.bulletinPopup('',index-1);
				}


			})
		},
		notifyPrev: function (){
			let index = --this.notify.index;
			this.notify.detail = this.web.bulletins[index-1].content;
			this.notify.title = this.web.bulletins[index-1].title;
			this.notify.date = this.web.bulletins[index-1].start_time.split(' ')[0];
		},

		notifyNext: function (){
			
			this.notify.detail = this.web.bulletins[index-1].content;
			this.notify.title = this.web.bulletins[index-1].title;
			this.notify.date = this.web.bulletins[index-1].start_time.split(' ')[0];

		},
		showDetail(id){
			this.$router.push("/promotion/Detail/" + id);
			/*
			$modal.fromComponent(PromotionDetail, {
				title: '',
				theme: 'default',
				destroyOnHide: true,
				onHide: () => {
				console.log('modal hide')
				}
			}).then((modal) => {
				modal.content.$on('closeModal', function(){
				modal.hide();
				});
				modal.content.showDetail(pid);
				this.modal = modal;
				this.modal.show();
			})
			*/
		},



		onRefresh() {
			setTimeout(() => {
				this.reload();
			}, 500);
			/*
			this.syncBulletin();
			setTimeout(() => {
				setTimeout(() => {
					if (this.$refs.scroller) this.$refs.scroller.finishPullToRefresh();
				});
			}, 500);*/
		},

		onItemClick(index) {
			console.log(index);
		},
			/*
		showBulletin: function(index) {
			var index = this.notifySwiper.clickedSlide.getAttribute("data-swiper-slide-index");
			this.notify.detail = this.web.bulletins[index].content;
			this.notify.title = this.web.bulletins[index].title;
			this.notify.date = this.web.bulletins[index].start_time;
		},*/
		syncBulletin() {
			apiBulletin()
				.then(response => {
					if (response.data) {
						this.web.bulletins = response.data;
					}
				})
				.catch(error => {
					console.log(error);
				});
		},
        closeAppDL(){
            this.user.isShowAppDL = false;
        },
        downloadApp(){
            var url = '/static/dl/wm.apk';
            window.open(url,'', '');
            return false;
        }
	},
	created() {
		if (!this.web.bulletins.length) {
			this.syncBulletin();
		}
		vm = this;
	},
	mounted() {
		setTimeout(() => {
			if (this.$refs.scroller) {
				this.$refs.scroller.resize();
				let h = sess.get('/')
				this.$refs.scroller.scrollTo(0,h.scrollTop,false);

				this.$refs.bannerSwiper.swiper.slideTo(this.web.temp.slideIndex || 1,0,false);
				this.$refs.bannerSwiper.swiper.autoplay.stop();
				this.$refs.bannerSwiper.swiper.autoplay.start();
			}
		});
	},
	beforeDestroy: function() {
		sess.set('/', {
			history: true,
			scrollTop: this.$refs.scroller.getPosition().top
		})
		this.web.temp.slideIndex = this.$refs.bannerSwiper.swiper.activeIndex;

		//console.log(this.$refs.bannerSwiper.swiper.activeIndex);
		//console.log('beforeDestroy',this.$refs.scroller.getPosition().top);
	},
};
</script>
<style>


.home-page .maintain-table  {
	font-size:14px;
	border:1px solid #ebeef5;
	text-align:center;
	border-collapse:collapse;
	margin:0 auto;
	width:100%;
}
.home-page .maintain-table th {
	background-color: #409eff;
	padding:10px;
	border:1px solid #ebeef5;
	color:#fff;
	font-weight: 400;
}
.home-page .maintain-table td {
  border:1px solid #ebeef5;
  padding:5px;
  color:#666;
}
.home-page .maintain-box {
	width: 50px;
    height: 50px;
    right: 15px;
    bottom: 75px;
    border: 2px solid white;
    position: absolute;
    border-radius: 50%;
    background-color: rgb(64, 158, 255);
    color: rgb(255, 255, 255);
    font-size: 14px;
    text-align: center;
    padding-top: 8px;
    line-height: 16px;
	cursor: pointer;
}
.home-info-box{ 
    font-size: 16px;
    text-align: center;
    padding: 5px;
    color: #666;
}
.home-page .banner-top1 {background: url(~assets/images/promotion/news_20180603102853_0-2.jpg) center center / cover;}
.home-page .banner-event5 {background: url(~assets/images/promotion/event5.jpg) center center / cover;}
.home-page .banner-event6 {background: url(~assets/images/promotion/event6.jpg) center center / cover;}
.home-page .banner-event7 {background: url(~assets/images/promotion/event7.jpg) center center / cover;}

.home-page .banner-top2 {background: url(~assets/images/promotion/event3.jpg) center center / cover;}
.home-page .banner-top3 {background: url(~assets/images/promotion/event4.jpg) center center / cover;}
.home-page .banner-top4 {background: url(~assets/images/promotion/event1.jpg) center center / cover;}
.home-page .banner-top5 {background: url(~assets/images/promotion/event2.jpg) center center / cover;}
/*
.home-page .banner-top6 {background: url(~assets/images/banner/pricing.jpg) center center / cover;}
*/
.home-page .banner-top6 {background: url(~assets/images/banner/photo_2020-08-21_19-07-33.jpg) center center / cover;}


.home-page .icon-live {background-image: url(~assets/images/home/vg.png);}
.home-page .icon-allbet {background-image: url(~assets/images/home/allbet.png);}
.home-page .icon-sa {background-image: url(~assets/images/home/SA.png);}
.home-page .icon-og {background-image: url(~assets/images/home/OG.png);}
.home-page .icon-wm {background-image: url(~assets/images/home/WM.png);}
.home-page .icon-rg {background-image: url(~assets/images/home/RG.png);}
.home-page .icon-dg {background-image: url(~assets/images/home/DG.png);}
.home-page .icon-ddfg {background-image: url(~assets/images/home/DDFG.png);}
.home-page .icon-ddfgking {background-image: url(~assets/images/home/DDFG-king.png);}

.home-page .icon-qt-fish1 {background-image: url(~assets/images/home/qtf1.png);}
.home-page .icon-qt-fish2 {background-image: url(~assets/images/home/qtf2.png);}

.home-page .icon-7pk {background-image: url(~assets/images/home/7PK.png);}
.home-page .icon-qt {background-image: url(~assets/images/home/QT.png);}
.home-page .icon-ae {background-image: url(~assets/images/home/AE.png);}
.home-page .icon-rtg {background-image: url(~assets/images/home/RTG.png);}
.home-page .icon-f8 {background-image: url(~assets/images/home/F8.png);}
.home-page .icon-ttg {background-image: url(~assets/images/home/TTG.png);}
.home-page .icon-lottery {background-image: url(~assets/images/home/lottery.png);}
.home-page .icon-bigno {background-image: url(~assets/images/lottery/bingo-star-banner.jpg);}

.home-page .icon-sport {background-image: url(~assets/images/home/sport.png);}
.home-page .icon-qt2 {background-image: url(~assets/images/home/qt-sport.jpg);}
.home-page .icon-vg {background-image: url(~assets/images/chess/vgbanner.jpg);}
.home-page .icon-chinniu {background-image: url(~assets/images/chess/chinniubanner.jpg);}


.home-page .banner{
    width: 100%;
}
.home-page .banner .col100{
	position: relative;
	width: 100%;
	background-size: cover;
}
.home-page .banner .col100:before{
	content: "";
	display: block;
	padding-top: 40%;
}
.home-page .banner .swiper-container {
    position: absolute;
    top: 0;
}

.home-page .col100{
	position: relative;
	width: 100%;
	background-size: cover;
}
.home-page .col100:before{
	content: "";
	display: block;
	padding-top: 36%;
}

.home-page .col33{
	position: relative;
	width: 33.3%;
	background-size: cover;
}
.home-page .col33:before{
	content: "";
	display: block;
	padding-top: 100%;
}

.home-page .col-live33{
	position: relative;
	width: 33.3%;
	background-size: 95%;
    background-position: 50%;
    background-repeat: no-repeat;
}
.home-page .col-live33:before{
	content: "";
	display: block;
	padding-top: 100%;
}

.home-page .col66{
	position: relative;
	width: 66.6%;
	background-size: 98%;
    background-position: 50%;
    background-repeat: no-repeat;
}
.home-page .col66:before{
	content: "";
	display: block;
	padding-top: 50%;
}



.home-page .logo_img{
    width: 200px;
    height: 40px;
    background: url(~assets/images/home/LOGO.png) center center / cover;
    position: absolute;
	top: 0px;
    left: calc(50% - 100px);
}
.home-page .banner-img {
  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}
.home-page .bulletin{
  padding:0 0px 0 8px;
  background-color:#bee6ff;
  margin-bottom:10px;
  height:34px;
  font-size:15px;
  font-weight: bold;
  box-shadow:0px 0px 12px 0px rgba(20%,20%,40%,0.5);
}
.home-page .notify-icon{
  float: left;
  margin-top: 4px;
}
.home-page .cells {
	/* color:#666;
	padding-bottom:20px; */
	margin: 0px;
}
.home-page .cells .catgIcon {
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: 100% auto !important;
    margin-bottom: 0px;
    margin-top: 0px;
}
.home-page .cells .ImgIcon {
	height: 100%; width: 100%; object-fit: contain;
}
.home-page .padding {

	margin-bottom:10px;
}



.home-page .block{
  background: #FFF;
}
.home-page .plates{
  width: 100%;
  overflow: auto;
}
.home-page .plate-img {
  float: left;
  width: 50%;
  height: 160px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: 95% 95%;
}
.home-page .plate-img:last-child:after{
  clear: both;
  content: '';
  display: block;
}

.home-page .cells-22 > .row > .col {
  padding: 30px 0;
}


.home-page .swiper {
  position: relative;
  height: 100%;
}
.home-page .swiper .swiper-container {
  height: 100%;
}

.home-page .plate-title{
  margin: 4px 4px;
}
.home-page .plate-title .title{
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-right: 12px;
}
.home-page .plate-title .desc {
    font-size: 15px;
    color: #999;
}
.home-page .plate-title  .more {
    float: right;
    font-size: 15px;
    color: #409eff;
    position: relative;
}
.home-page .line{
  height: 12px;
}
.home-page .swiper-pagination-bullet {
    background: #4a90e2 !important;
}

.home-page .notify-swiper {
	display:inline-block;
	width: calc(100% - 25px);
	height:34px;
	line-height:34px;
	color:#666;
}
.home-page .notify-swiper .swiper-slide {
	overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.home-page .my-promotion .yd-popup-center.yd-popup-show{
	overflow: auto;
	background: #000;

}

.home-page .tip-download {
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    background: #bee6ff;
}
.home-page .tip-download .tip-download-icon {
    padding-left: 14px;
    font-size: 15px;
    color: #000;
    cursor: pointer;
}
.home-page .tip-download .tip-download-logo {
    width: 50px;
    height: 50px;
    background-image: url(~assets/images/user/logo.png?v=1);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
	top: 5px;
    left: 6px;
    border-radius: 3px;
    border: 1px solid #11c1f3;
    background-color: #fff;
    padding: 0;
    margin-right: 8px;
}
.home-page .tip-download div {
    line-height: 60px;
    padding-right: 5px;
}
.home-page .fl {
    float: left;
}
.home-page .fr {
    float: right;
}
.home-page .tip-download .tip-download-txt {
    line-height: 22px;
    color: #666;
    padding-left: 6px;
    font-size: 15px;
	margin-top:8px;
}
.home-page .tip-download .tip-download-down {
    border-radius: 0;
	padding:0px;
    background-color: #045baf;
    color: #fff;
    width: 25%;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

</style>
