<template>
	<div class="page has-navbar" v-nav="{title: $route.name, showBackButton: true}">
		<div class="page-content safe">

			<div class="item item-divider fs14">
				<b>基本数据</b> 
			</div>

			<list class="list-ios hl-list-borderless" style="margin-bottom:0px;">
				<item class="item-icon-right">
				会员帐号
					<span class="item-note">{{ user.username }}</span>
				</item>
				<item class="item-icon-right" v-if="user.name">
				真实姓名
					<span class="item-note">{{ user.name }}</span>

				</item>
				<item class="item-icon-right" @click.native="go2page('/user/change-name')" v-else>
				真实姓名
					<span class="item-note text-red">未设置</span>
					<i class="icon ion-ios-arrow-right"></i>
				</item>
				<item class="item-icon-right" @click.native="go2page('/user/change-line')">
				LINE
					<span class="item-note" v-if="user.line">{{ user.line }}</span>
					<span class="item-note" v-else>未设置</span>
					<i class="icon ion-ios-arrow-right"></i>
				</item>
				<!-- <item class="item-icon-right" @click.native="go2page('/user/mobile')">
				手机号码
					<span class="item-note" v-if="user.mobile">{{ hiddenMobile }} 已认证</span>
					<span class="item-note text-red" v-else>未认证</span>
					<i class="icon ion-ios-arrow-right"></i>
				</item> -->
				<item class="item-icon-right" @click.native="go2page('/help/vip')" v-if="false">
				会员等级
					<span class="item-note">{{ config.class[user.class] }}</span>
					<i class="icon ion-ios-arrow-right"></i>
				</item>
			</list>
			<div class="item item-divider fs14">
				<b>帐号信息</b>
			</div>
			<list class="list-ios hl-list-borderless">
				<item>
				注册时间
					<span class="item-note">{{ user.created_at }}</span>
				</item>
				<item>
				最后登录时间
					<span class="item-note">{{ user.login_time }}</span>

				</item>

			</list>
			
		</div>
	</div>
</template>
<script>
//import {Input} from 'vue-ydui/dist/lib.px/input';
import { mapGetters } from 'vuex'
import { globalMixin } from 'mixin.js'
export default {
	mixins: [globalMixin],
	data() {
		return {
			show2: true,
		}
	},
	computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
			//web: 'web',
		}),
		hiddenMobile(){
			if (this.user.mobile) {
				return this.user.mobile.substr(0,3) + '****' + this.user.mobile.substr(7);	
			}
		}
	},
	methods: {
		go2setbank(){
			if(!this.user.is_cash_password){
				$toast.show('请先前往设置提款密码後才能设置银行号户');
			}else{
				this.go2page('/user/set-bank');

			}
		}
	},
	mounted(){
		//console.log(this.user);
//		console.log(this.user.isLogin);
		//if (this.user.isLogin) {
		//	this.$router.go(-1);
		//}
	},
	created() {
		this.$store.dispatch('getUserInfo');
	},
}
</script>
<style scoped>
.subtitle{
	padding: 10px 10px;
	font-size: 16px;
	font-weight: bold;
}
</style>
