<template>
	<div class="page has-navbar" v-nav="{title: $route.name, showBackButton: true}">
		<div class="page-content padding-top reset-cash-password-page">
			<div class="item item-divider">
			</div>

			<yd-cell-group>
				<yd-cell-item>
					<span slot="left">原提款密码</span>
					<yd-input slot="right" type="password" v-model="old_pwd" placeholder="请输入原提款密码" max="12" min="6" :show-required-icon="false" regex="^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,12}$"></yd-input>
				</yd-cell-item>
				<yd-cell-item>
					<span slot="left">新提款密码</span>
					<yd-input slot="right" type="password" v-model="new_pwd" placeholder="请输入6-12位数字及字母组合" max="12" min="6" :show-required-icon="false" regex="^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,12}$"></yd-input>
				</yd-cell-item>
				<yd-cell-item>
					<span slot="left">确认新密码</span>
					<yd-input slot="right" type="password" v-model="conform_pwd" placeholder="请输入确认新密码" max="12" min="6" :show-required-icon="false" regex="^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,12}$"></yd-input>
				</yd-cell-item>

			</yd-cell-group>

			<div class="padding">
				<button class="button button-positive button-block" @click="submit">确定修改</button>
			</div>
		</div>
	</div>
</template>
<script>
//import {Input} from 'vue-ydui/dist/lib.px/input';
import { apiResetCashPassword } from 'api.js'
import { mapGetters } from 'vuex'
export default {
	data() {
		return {
			old_pwd: '',
			new_pwd: '',
			conform_pwd: ''
		}
	},
	computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
			//web: 'web',
		}),
	},
	methods: {
		submit(){
			let reg_pwd = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,12}$/;
			if(!reg_pwd.test(this.old_pwd)){
				$toast.show('原提款密码格式不正确,请输入6-12位数字及字母组合');
				return;
			}
			if(!reg_pwd.test(this.new_pwd)){
				$toast.show('新提款密码格式不正确,请输入6-12位数字及字母组合');
				return;
			}
			if(this.old_pwd == this.new_pwd){
				$toast.show('原提款密码与新提款密码不可一样');
				return;
			}
			if(this.new_pwd != this.conform_pwd){
				$toast.show('新提款密码与确认密码不一致');
				return;
			}
			apiResetCashPassword({
                        'curPassword' : this.old_pwd,
                        'newPassword' : this.new_pwd,
                        'newPassword_confirmation' : this.conform_pwd
                    })
				.then(response => {
					if (!response.data.status) {
						return $toast.show(response.data.message);
					}
					else {
						$toast.show(response.data.message, 1000).then(() => {
							this.$router.go(-1);
						});
					}
				})
				.catch(error => {
					console.log(error);
				});
		}
	},
	mounted(){
		//console.log(this.user.isLogin);
		//if (this.user.isLogin) {
		//	this.$router.go(-1);
		//}
	}
}
</script>
<style>
.reset-cash-password-page .yd-cell-item {
	padding-left:14px;
}
.reset-cash-password-page .yd-cell-item .yd-cell-left{
	min-width:90px;
}
</style>
