<template>
	<div class="page has-navbar" v-nav="{title: $route.name, showBackButton: true}">
		<div class="page-content safe">
			<div class="item item-divider">
			</div>


			<list class="list-ios hl-list-borderless mb10">
				<item class="item-icon-right" @click.native="go2page('/user/password')">
					登录密码
					<span class="item-note"></span>
					<i class="icon ion-ios-arrow-right"></i>
				</item>
				<item class="item-icon-right"  @click.native="go2page( !user.is_cash_password ? '/user/cash-password' :'/user/reset-cashpassword')">
					提款密码
					<span class="item-note" v-if="user.is_cash_password">已设置</span>
					<span class="item-note text-red" v-else>未设置</span>
					<i class="icon ion-ios-arrow-right"></i>
				</item>
				<!-- <item class="item-icon-right" @click.native="go2page('/user/mobile')">
					手机号码
					<span class="item-note" v-if="user.mobile">{{ hiddenMobile }} 已认证</span>
					<span class="item-note text-red" v-else>未认证</span>
					<i class="icon ion-ios-arrow-right"></i>
				</item> -->
				<item class="item-icon-right" @click.native="go2page('/user/email')">
					电子信箱
					<span class="item-note" v-if="user.email"> {{ user.email}} </span>
					<span class="item-note text-red" v-else>未设置</span>
					<i class="icon ion-ios-arrow-right"></i>
				</item>
			</list>
			<list class="list-ios hl-list-borderless">
				<item class="item-icon-right" @click.native="go2page('/user/set-bank')">
					银行帐号
					<span class="item-note" v-if="user.bank.bank_value"> {{user.bank.bank_value }} </span>
					<span class="item-note text-red" v-else>未设置</span>

					<i class="icon ion-ios-arrow-right"></i>
				</item>
			</list>

		</div>
	</div>
</template>
<script>
//import {Input} from 'vue-ydui/dist/lib.px/input';
import { mapGetters } from 'vuex'
import { globalMixin } from 'mixin.js'
export default {
	mixins: [globalMixin],
	data() {
		return {
		}
	},
	computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
			web: 'web',
		}),
		hiddenMobile(){
			if (this.user.mobile) {
				return this.user.mobile.substr(0,3) + '****' + this.user.mobile.substr(7);	
			}
		}
	},
	methods: {

	},
	mounted(){
		//	console.log(this.user);
		//console.log(this.user.isLogin);
		//if (this.user.isLogin) {
		//	this.$router.go(-1);
		//}
	}
}
</script>
<style scoped>

</style>
