<template>
	<div class="page has-navbar" v-nav="{title: $route.name, showBackButton: true}">
		<div class="page-content padding-top setbank-page">

			<!--input required v-model="user.bank.bank_value" class="bank-list" name="bankLists" id="bankLists" @click.stop="openModal('bankModal',$event)" placeholder="请选择银行"></input-->
			<div class="item item-divider">
			</div>
			<yd-cell-group>
				<yd-cell-item>
					<span slot="left">银行名称</span>
					<yd-input :disabled="isSetted" slot="right" required v-model="user.bank.bank_value" min="4" :show-required-icon="false" placeholder="请选择银行名称" @click.native.stop="openModal('bankModal',$event)" :readonly="true"></yd-input>
				</yd-cell-item>
				<yd-cell-item>
					<span slot="left">分行名称</span>
					<yd-input :disabled="isSetted" slot="right" required v-model="user.bank.bank_name" max="20" min="4" :show-required-icon="false" placeholder="请输入分行名称"></yd-input>
				</yd-cell-item>

				<yd-cell-item>
					<span slot="left">银行帐号</span>
					<yd-input :disabled="isSetted" slot="right" required v-model="user.bank.bank_account" max="20"  min="5" :show-required-icon="false" placeholder="请输入银行帐号"></yd-input>
				</yd-cell-item>

				<yd-cell-item>
					<span slot="left">银行户名</span>
					<yd-input slot="right" required v-model="user.bank.bank_username" max="20" min="2" :show-required-icon="false" placeholder="请输入银行户名" :disabled="isSetted"></yd-input>
				</yd-cell-item>

			</yd-cell-group>
			<yd-cell-group v-if="!isSetted">
				<yd-cell-item>
					<span slot="left">提款密码</span>
					<yd-input slot="right" type="password" v-model="pwd" placeholder="请输入提款密码" max="12" min="6" :show-required-icon="false" regex="^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,12}$"></yd-input>
				</yd-cell-item>
			</yd-cell-group>

			<div class="padding" v-if="!isSetted">
				<button class="button button-positive button-block" @click="submit">确认</button>
			</div>
			<div class="padding fs14 tip-box">
				<p class="fw700">温馨提示</p>
				<p>银行数据一旦设置完成将不可更改，如需更改请联系线上客服获得帮助</p>
			</div>
		</div>
		<v-cascade
			filterable
			v-model="bankModal"
			:data="bankLists"
			:title="['银行名称']"
			noFoundStr="无相关数据"
			placeholder="请输入银行代码或名称"
			@success="selectBank"
			@cancel="cancel"
			:loading="false"
			></v-cascade>
	</div>
</template>
<script>
import { apiSetBank } from 'api.js'
import { mapGetters } from 'vuex'
import { globalMixin } from 'mixin.js'
export default {
	mixins: [globalMixin],
	data() {
		return {
			//bankLists: ["004台湾银行","005土地银行","006合库商银","007第一银行","008华南银行","009彰化银行","011上海银行","012台北富邦","013国泰世华","016高雄银行","017兆丰商银","018农业金库","021花旗(台湾)银行","022美国银行","025首都银行","039澳盛(台湾)银行","048王道银行","050台湾企银","052渣打商银","053台中银行","054京城商银","072德意志银行","075东亚银行","081汇丰(台湾)银行","082巴黎银行","101瑞兴银行","102华泰银行","103台湾新光商银","104台北五信","108阳信银行","114基隆一信","115基隆二信","118板信银行","119淡水一信","120淡水信合社","124宜兰信合社","127桃园信合社","130新竹一信","132新竹三信","146台中二信","147三信银行","158彰化一信","161彰化五信","162彰化六信","163彰化十信","165鹿港信合社","178嘉义三信","188台南三信","204高雄三信","215花莲一信","216花莲二信","222澎湖一信","223澎湖二信","224金门信合社","512云林渔会","515嘉义渔会","517南市渔会","518南县渔会","520小港渔会","520高雄渔会","521永安渔会","521林园渔会","521梓官渔会","521兴达港渔会","521弥陀渔会","523东港渔会","523枋寮渔会","523林边渔会","523琉球渔会","524新港渔会","525澎湖渔会","526金门渔会","600南龙渔会","600通苑渔会","600彰化渔会","600七股农会","600三义农会","600下营农会","600大内农会","600大肚农会","600中寮农会","600仁爱农会","600仁德农会","600北斗农会","600田尾农会","600安定农会","600西湖农会","600伸港农会","600官田农会","600林内农会","600南化农会","600南庄农会","600梧栖农会","600鹿谷农会","600麻豆农会","600新市农会","600溪州农会","600彰化农会","600福兴农会","600线西农会","605高雄农会","612神冈农会","612丰原农会","613名间农会","613集集农会","614二林农会","614永靖农会","614竹塘农会","614秀水农会","614芬园农会","614芳苑农会","614员林农会","614埔心农会","614埤头农会","616二仑农会","616口湖农会","616大埤农会","616斗六农会","616斗南农会","616古坑农会","616台西农会","616四湖农会","616西螺农会","616虎尾农会","616仑背农会","616莿桐农会","616褒忠农会","617大林农会","617六脚农会","617太保农会","617水上农会","617布袋农会","617民雄农会","617朴子农会","617竹崎农会","617东石农会","617梅山农会","617鹿草农会","617番路农会","617新港农会","617溪口农会","617义竹农会","617嘉义农会","618六甲农会","618北门农会","618永康农会","618玉井农会","618西港农会","618佳里农会","618将军农会","618善化农会","618新营农会","618楠西农会","618归仁农会","618盐水农会","619大社农会","619大寮农会","619大树农会","619小港农会","619仁武农会","619内门农会","619六龟农会","619永安农会","619田寮农会","619甲仙农会","619杉林农会","619冈山农会","619林园农会","619阿莲农会","619美浓农会","619茄萣农会","619梓官农会","619鸟松农会","619湖内农会","619路竹农会","619凤山农会","619桥头农会","619燕巢农会","619弥陀农会","620九如农会","620竹田农会","620车城农会","620里港农会","620佳冬农会","620东港农会","620枋山农会","620枋寮农会","620林边农会","620长治农会","620南州农会","620屏东市农会","620屏东县农会","620恒春农会","620崁顶农会","620琉球农会","620高树农会","620新园农会","620万丹农会","620万峦农会","620潮州农会","620麟洛农会","621吉安农会","621富里农会","621新秀农会","621寿丰农会","622太麻里农会","622台东农会","622成功农会","622池上农会","622东河农会","622长滨农会","622鹿野农会","622关山农会","624澎湖农会","625台中农会","627连江县农会","700中华邮政","803联邦银行","805远东银行","806元大银行","807永丰银行","808玉山银行","809凯基银行","810星展(台湾)银行","812台新银行","814大众银行","815日盛银行","816安泰银行","822中国信托","903汐止农会","910桃园渔会","910新竹渔会","910八德农会","910大园农会","910大溪农会","910平镇农会","910桃园农会","910复兴农会","910新屋农会","910杨梅农会","910龙潭农会","910龟山农会","910芦竹农会","910观音农会","922台南农会","928大里农会","928冬山农会","928板桥农会","928草屯农会","928新庄农会","951基隆渔会","951瑞芳渔会","951万里渔会","951头城渔会","951苏澳渔会","951八里农会","951三芝农会","951三星农会","951三重农会","951三峡农会","951土城农会","951士林农会","951中和农会","951中华民国农会","951五股农会","951五结农会","951内湖农会","951木栅农会","951北投农会","951北埔农会","951平溪农会","951石门农会","951石碇农会","951竹北农会","951竹东农会","951壮围农会","951芎林农会","951坪林农会","951宜兰农会","951林口农会","951金山农会","951南港农会","951后龙农会","951员山农会","951峨眉农会","951泰山农会","951基隆农会","951淡水农会","951深坑农会","951景美农会","951湖口农会","951新竹农会","951新店农会","951新埔农会","951新丰农会","951瑞芳农会","951树林农会","951横山农会","951头城农会","951罗东农会","951关西农会","951宝山农会","951芦洲农会","951苏澳农会","951莺歌农会","954二水农会","954三湾农会","954土库农会","954大甲农会","954大安农会","954大村农会","954大城农会","954大湖农会","954大雅农会","954山上农会","954中埔农会","954元长农会","954内埔农会","954公馆农会","954太平农会","954水里农会","954水林农会","954北港农会","954外埔农会","954左镇农会","954玉溪农会","954田中农会","954白河农会","954石冈农会","954光丰农会","954后里农会","954竹山农会","954竹南农会","954沙鹿农会","954卓兰农会","954和平农会","954和美农会","954东山农会","954东势乡农会","954东势区农会","954社头农会","954花莲农会","954花坛农会","954阿里山农会","954信义农会","954南投农会","954后壁农会","954柳营农会","954苑里农会","954苗栗农会","954埔里农会","954埔盐农会","954乌日农会","954国姓农会","954清水农会","954通霄农会","954造桥农会","954鱼池农会","954鹿港农会","954麦寮农会","954新化农会","954新社农会","954溪湖农会","954狮潭农会","954瑞穗农会","954铜锣农会","954凤荣农会","954潭子农会","954学甲农会","954头份农会","954头屋农会","954龙井农会","954龙崎农会","954礁溪农会","954关庙农会","954雾峰农会","804中华商业银行"],
			isSetted: false,
			bankModal: false,
			bankLists: [{'key':'004','label':'004台湾银行'},{'key':'005','label':'005土地银行'},{'key':'006','label':'006合库商银'},{'key':'007','label':'007第一银行'},{'key':'008','label':'008华南银行'},{'key':'009','label':'009彰化银行'},{'key':'011','label':'011上海银行'},{'key':'012','label':'012台北富邦'},{'key':'013','label':'013国泰世华'},{'key':'016','label':'016高雄银行'},{'key':'017','label':'017兆丰商银'},{'key':'018','label':'018农业金库'},{'key':'021','label':'021花旗(台湾)银行'},{'key':'022','label':'022美国银行'},{'key':'025','label':'025首都银行'},{'key':'039','label':'039澳盛(台湾)银行'},{'key':'048','label':'048王道银行'},{'key':'050','label':'050台湾企银'},{'key':'052','label':'052渣打商银'},{'key':'053','label':'053台中银行'},{'key':'054','label':'054京城商银'},{'key':'072','label':'072德意志银行'},{'key':'075','label':'075东亚银行'},{'key':'081','label':'081汇丰(台湾)银行'},{'key':'082','label':'082巴黎银行'},{'key':'101','label':'101瑞兴银行'},{'key':'102','label':'102华泰银行'},{'key':'103','label':'103台湾新光商银'},{'key':'104','label':'104台北五信'},{'key':'108','label':'108阳信银行'},{'key':'114','label':'114基隆一信'},{'key':'115','label':'115基隆二信'},{'key':'118','label':'118板信银行'},{'key':'119','label':'119淡水一信'},{'key':'120','label':'120淡水信合社'},{'key':'124','label':'124宜兰信合社'},{'key':'127','label':'127桃园信合社'},{'key':'130','label':'130新竹一信'},{'key':'132','label':'132新竹三信'},{'key':'146','label':'146台中二信'},{'key':'147','label':'147三信银行'},{'key':'158','label':'158彰化一信'},{'key':'161','label':'161彰化五信'},{'key':'162','label':'162彰化六信'},{'key':'163','label':'163彰化十信'},{'key':'165','label':'165鹿港信合社'},{'key':'178','label':'178嘉义三信'},{'key':'188','label':'188台南三信'},{'key':'204','label':'204高雄三信'},{'key':'215','label':'215花莲一信'},{'key':'216','label':'216花莲二信'},{'key':'222','label':'222澎湖一信'},{'key':'223','label':'223澎湖二信'},{'key':'224','label':'224金门信合社'},{'key':'512','label':'512云林渔会'},{'key':'515','label':'515嘉义渔会'},{'key':'517','label':'517南市渔会'},{'key':'518','label':'518南县渔会'},{'key':'52001','label':'520小港渔会'},{'key':'52002','label':'520高雄渔会'},{'key':'52101','label':'521永安渔会'},{'key':'52102','label':'521林园渔会'},{'key':'52103','label':'521梓官渔会'},{'key':'52104','label':'521兴达港渔会'},{'key':'52105','label':'521弥陀渔会'},{'key':'52301','label':'523东港渔会'},{'key':'52302','label':'523枋寮渔会'},{'key':'52303','label':'523林边渔会'},{'key':'52304','label':'523琉球渔会'},{'key':'524','label':'524新港渔会'},{'key':'525','label':'525澎湖渔会'},{'key':'526','label':'526金门渔会'},{'key':'60001','label':'600南龙渔会'},{'key':'60002','label':'600通苑渔会'},{'key':'60003','label':'600彰化渔会'},{'key':'60004','label':'600七股农会'},{'key':'60005','label':'600三义农会'},{'key':'60006','label':'600下营农会'},{'key':'60007','label':'600大内农会'},{'key':'60008','label':'600大肚农会'},{'key':'60009','label':'600中寮农会'},{'key':'60010','label':'600仁爱农会'},{'key':'60011','label':'600仁德农会'},{'key':'60012','label':'600北斗农会'},{'key':'60013','label':'600田尾农会'},{'key':'60014','label':'600安定农会'},{'key':'60015','label':'600西湖农会'},{'key':'60016','label':'600伸港农会'},{'key':'60017','label':'600官田农会'},{'key':'60018','label':'600林内农会'},{'key':'60019','label':'600南化农会'},{'key':'60020','label':'600南庄农会'},{'key':'60021','label':'600梧栖农会'},{'key':'60022','label':'600鹿谷农会'},{'key':'60023','label':'600麻豆农会'},{'key':'60024','label':'600新市农会'},{'key':'60025','label':'600溪州农会'},{'key':'60026','label':'600彰化农会'},{'key':'60027','label':'600福兴农会'},{'key':'60028','label':'600线西农会'},{'key':'605','label':'605高雄农会'},{'key':'61201','label':'612神冈农会'},{'key':'61202','label':'612丰原农会'},{'key':'61301','label':'613名间农会'},{'key':'61302','label':'613集集农会'},{'key':'61401','label':'614二林农会'},{'key':'61402','label':'614永靖农会'},{'key':'61403','label':'614竹塘农会'},{'key':'61404','label':'614秀水农会'},{'key':'61405','label':'614芬园农会'},{'key':'61406','label':'614芳苑农会'},{'key':'61407','label':'614员林农会'},{'key':'61408','label':'614埔心农会'},{'key':'61409','label':'614埤头农会'},{'key':'61601','label':'616二仑农会'},{'key':'61602','label':'616口湖农会'},{'key':'61603','label':'616大埤农会'},{'key':'61604','label':'616斗六农会'},{'key':'61605','label':'616斗南农会'},{'key':'61606','label':'616古坑农会'},{'key':'61607','label':'616台西农会'},{'key':'61608','label':'616四湖农会'},{'key':'61609','label':'616西螺农会'},{'key':'61610','label':'616虎尾农会'},{'key':'61611','label':'616仑背农会'},{'key':'61612','label':'616莿桐农会'},{'key':'61613','label':'616褒忠农会'},{'key':'61701','label':'617大林农会'},{'key':'61702','label':'617六脚农会'},{'key':'61703','label':'617太保农会'},{'key':'61704','label':'617水上农会'},{'key':'61705','label':'617布袋农会'},{'key':'61706','label':'617民雄农会'},{'key':'61707','label':'617朴子农会'},{'key':'61708','label':'617竹崎农会'},{'key':'61709','label':'617东石农会'},{'key':'61710','label':'617梅山农会'},{'key':'61711','label':'617鹿草农会'},{'key':'61712','label':'617番路农会'},{'key':'61713','label':'617新港农会'},{'key':'61714','label':'617溪口农会'},{'key':'61715','label':'617义竹农会'},{'key':'61716','label':'617嘉义农会'},{'key':'61801','label':'618六甲农会'},{'key':'61802','label':'618北门农会'},{'key':'61803','label':'618永康农会'},{'key':'61804','label':'618玉井农会'},{'key':'61805','label':'618西港农会'},{'key':'61806','label':'618佳里农会'},{'key':'61807','label':'618将军农会'},{'key':'61808','label':'618善化农会'},{'key':'61809','label':'618新营农会'},{'key':'61810','label':'618楠西农会'},{'key':'61811','label':'618归仁农会'},{'key':'61812','label':'618盐水农会'},{'key':'61901','label':'619大社农会'},{'key':'61902','label':'619大寮农会'},{'key':'61903','label':'619大树农会'},{'key':'61904','label':'619小港农会'},{'key':'61905','label':'619仁武农会'},{'key':'61906','label':'619内门农会'},{'key':'61907','label':'619六龟农会'},{'key':'61908','label':'619永安农会'},{'key':'61909','label':'619田寮农会'},{'key':'61910','label':'619甲仙农会'},{'key':'61911','label':'619杉林农会'},{'key':'61912','label':'619冈山农会'},{'key':'61913','label':'619林园农会'},{'key':'61914','label':'619阿莲农会'},{'key':'61915','label':'619美浓农会'},{'key':'61916','label':'619茄萣农会'},{'key':'61917','label':'619梓官农会'},{'key':'61918','label':'619鸟松农会'},{'key':'61919','label':'619湖内农会'},{'key':'61920','label':'619路竹农会'},{'key':'61921','label':'619凤山农会'},{'key':'61922','label':'619桥头农会'},{'key':'61923','label':'619燕巢农会'},{'key':'61924','label':'619弥陀农会'},{'key':'62001','label':'620九如农会'},{'key':'62002','label':'620竹田农会'},{'key':'62003','label':'620车城农会'},{'key':'62004','label':'620里港农会'},{'key':'62005','label':'620佳冬农会'},{'key':'62006','label':'620东港农会'},{'key':'62007','label':'620枋山农会'},{'key':'62008','label':'620枋寮农会'},{'key':'62009','label':'620林边农会'},{'key':'62010','label':'620长治农会'},{'key':'62011','label':'620南州农会'},{'key':'62012','label':'620屏东市农会'},{'key':'62013','label':'620屏东县农会'},{'key':'62014','label':'620恒春农会'},{'key':'62015','label':'620崁顶农会'},{'key':'62016','label':'620琉球农会'},{'key':'62017','label':'620高树农会'},{'key':'62018','label':'620新园农会'},{'key':'62019','label':'620万丹农会'},{'key':'62020','label':'620万峦农会'},{'key':'62021','label':'620潮州农会'},{'key':'62022','label':'620麟洛农会'},{'key':'62101','label':'621吉安农会'},{'key':'62102','label':'621富里农会'},{'key':'62103','label':'621新秀农会'},{'key':'62104','label':'621寿丰农会'},{'key':'62201','label':'622太麻里农会'},{'key':'62202','label':'622台东农会'},{'key':'62203','label':'622成功农会'},{'key':'62204','label':'622池上农会'},{'key':'62205','label':'622东河农会'},{'key':'62206','label':'622长滨农会'},{'key':'62207','label':'622鹿野农会'},{'key':'62208','label':'622关山农会'},{'key':'624','label':'624澎湖农会'},{'key':'625','label':'625台中农会'},{'key':'627','label':'627连江县农会'},{'key':'700','label':'700中华邮政'},{'key':'803','label':'803联邦银行'},{'key':'805','label':'805远东银行'},{'key':'806','label':'806元大银行'},{'key':'807','label':'807永丰银行'},{'key':'808','label':'808玉山银行'},{'key':'809','label':'809凯基银行'},{'key':'810','label':'810星展(台湾)银行'},{'key':'812','label':'812台新银行'},{'key':'814','label':'814大众银行'},{'key':'815','label':'815日盛银行'},{'key':'816','label':'816安泰银行'},{'key':'822','label':'822中国信托'},{'key':'903','label':'903汐止农会'},{'key':'91001','label':'910桃园渔会'},{'key':'91002','label':'910新竹渔会'},{'key':'91003','label':'910八德农会'},{'key':'91004','label':'910大园农会'},{'key':'91005','label':'910大溪农会'},{'key':'91006','label':'910平镇农会'},{'key':'91007','label':'910桃园农会'},{'key':'91008','label':'910复兴农会'},{'key':'91009','label':'910新屋农会'},{'key':'91010','label':'910杨梅农会'},{'key':'91011','label':'910龙潭农会'},{'key':'91012','label':'910龟山农会'},{'key':'91013','label':'910芦竹农会'},{'key':'91014','label':'910观音农会'},{'key':'922','label':'922台南农会'},{'key':'92801','label':'928大里农会'},{'key':'92802','label':'928冬山农会'},{'key':'92803','label':'928板桥农会'},{'key':'92804','label':'928草屯农会'},{'key':'92805','label':'928新庄农会'},{'key':'95101','label':'951基隆渔会'},{'key':'95102','label':'951瑞芳渔会'},{'key':'95103','label':'951万里渔会'},{'key':'95104','label':'951头城渔会'},{'key':'95105','label':'951苏澳渔会'},{'key':'95106','label':'951八里农会'},{'key':'95107','label':'951三芝农会'},{'key':'95108','label':'951三星农会'},{'key':'95109','label':'951三重农会'},{'key':'95110','label':'951三峡农会'},{'key':'95111','label':'951土城农会'},{'key':'95112','label':'951士林农会'},{'key':'95113','label':'951中和农会'},{'key':'95114','label':'951中华民国农会'},{'key':'95115','label':'951五股农会'},{'key':'95116','label':'951五结农会'},{'key':'95117','label':'951内湖农会'},{'key':'95118','label':'951木栅农会'},{'key':'95119','label':'951北投农会'},{'key':'95120','label':'951北埔农会'},{'key':'95121','label':'951平溪农会'},{'key':'95122','label':'951石门农会'},{'key':'95123','label':'951石碇农会'},{'key':'95124','label':'951竹北农会'},{'key':'95125','label':'951竹东农会'},{'key':'95126','label':'951壮围农会'},{'key':'95127','label':'951芎林农会'},{'key':'95128','label':'951坪林农会'},{'key':'95129','label':'951宜兰农会'},{'key':'95130','label':'951林口农会'},{'key':'95131','label':'951金山农会'},{'key':'95132','label':'951南港农会'},{'key':'95133','label':'951后龙农会'},{'key':'95134','label':'951员山农会'},{'key':'95135','label':'951峨眉农会'},{'key':'95136','label':'951泰山农会'},{'key':'95137','label':'951基隆农会'},{'key':'95138','label':'951淡水农会'},{'key':'95139','label':'951深坑农会'},{'key':'95140','label':'951景美农会'},{'key':'95141','label':'951湖口农会'},{'key':'95142','label':'951新竹农会'},{'key':'95143','label':'951新店农会'},{'key':'95144','label':'951新埔农会'},{'key':'95145','label':'951新丰农会'},{'key':'95146','label':'951瑞芳农会'},{'key':'95147','label':'951树林农会'},{'key':'95148','label':'951横山农会'},{'key':'95149','label':'951头城农会'},{'key':'95150','label':'951罗东农会'},{'key':'95151','label':'951关西农会'},{'key':'95152','label':'951宝山农会'},{'key':'95153','label':'951芦洲农会'},{'key':'95154','label':'951苏澳农会'},{'key':'95155','label':'951莺歌农会'},{'key':'95401','label':'954二水农会'},{'key':'95402','label':'954三湾农会'},{'key':'95403','label':'954土库农会'},{'key':'95404','label':'954大甲农会'},{'key':'95405','label':'954大安农会'},{'key':'95406','label':'954大村农会'},{'key':'95407','label':'954大城农会'},{'key':'95408','label':'954大湖农会'},{'key':'95409','label':'954大雅农会'},{'key':'95410','label':'954山上农会'},{'key':'95411','label':'954中埔农会'},{'key':'95412','label':'954元长农会'},{'key':'95413','label':'954内埔农会'},{'key':'95414','label':'954公馆农会'},{'key':'95415','label':'954太平农会'},{'key':'95416','label':'954水里农会'},{'key':'95417','label':'954水林农会'},{'key':'95418','label':'954北港农会'},{'key':'95419','label':'954外埔农会'},{'key':'95420','label':'954左镇农会'},{'key':'95421','label':'954玉溪农会'},{'key':'95422','label':'954田中农会'},{'key':'95423','label':'954白河农会'},{'key':'95424','label':'954石冈农会'},{'key':'95425','label':'954光丰农会'},{'key':'95426','label':'954后里农会'},{'key':'95427','label':'954竹山农会'},{'key':'95428','label':'954竹南农会'},{'key':'95429','label':'954沙鹿农会'},{'key':'95430','label':'954卓兰农会'},{'key':'95431','label':'954和平农会'},{'key':'95432','label':'954和美农会'},{'key':'95433','label':'954东山农会'},{'key':'95434','label':'954东势乡农会'},{'key':'95435','label':'954东势区农会'},{'key':'95436','label':'954社头农会'},{'key':'95437','label':'954花莲农会'},{'key':'95438','label':'954花坛农会'},{'key':'95439','label':'954阿里山农会'},{'key':'95440','label':'954信义农会'},{'key':'95441','label':'954南投农会'},{'key':'95442','label':'954后壁农会'},{'key':'95443','label':'954柳营农会'},{'key':'95444','label':'954苑里农会'},{'key':'95445','label':'954苗栗农会'},{'key':'95446','label':'954埔里农会'},{'key':'95447','label':'954埔盐农会'},{'key':'95448','label':'954乌日农会'},{'key':'95449','label':'954国姓农会'},{'key':'95450','label':'954清水农会'},{'key':'95451','label':'954通霄农会'},{'key':'95452','label':'954造桥农会'},{'key':'95453','label':'954鱼池农会'},{'key':'95454','label':'954鹿港农会'},{'key':'95455','label':'954麦寮农会'},{'key':'95456','label':'954新化农会'},{'key':'95457','label':'954新社农会'},{'key':'95458','label':'954溪湖农会'},{'key':'95459','label':'954狮潭农会'},{'key':'95460','label':'954瑞穗农会'},{'key':'95461','label':'954铜锣农会'},{'key':'95462','label':'954凤荣农会'},{'key':'95463','label':'954潭子农会'},{'key':'95464','label':'954学甲农会'},{'key':'95465','label':'954头份农会'},{'key':'95466','label':'954头屋农会'},{'key':'95467','label':'954龙井农会'},{'key':'95468','label':'954龙崎农会'},{'key':'95469','label':'954礁溪农会'},{'key':'95470','label':'954关庙农会'},{'key':'95471','label':'954雾峰农会'},{'key':'804','label':'804中华商业银行'}],



			bank_value: "",
			bank_name: "",
			bank_account: "",
			bank_username: "",
			pwd: '',
		}
	},
	computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
			//web: 'web',
		}),
	},
	methods: {
		submit(){
			apiSetBank({
						bank_value: this.user.bank.bank_value,
						bank_name: this.user.bank.bank_name,
						bank_account: this.user.bank.bank_account,
						bank_username: this.user.bank.bank_username,
						cashPassword: this.pwd,
						cashPassword_confirmation: this.pwd,

					})
				.then(response => {
					if (!response.data.status) {
						return $toast.show(response.data.message);
					}
					else {
						this.user.is_cash_password = true;
						$toast.show(response.data.message, 1000).then(() => {
							this.$router.go(-1);
						});
					}
				})
				.catch(error => {
					console.log(error);
				});
		},
		openModal (modal, event) {
			if(this.isSetted)
			{
				return;
			}
			event.target.blur();
			this[modal] = true;
		},
		selectBank (data) {
			//console.log(data);
			//console.log(data.pathName[0]);
			this.bank_name = data.pathName[0];
			this.user.bank.bank_value = data.pathName[0];
			// data: {
			//  path: ['510000',510300],
			//  pathName: ['四川省','自贡市']
			// }
		},
		locationSearchSuccess (data) {
			console.log(data)
			// data: {
			//  path: ['510000',510300],
			//  pathName: ['四川省','自贡市']
			// }
		},
		queryChange (val) {
			//console.log(val)
			// return search input value
		},
		cancel () {
			//console.log('cancel')
		}
	},
	created() {
		//this.$set(this, 'form', this.user.bank ? this.user.bank: {'bank_value':'','bank_name':'','bank_account':'','bank_username':''});
		this.$store.dispatch('getUserInfo');
		//console.log( this.user.bank);
		this.isSetted = this.user.bank.bank_account != '';
	},
	mounted(){
		//console.log(this.user.isLogin);
		//if (this.user.isLogin) {
		//	this.$router.go(-1);
		//}
			if(!this.user.is_cash_password){
				let options = {
					effect: 'scale',
					title: '',
					showClose: false,
					buttons: [
					  {text: '取消'},
					  {text: '确定前往'},
					]
				}
				let popup = $popup.fromTemplate('<div class="fs14">请先完善提款密码後才能设置银行号户<br>请问是否前往?</div>', options);

				popup.show().then((buttonIndex) => {
					if (buttonIndex == 0){
						this.$router.go(-1);
					}
					if (buttonIndex == 1){
						this.go2page('/user/cash-password');
					}
				})
			}



	}
}
</script>
<style scoped>
/*
.bank-list{
  width: 90%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 10px auto;
  display: block;
  font-size: 14px;
  cursor: pointer;
}*/
</style>
<style>
.setbank-page .yd-cell-item {
	padding-left:14px;
}
.setbank-page .yd-cell-item .yd-cell-left{
	min-width:90px;
}
.cascade__search--comfirm {display:none;}
.cascade__title {
	font-size:15px !important;
	font-weight:400 !important;
	text-indent:0px !important;
}
.cascade__header .icon-back {display:none !important;}
.filterable .cascade__list{color:#666;}
.cascade__search--input {font-size:14px;}
.cascade__content {width:250px !important;}
</style>
