<template>

	<div class="page has-navbar" v-nav="{title: $route.name, showBackButton: true, showMenuButton: true	, hideNavbar: true}">

		<div>
			<von-header>
				<button class="button button-icon ion-ios-arrow-back" slot="left" @click="$router.go(-1)"></button>
				<span slot="title">{{$route.name}}</span>
				<span class="fs14 link-color" slot="right" style="line-height:34px;margin-right:8px;" @click="showFilter = true">筛选</span>
			</von-header>
			
			<scroller class="page-content padding-top transfer-log" ref="scroller" no-data-text="" :on-infinite="onLoadPage" :class="{'fade-leave-to' : showFilter,'fade-enter-active': !showFilter}">
				<item v-for="(item, index) in items" class="record-item" :key="index" @click.native="onItemClick(index)" >
					<div class="record-cell date text-center">
						<div>{{ dateFormatMD(item.date) }}<br>{{ dateFormatHM(item.date) }}</div>
					</div>
					<div class="record-cell type text-center">
						<div class="dot bg-yellow" :class="{'bg-blue': item.type == '存款','bg-red': item.type == '提款'}">{{ item.type.substring(0,1) }}</div>
					</div>
					<div class="record-cell memo">
						<span class="title">{{ item.memo }}</span><br>
						<span class="order-no">流水号{{ item.order_no }}</span>
					</div>
					<div class="record-cell status text-center" :class="{'text-green': item.status == '成功','text-red': item.type == '失败'}">
						{{ item.status }}
					</div>
					<div class="record-cell amount">
						{{ item.amount }}
					</div>
				</item>

				<div class="no-record" v-if="!this.items.length"></div>



			</scroller>
		</div>

		<yd-popup v-model="showDetail" position="bottom" width="100%" height="100%" masker-opacity="0">

			<von-header>
				<span slot="title">详情</span>
				<button class="button button-icon ion-ios-close-empty" @click="showDetail = false" slot="right"></button>
			</von-header>
			<div class="page-content popup-detail">

				<div class="cells padding">
					<div class="type">
						<div class="dot bg-yellow" :class="{'bg-blue': item.type == '存款','bg-red': item.type == '提款'}">{{ item.type.substring(0,1) }}</div>
						{{ this.item.type }}
					</div>
					<div class="amount">
						{{ item.amount }}
					</div>
					<div class="status" :class="{'text-green': item.status == '成功','text-red': item.type == '失败'}">
						{{ item.status }}
					</div>
				</div>
		
				<list class="list-ios hl-list-borderless mb10">
					<item>
						类型
						<span class="item-note">{{ item.type }}</span>
					</item>
					<item>
						类型名称
						<span class="item-note">{{ item.memo }}</span>
					</item>
					<item>
						创建时间
						<span class="item-note">{{ item.date }}</span>
					</item>
					<item>
						金额
						<span class="item-note">{{ item.amount }}</span>
					</item>
					<item>
						当下余额
						<span class="item-note">{{ item.user_amount }}</span>
					</item>

				</list>

				<list class="list-ios hl-list-borderless">
					<item>
						流水号
						<span class="item-note">{{ item.order_no }}</span>
					</item>
					<item v-if="item.payment_channel">
						付款渠道
						<span class="item-note">{{ item.payment_channel }}</span>
					</item>
					<item v-if="item.payment_code">
						付款代码
						<span class="item-note">{{ item.payment_code }}</span>
					</item>
					<item>
						备注
						<span class="item-note">{{ item.note }}</span>
					</item>
				</list>

			</div>


		</yd-popup>

        <yd-popup v-model="showFilter" position="right" width="100%" class="transfer-log-filter" masker-opacity="0">
			<von-header>
				<button class="button button-icon ion-ios-arrow-back" slot="left" @click="showFilter = false"></button>
				<span slot="title">筛选</span>
				<span class="fs14 link-color" slot="right"></span>
			</von-header>
			<div class="page-content">

				<div class="item-divider" style="padding:14px 10px 13px 5px;line-height:22px;">
					<button type="button" class="yd-btn-mini fs14"><!----> <span>日期快捷</span></button>
					<div class="item-note" style="margin-top:-4px;">
						<button type="button" class="yd-btn quick-btn" @click="quickButtonDate(0);quickBtn = 1" :class="{'active':quickBtn == 1}"><!----> <span>今天</span></button>
						<button type="button" class="yd-btn quick-btn" @click="quickButtonDate(2);quickBtn = 2" :class="{'active':quickBtn == 2}"><!----> <span>三天</span></button>
						<button type="button" class="yd-btn quick-btn" @click="quickButtonDate(6);quickBtn = 3" :class="{'active':quickBtn == 3}"><!----> <span>一星期</span></button>
						<button type="button" class="yd-btn quick-btn" @click="quickButtonDate(13);quickBtn = 4" :class="{'active':quickBtn == 4}"><!----> <span>二星期</span></button>
					</div>
				</div>


				<item @click.native="$refs.startDate.open()">
					开始时间
					<span class="item-note">
						<yd-datetime ref="startDate" v-model="start_date" :cancel-text="picker_cancel_text" :confirm-text="picker_confirm_text" type="date" :start-date="limit_start_date"></yd-datetime>
					</span>
				</item>
				<item  @click.native="$refs.endDate.open()">
					结束时间
					<span class="item-note">
						<yd-datetime ref="endDate" v-model="end_date" :cancel-text="picker_cancel_text" :confirm-text="picker_confirm_text" type="date" slot="right" :start-date="limit_start_date"></yd-datetime>
					</span>
				</item>
				<item @click.native="orderTypeActionsheet = true">
					资金分类
					<span class="item-note">{{ orderType }}</span>
				</item>
				<item @click.native="orderStatusActionsheet = true">
					订单状态
					<span class="item-note">{{ orderStatus }}</span>
				</item>
				<div class="padding">
					<button class="button button-positive button-block" @click="search(1)">搜索</button>

      				<button class="button button-light button-block" @click="reset">重置</button>
				</div>
			</div>

        </yd-popup>

		<yd-actionsheet :items="orderTypeItems" v-model="orderTypeActionsheet"></yd-actionsheet>
		<yd-actionsheet :items="orderStatusItems" v-model="orderStatusActionsheet"></yd-actionsheet>

	
	</div>
</template>
<script>

import moment from 'moment'
import { apiTransferLog } from 'api.js'
import { mapGetters } from 'vuex'
import { globalMixin } from 'mixin.js'
export default {
	mixins: [globalMixin],
	component:{
	},
	data() {
		return {
			limit_start_date: moment(new Date((new Date()).getTime() - (14 * 86400 * 1000))).format("YYYY-MM-DD"),
			quickBtn : 0,
			orderStatusActionsheet: false,
			orderStatusItems:[
				{label: '全部'   ,callback: () => { this.radio_status = 100; }},
				{label: '处理中' ,callback: () => { this.radio_status = 0; }},
				{label: '审核中' ,callback: () => { this.radio_status = 4; }},
				{label: '成功'   ,callback: () => { this.radio_status = 1; }},
				{label: '失败'   ,callback: () => { this.radio_status = 2; }},
			],
			orderTypeActionsheet: false,
			orderTypeItems:[
				{label: '全部'   ,callback: () => { this.radio_type = 0; }},
				{label: '存款'   ,callback: () => { this.radio_type = 50; }},
				{label: '提款'   ,callback: () => { this.radio_type = 51; }},
				{label: '转入'   ,callback: () => { this.radio_type = 81; }},
				{label: '转出'   ,callback: () => { this.radio_type = 82; }},
			],

			showFilter: false,
			showDetail: false,
			item: {
                amount: '',
                date: '',
				memo: false,
				note: false,
				status: false,
				order_no: false,
				payment_channel: '',
				payment_code: '',
				type: ''
            },

			page: 1,
			//radio_date: 1,
			radio_type: 0,
			radio_status: 100,

			items: [],
			current_page: 0,
			last_page: 1,

			picker_cancel_text: '取消',
			picker_confirm_text: '确定',
			start_date: moment(new Date()).format("YYYY-MM-DD"),
			end_date: moment(new Date()).format("YYYY-MM-DD"),
		}
	},
	computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
			//web: 'web',
		}),
		orderStatus(){
			var array = {
				'100' : '全部',
				'0' : '处理中',
				'4' : '审核中',
				'1' : '成功',
				'2' : '失败',
			};
			return array[this.radio_status];
		},
		orderType(){
			var array = {
				'0' : '全部',
				'50' : '存款',
				'51' : '提款',
				'81' : '转入',
				'82' : '转出',
			};
			return array[this.radio_type];
		}

	},
	methods: {
		dateFormatMD(date) {
			return moment(date).format('MM-DD');
		},
		dateFormatHM(date) {
			return moment(date).format('hh:mm');
		},
		quickButtonDate(day){
			this.start_date = moment().subtract(day,'d').format('YYYY-MM-DD');
			this.end_date = moment(new Date()).format("YYYY-MM-DD");
		},
		get_Date(days){
			var sDate = new Date();
			sDate.setDate(sDate.getDate() + days);
			return sDate;			
		},
		search(page, fn){
        	//$loading.show('努力读取中...');
			apiTransferLog(page, {
								'type' : this.radio_type,
								'status' : this.radio_status,
								'dateStart' : this.start_date,
								'dateEnd' : this.end_date,
								'paginate' : 30
							})
				.then(response => {
					this.showFilter = false;

					//setTimeout(() => {
					//	$loading.hide();
					//}, 500);
					if (!response.data.status) {
						return $toast.show(response.data.message);
					}
					else {
						if(response.data.data.current_page == 1){
							this.items = response.data.data.data;
							//var clone = response.data.data.data.slice(0);
							//console.log(clone);
							//this.items = this.items.concat(clone);
						}else{
							this.items = this.items.concat(response.data.data.data);
						}
						//console.log(this.items);
						this.last_page = response.data.data.last_page;
						this.current_page = response.data.data.current_page;

						if(this.current_page < this.last_page){
							setTimeout(() => {
									this.$refs.scroller.finishInfinite();
							});
						}else{
							setTimeout(() => {
									this.$refs.scroller.finishInfinite(true);
							});
						}
					}
				})
				.catch(error => {
					console.log(error);
					//setTimeout(() => {
						//$loading.hide();
					//}, 0);
				})
				.finally(() => {
					setTimeout(() => {
						if(fn)	fn();
						//$loading.hide();
					}, 0);
				});
		},
		reset(){
			this.quickBtn = 0;
			this.quickButtonDate(0);
			this.radio_type = 0;
			this.radio_status = 100;
		},
		onRefresh(){
			this.search(1, this.$refs.scroller.finishPullToRefresh);
			/*
			setTimeout(() => {
				setTimeout(() => {
					if (this.$refs.scroller) this.$refs.scroller.finishPullToRefresh();

				});
			}, 500);
			*/
		},
		onLoadPage(){
			//console.log("current_page - last_page" + this.current_page + "-" + this.last_page);
			if(this.current_page < this.last_page)
				this.search(this.current_page + 1);
			else{
				setTimeout(() => {
						this.$refs.scroller.finishInfinite(true);
				});
			}
		},
		onItemClick(index){
		//	console.log(index);
		//	console.log(this.item );
			this.item = this.items[index];
			this.showDetail = true;
		}
	},
	mounted(){
//		console.log(this.user.isLogin);
		//if (this.user.isLogin) {
		//	this.$router.go(-1);
		//}
		//this.search(1);
		//console.log(moment(get_Date(-14)));
	}
}
</script>
<style scoped>


.transfer-log .record-item .record-cell{
	height:70px;
}
.transfer-log .record-item .order-no{
	font-size:12px;
	color:#999;
	overflow: hidden;
	text-overflow : ellipsis;
	white-space : nowrap;
}
.transfer-log .record-item .title{
	font-size:14px;
	overflow: hidden;
	text-overflow : ellipsis;
	white-space : nowrap;
	font-weight:400;
}
.transfer-log .record-item{
	padding:0px;
	color:#666;
	display: flex;

}
.transfer-log .record-cell.date{
	width:50px;
	font-size:12px;
    display: flex;
    align-items: center;
    justify-content: center;
	padding-left:10px;

}
.transfer-log .record-cell.status{
	color:#999;
	width:50px;
	font-size:12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.transfer-log .record-cell.type{
	width:40px;
	font-size:16px;
	    display: flex;
    align-items: center;
    justify-content: center;
}

.transfer-log .record-cell.memo{
	width: calc(100% - 200px);
	line-height:16px;
    padding-top: 20px;
	overflow:hidden;
}

.transfer-log .record-cell.amount{
	width: 60px;
	font-size:12px;
	    display: flex;
    align-items: center;
    justify-content: center;
}
.transfer-log .dot {
    border-radius: 50%;
	background-color:#fdb500;
    display: inline-block;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    padding: 5px 5px;
}

.transfer-log .bg-blue {
	background-color:#11c1f3 !important;
}
.transfer-log .bg-red {
	background-color:#e5311b !important;
}



.popup-detail .item { margin:-1px 0px}
.popup-detail .dot {
    border-radius: 50%;
	background-color:#fdb500;
    display: inline-block;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    padding: 5px 5px;
}
.popup-detail .bg-blue {
	background-color:#11c1f3 !important;
}
.popup-detail .bg-red {
	background-color:#e5311b !important;
}

.popup-detail .type {
	text-align:center;
	font-size:15px;
	line-height:15px;
	padding:10px 0;
	color:#444;
}

.popup-detail .amount {
	text-align:center;
	font-size:20px;
	padding:10px 0;
	font-weight:700;
}


.popup-detail .status {
	text-align:center;
	font-size:14px;
	padding:10px 0;
	color:#777;
}


</style>
<style>
.transfer-log-filter .quick-btn {
    color: #409eff;
    border-radius: 2px;
    box-sizing: border-box;
    border: 1px solid rgba(64,158,255,.2);
	    background-color: rgba(74, 144, 226, .1);
}
.transfer-log-filter .quick-btn.active {
	color:#fff;
	background-color: rgba(74, 144, 226, 1);
}

.transfer-log-filter .yd-mask {
	z-index:1499 !important;
}
.transfer-log-filter .yd-popup {
	z-index:1500 !important;
}
</style>