<template>
  <div class="page has-navbar has-tabbar user-center" v-tabbar-menu-index="4">
    <scroller class="page-content" refresh-text="下拉刷新钱包" :on-refresh="onRefresh" ref="scroller" style="padding-top:0px;">
      <div class="header-bg"></div>
      <div class="user-content">
        <div class="top-user-info">
          <div class="inner">
            <div class="user-name">{{ username }}</div>
            <div class="user-logo"></div>
            <div v-if="false" class="user-class" @click="go2page('/help/vip')">{{ config.class[user.class]}}</div>
          </div>
        </div>

        <div class="user-top-box fs14">
          <div class="inner">
            <div class="row money">
              <div class="wallet-box">
                <div class="fs14 fw700">${{ wallet || '0.00'}}</div>
                主钱包(元)
              </div>
              <div class="wallet-total-box" @click="go2page('/user/wallet')">
                <div class="fs14 fw700">${{ user.wallet.totalAmounts.toFixed(2) }}</div>
                总资产(元)
                <i class="icon ion-ios-arrow-right fs14 pull-right"></i>
              </div>
            </div>
            <div class="divider"></div>
            <div class="row">
              <div class="col-auto text-center" @click="go2page('/user/transfer')">
                <span class="icon icon icon-transfer"></span>转帐
              </div>
              <div class="col-auto text-center" @click="go2page('/user/withdraw')">
                <span class="icon icon icon-withdraw"></span>提款
              </div>
              <div class="col-auto text-center" @click="go2page('/user/deposit')">
                <span class="icon icon icon-deposit"></span>存款
              </div>
            </div>
          </div>
        </div>
        <div class="action-btns">
          <Cell is-link @click="go2page('/user/transfer-log')">
            <template #title>
              <span class="icon icon-bet-log"></span>
              <span class="custom-title">资金记录</span>
            </template>
          </Cell>
          <Cell is-link @click="go2page('/user/bet-log')">
            <template #title>
              <span class="icon icon-transfer-log"></span>
              <span class="custom-title">投注记录</span>
            </template>
          </Cell>
          <Cell is-link @click="go2page('/user/mail')">
            <template #title>
              <span class="icon icon-mail"></span>
              <span class="custom-title">站内消息</span>
              <badge v-if="user.unread > 0" :num="this.user.unread"></badge>
            </template>
          </Cell>
          <Cell is-link @click="go2page('/user/info')">
            <template #title>
              <span class="icon icon-setting"></span>
              <span class="custom-title">个人设置</span>
            </template>
          </Cell>
          <Cell is-link @click="go2page('/user/safe')">
            <template #title>
              <span class="icon icon-security"></span>
              <span class="custom-title">安全设置</span>
            </template>
          </Cell>
          <Cell is-link @click="go2page('/blog')">
            <template #title>
              <span class="icon icon-transfer-log"></span>
              <span class="custom-title">博客</span>
            </template>
          </Cell>
          <Cell  @click="logout">
            <template #title>
              <span class="icon icon-logout"></span>
              <span class="custom-title">登出</span>
            </template>
          </Cell>
        </div>
        <div class="user-bottom-box fs14" v-if="false">
          <div class="row" style="margin-bottom:15px;">
            <div class="col-auto text-center" @click="go2page('/user/transfer-log')">
              <span class="icon icon transferlog"></span>资金记录
            </div>
            <div class="col-auto text-center" @click="go2page('/user/bet-log')">
              <span class="icon icon betlog"></span>投注记录
            </div>
            <div class="col-auto text-center" @click="go2page('/user/mail')">
              <span class="icon icon icon-mail"></span>站内消息
            </div>
          </div>
          <div class="row" style="margin-bottom:15px;">
            <div class="col-auto text-center" @click="go2page('/user/info')">
              <span class="icon icon personal"></span>个人设置
            </div>
            <div class="col-auto text-center" @click="go2page('/user/safe')">
              <span class="icon icon safe"></span>安全设置
            </div>
            <div class="col-auto text-center" @click="go2page('/promotion')">
              <span class="icon icon promotion"></span>优惠活动
            </div>
          </div>
          <div class="row" style="margin-bottom:15px;">
            <div class="col-auto text-center">
            </div>
            <div class="col-auto text-center">
              <div class="col-auto text-center" @click="logout">
                <span class="icon icon logout"></span>登出
              </div>
            </div>
            <div class="col-auto text-center">
            </div>
          </div>
        </div>
      </div>
    </scroller>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import { globalMixin } from 'mixin.js'
import { apiGetBalance } from 'api.js'
import { Cell } from 'vant';

export default {
  mixins: [globalMixin],
  data() {
    return {

      vendorsCount: 0,
    }
  },
  components: {
    Cell
  },
  mounted() {
    setTimeout(() => {
      if (this.$refs.scroller) this.$refs.scroller.resize();
    });
  },
  computed: {
    ...mapGetters({
      config: 'config',
      user: 'user',
      web: 'web',
    }),
    username() {
      return this.user.username;
    },
    wallet() {
      if (!this.user.wallet.deploy['WALLET']) {
        return false;
      }
      return parseFloat(this.user.wallet.deploy['WALLET'].amount).toFixed(2);
    }

  },
  methods: {
    onRefresh() {
      /*
      setTimeout(() => {
        setTimeout(() => {
          if (this.$refs.scroller) this.$refs.scroller.finishPullToRefresh();
        });
      }, 300);*/
      for (var key in this.config.vendors) {
        this.refreshBalance(this.config.vendors[key].value);
      }
    },


    refreshBalance(vendor) {

      apiGetBalance(vendor)
        .then(response => {
          this.vendorsCount++;

          if (response.data.status) {
            this.user.wallet.deploy[vendor].amount = response.data.data.amount;
            //let self = this;
            //TweenLite.to(this.user.wallet.deploy[vendor], 0.5, {amount:response.data.data.amount,onComplete:function (){
            //  self.refreshPercents();
            //}});
            //this.user.wallet.deploy[vendor].amount = parseFloat(response.data.data.amount);
            this.refreshPercents();
            if (response.data.data.time) {
              this.user.wallet.sync = response.data.data.time;
            }
          }

          //console.log(this.vendorsCount);
          if (this.vendorsCount == this.user.vendorsCount) {
            //$toast.show('刷新完成');
            setTimeout(() => {
              if (this.$refs.scroller) this.$refs.scroller.finishPullToRefresh();
            });
            //this.$layer.msg('刷新完成');
            this.vendorsCount = 0;
            //this.buttonLoading = false;
          }
        }).catch(error => {
          //console.log('errorerrorerrorerrorerrorerror');
          console.log(error);
        });
    },
    refreshPercents() {
      var totalAmounts = 0;
      this.user.wallet.totalAmounts = 0;

      for (var key in this.user.wallet.deploy) {
        totalAmounts += parseFloat(this.user.wallet.deploy[key].amount);
      }
      this.user.wallet.totalAmounts = totalAmounts;

      for (var key in this.user.wallet.deploy) {
        //this.user.wallet.deploy[key].percent = Math.round( parseFloat(this.user.wallet.deploy[key].amount) / totalAmounts * 100);
        this.user.wallet.deploy[key].percent = Math.floor(parseFloat(this.user.wallet.deploy[key].amount) / totalAmounts * 10000) / 100;
      }


    },
  },
  created() {


    if (!this.user.wallet.refresh) {
      //this.refreshUserBalance();

      for (var key in this.config.vendors) {
        this.$set(this.user.wallet.deploy, this.config.vendors[key].value, { amount: 0, percent: 0 });

      }
      //console.log(this.user.wallet.deploy);
      for (var key in this.config.vendors) {
        this.refreshBalance(this.config.vendors[key].value);
      }
      this.user.vendorsCount = this.config.vendors.length;
      this.user.wallet.refresh = true;
    }


  }

}

</script>
<style>

.user-center{
  padding-bottom: 200px;
}
.user-center .header-bg {
  position: relative;
  height: 200px;
  height: 120px;

  /*background: linear-gradient(to left, #2dc1c9 0%, #2194c1 30%, #252d47 100%) center center no-repeat;*/

}

.user-center .header-bg:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  /*background-image: url(~assets/images/user-bg.jpg);*/
  /*background-size: cover;*/
  /*mix-blend-mode: hard-light;*/
}

.user-center .user-content {
  background: linear-gradient(-46deg, #161A1D, #272C30);
  margin: -105px 15px 0;
  color: #666;
  position: relative;
}

.user-center .user-content .user-logo {
  width: 60px;
  height: 60px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  left: 10px;
  position: absolute;
  z-index: 2;

  /*background: url(~assets/images/user/logo.png), linear-gradient(#eff7ff, #eff7ff);*/
  border-radius: 50%;
  background-size: contain;

  background-position: 50%;
  background-repeat: no-repeat;
  background-image: url(~assets/images/logo.png);
  background-size: 100% auto;
  background-color: rgba(255, 255, 255, .3);
}

.user-center .user-content .user-class {

  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  z-index: 2;
  width: 60px;
  background: linear-gradient(140deg, #4c0, #23550a);
  color: #fff;
  text-align: center;
  border-radius: 2px;
  top: 30px;
}


.user-center .user-content .user-name {
  font-size: 17px;
  color: #eee;
  height: 100%;
  display: flex;
  padding: 10px 10px 10px 80px;
  align-items: center;
}

.user-center .user-content .user-top-box {
  position: relative;
  color: #fff;
  border-radius: 8px;
  padding: 10px;
  margin-top: 10px;
  background: url(~assets/images/new/user/top-bg.png) center top no-repeat;
  background-size: cover;


}

.user-center .top-user-info{
  position: relative;
  /*background: url(~assets/images/new/user/top-bg-1.png) center top no-repeat;*/
  /*background-size: cover;*/

}

.user-center .top-user-info:before{
  content: "";
  padding-top: 22.73%;
  width: 100%;
  display: block;
}

.user-center .top-user-info .inner{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;


}

.user-center .user-content .user-top-box:before{
  content: "";
  padding-top: 44.3976%;
  display: block;
  width: 100%;
}

.user-center .user-content .user-top-box .inner{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 10px;


}

.user-center .user-content .user-top-box .inner{

}

.user-center .user-content .user-bottom-box {
  position: relative;
  background: rgba(20, 39, 50, .88);
  color: #fff;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, .11);
  padding: 10px;
  margin-top: 15px;
}



.user-center .user-content .user-top-box .wallet-box {
  width: 50%;
  padding: 0px;
}

.user-center .user-content .user-top-box .wallet-total-box {
  width: 50%;
  padding-left: 30px;
  border-left: 1px solid rgba(255, 255, 255, .11);
}

.user-center .user-content .divider {
  height: 1px;
  background-color: rgba(255, 255, 255, .11);
}

.user-center .user-content .row.money {
  padding: 5px 30px 10px;
}

.user-center .user-content .row .col-auto:nth-last-child(3),
.user-center .user-content .row .col-auto:nth-last-child(3)~.col-auto {
  position: relative;
  width: calc((100%)/ 3);
}

.user-center .user-content .col-auto .icon {
  width: 38px;
  height: 40px;
  display: block;
  margin: 8px auto;
}

.user-center .user-content .user-top-box .icon {

  background-size: contain;
  margin: 8px auto 0px;
}

.user-center .user-content .user-top-box .col-auto {
  color: #1AABF1;
}

.user-center .action-btns{
  margin-top: 10px;
  background: linear-gradient(180deg, rgba(35,42,47,1) 1%, rgba(44,49,56,1) 100%);
  box-shadow: 0px 2px 0px 0px #171723;
  border-radius: 8px;
}

.user-center .action-btns .van-cell{
  position: relative;
  background: none;
  color: #BBC5D1;

}

.user-center .action-btns .van-cell:after{
  background: linear-gradient(90deg, #2C3036, #0658C8, #2C3036);
  height: 1px;
  border: 0px;
  
}

.action-btns .van-cell__title{
  padding-left: 1em;
}

.action-btns .icon{
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-right: 2px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 80%;
  position: relative;
  top: 7px;

}



.icon-bet-log{
  background-image: url(~assets/images/new/user/bet-log-icon.png) 
}

.icon-transfer-log{
  background-image: url(~assets/images/new/user/transfer-icon.png) 
}

.icon-mail{
  background-image: url(~assets/images/new/user/email-icon.png) 
}

.icon-setting{
  background-image: url(~assets/images/new/user/setting-icon.png) 
}

.icon-security{
  background-image: url(~assets/images/new/user/security-icon.png) 
}

.icon-promotion{
}

.icon-logout{
  background-image: url(~assets/images/new/user/logout-icon.png) 
}

.icon.transfer {
  background: url(~assets/images/user/icon_transfer.png) no-repeat;
  background-size: cover;

}

.icon.deposit {
  background: url(~assets/images/user/icon_deposit.png) no-repeat;
  background-size: cover;

}

.icon.withdraw {
  background: url(~assets/images/user/icon_withdraw.png) no-repeat;
  background-size: cover;

}

.icon.betlog {
  background: url(~assets/images/user/icon_betlog.png) no-repeat;
  background-size: cover;

}

.icon.mail {
  background: url(~assets/images/user/icon_mail.png) no-repeat;
  background-size: cover;

}

.icon.transferlog {
  background: url(~assets/images/user/icon_transferlog.png) no-repeat;
  background-size: cover;

}

.icon.safe {
  background: url(~assets/images/user/icon_safe.png) no-repeat;
  background-size: cover;

}

.icon.help {
  background: url(~assets/images/user/icon_help.png) no-repeat;
  background-size: cover;

}

.icon.personal {
  background: url(~assets/images/user/icon_personal.png) no-repeat;
  background-size: cover;

}

.icon.promotion {
  background: url(~assets/images/user/icon_promotion.png) no-repeat;
  background-size: cover;

}

.icon.promotion2 {
  background: url(~assets/images/user/icon_promotion_02.png) no-repeat;
  background-size: cover;

}

.icon.logout {
  background: url(~assets/images/user/icon_logout.png) no-repeat;
  background-size: contain;

}

.user-bottom-box .von-badge {
  position: absolute;
  top: 10px;
  right: 20px;
}

</style>
