<template>
	<div class="page has-navbar" v-nav="{title: $route.name, showBackButton: true}">
		<div class="page-content wallet-page"><!-- padding-top-->

			<div class="item item-divider fs15">
				资产合计 <span class="link-color">${{ user.wallet.totalAmounts.toFixed(2) }}</span>
				
				<div class="pull-right fs15" @click="refreshAll">
					<yd-icon slot="icon" name="refresh" color="#409eff" size="15px"></yd-icon>
					<span style="color:#777">全部刷新</span>
				</div>
			</div>

			<list class="list-ios hl-list-borderless">
				<item class="item-icon-right"  v-for="item in config.vendors" @click.native="go2page('/user/transfer/' + item.value )">
					<img :src="item.icon" class="vendor-icon" /> {{item.label}}
					<span class="rmb-tip" @click.stop="currencyBox" v-if="['VG'].includes(item.value)">转入币值5:1</span>					
					<span class="item-note">{{ displayAmount(item.value) || '0.00' }}</span>
					<i class="icon ion-ios-arrow-right"></i>
				</item>
			</list>
				


		</div>
	</div>
</template>
<script>
import { mapGetters } from 'vuex'
import { globalMixin } from 'mixin.js'
import { apiGetBalance } from 'api.js'
export default {
	mixins: [globalMixin],
	data() {
		return {

			vendorsCount:0,
                
		}
	},
    components: {

    },
	computed:{

	},
	mounted() {

	},
    computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
			web: 'web',
		}),


	},
	methods: {
		refreshAll(){
			this.$dialog.loading.open('刷新中...请稍候');
			for (var key in this.config.vendors) {
				this.refreshBalance(this.config.vendors[key].value);
			}
		},
		displayAmount(args){
			if (this.user.wallet.deploy[args].message) {
				return this.user.wallet.deploy[args].message;
			}
			return '$' + parseFloat(this.user.wallet.deploy[args].amount).toFixed(2);

		},
		refreshBalance(vendor) {

			apiGetBalance(vendor)
				.then(response => {
					this.vendorsCount++;
					this.user.wallet.deploy[vendor].message = '';
					if (response.data.status) {
						this.user.wallet.deploy[vendor].amount = response.data.data.amount;
						//let self = this;
						//TweenLite.to(this.user.wallet.deploy[vendor], 0.5, {amount:response.data.data.amount,onComplete:function (){
						//	self.refreshPercents();
						//}});
						//this.user.wallet.deploy[vendor].amount = parseFloat(response.data.data.amount);
						if (response.data.data.message)	{
							this.user.wallet.deploy[vendor].message = response.data.data.message;
						}

						this.refreshPercents();
						if (response.data.data.time){
							this.user.wallet.sync = response.data.data.time;
						}
					}

					//console.log(this.vendorsCount);
					if (this.vendorsCount == this.user.vendorsCount) {
						setTimeout(() => {
							this.$dialog.loading.close();
						}, 200);
						this.vendorsCount = 0;
					}
				}).catch(error => {
					this.user.wallet.deploy[vendor].message = '维护中';
					console.log(error);
				});	
		},
		refreshPercents() {
				var totalAmounts = 0;
				this.user.wallet.totalAmounts = 0;

				for (var key in this.user.wallet.deploy) {
					totalAmounts += parseFloat(this.user.wallet.deploy[key].amount);
				}
				this.user.wallet.totalAmounts = totalAmounts;
				
				for (var key in this.user.wallet.deploy) {
					//this.user.wallet.deploy[key].percent = Math.round( parseFloat(this.user.wallet.deploy[key].amount) / totalAmounts * 100);
					this.user.wallet.deploy[key].percent =  Math.floor(parseFloat(this.user.wallet.deploy[key].amount) / totalAmounts * 10000) / 100;
				}


		},
	},
	created() {

		if (!this.user.wallet.refresh){
			//this.refreshUserBalance();
			
			for (var key in this.config.vendors) {
				this.$set(this.user.wallet.deploy, this.config.vendors[key].value, {amount:0,percent:0,message:''});

			}
			//console.log(this.user.wallet.deploy);
			for (var key in this.config.vendors) {
				this.refreshBalance(this.config.vendors[key].value);
			}
			this.user.vendorsCount = this.config.vendors.length;
			this.user.wallet.refresh = true;
		}

	}
	
}
</script>
<style>
.wallet-page .rmb-tip {
	background-color:#EA5A49;
	color:#fff;
	padding:2px 4px;border-radius:3px;
	font-size:13px;
	z-index:2;
}
.wallet-page .vendor-icon{
	vertical-align:middle;
	margin-right:8px;
	margin-left:0px;
	width:36px;
	height:36px;
	border: 1px solid #eee;
    border-radius: 50%;
}
.wallet-page .item.item-borderless.hl-item.item-icon-right {
	padding-top: 6px;
    padding-bottom: 6px;

}
.wallet-page .item.item-borderless.hl-item.item-icon-right .item-note {
    color: #999;
    margin-top: 12px;
    font-size: 14px;
}


</style>
