<template>
  <div class="page" v-nav="{hideNavbar: true}" v-tabbar="{'menus': web.tabbarMenus, menuColor: '#8E9DBF', activeMenuColor: '#1B96D3', onMenuClick: menuClicked}">
    <router-view v-if="isReloadAlive"></router-view>
  </div>
</template>
<script>
import "../../assets/sass/mobile-default.scss";
import { mapGetters } from 'vuex';
export default {
  provide() {
    return {
      reload: this.reload
    }
  },
  data() {
    return {
      isReloadAlive: true
    }
  },
  created() {},
  mounted() {


  },
  methods: {
    menuClicked(menuIndex) {
      //客服

      if (menuIndex == 3) {
        var url = 'https://line.me/ti/p/oR05flhyZ1';
        window.open(url, '', '');
        return false;
      }
      // console.log(menuIndex);
    },
    reload() {
      this.isReloadAlive = false;
      this.$nextTick(function() {
        this.isReloadAlive = true;
      })
    }
  },
  beforeDestroy() {
    //$tabbar.$emit('hideTabbar')
    document.querySelector('.tabbar').classList.remove("visible");
  },
  destroyed() {
    //    if (this.modal)
    //      $modal.destroy(this.modal)
  },
  computed: {
    ...mapGetters({
      config: 'config',
      user: 'user',
      web: 'web',
    }),
  }

}

</script>
<style>
.tabbar {
  z-index: 9 !important;
  opacity: 1 !important;
  bottom: -76px !important;
  transition: bottom .2s !important;
  -webkit-transition: bottom .2s !important;
}

.tabbar.visible {
  bottom: 0px !important;
}

.tabbar .tabbar-item .text-wrapper {
  font-size: 30px !important;

}

.tabbar .tabbar-item .icon-wrapper {
  font-size: 32px !important;
  height: 38px !important;
}

.tabbar .von-scalable-wrapper {
  margin-top: -1px !important;
}

</style>
