<template>
  <div class="banner">
    <swiper ref="mySwiper" :options="swiperOptions">
      <swiper-slide v-for="item in data" :key="item.id" class="item banner">
        <dl class="banner-content">
          <dt class="title" v-text="item.title"></dt>
          <dd
            class="img"
            :style="
              `background-image: url(${env.VUE_APP_SITE_URL}/uploads/${item.banner})`
            "
          ></dd>
        </dl>
      </swiper-slide>
    </swiper>
  </div>
</template>

<script>
import { Swiper, SwiperSlide } from "vue-awesome-swiper";
import "swiper/css/swiper.css";
import { mapGetters } from "vuex";

export default {
  name: "banner",
  components: {
    Swiper,
    SwiperSlide
  },
  props: ["data"],
  data() {
    return {
      swiperOptions: {
        effect: "coverflow",
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: "auto",
        coverflowEffect: {
          rotate: 50,
          stretch: 0,
          depth: 100,
          modifier: 1,
          slideShadows: true
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true
        }
      }
    };
  },
  computed: {
    ...mapGetters({
      env: "env"
    })
  }
};
</script>

<style lang="scss" scoped>
.banner {
  border-radius: 5px;
  overflow: hidden;
  .item {
    background: #1c1c1d;

    img {
      width: 100%;
    }
  }

  .banner-content {
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
    .img {
      width: 100%;
      background-size: cover;
      &:after {
        content: "";
        width: 100%;
        padding-top: 26.041%;
        display: block;
      }
    }
    .title {
      position: absolute;
      left: 0;
      top: 0;
      width: 30%;
      display: none;
    }
  }
}
</style>
