$baseIconColor: #1AABF1;
$main-color: #ccc;
$topBarBg: linear-gradient(to right, #252a35 0%, #181828 100%);
$bg: #162029;
$tabBg: #1e2732;
$tabActiveBg: #273342;
$itemBg: rgba(20,39,50,.88);
$itemBorderColor: rgba(255, 255, 255, .11);
$itemColor1: #1AABF1;
$itemColor2: #e1ebec;
$baseTextColor: #fff;
$btnBg: #1AABF1;
$btnColor1: #0b8d9b;

.block{
  margin-top: 10px;
}

.mobile-page-container{
  color: $baseTextColor;
}

.mobile-wrapper {
  position: relative;
  background: #252a35;
}

.mobile-header {
  background: #181828;
  .van-nav-bar--fixed {
    background: linear-gradient(to right, #252a35 0%, #181828 100%);
  }
  .van-nav-bar__title {
    color: $baseTextColor;
  }
  .van-nav-bar .van-icon {
    color: $baseIconColor;
    text-shadow: 0px 0px 9px rgba(255, 255, 255, 0.56);
  }
}

body {
  .page{
    // background: $bg;
    // background: linear-gradient(180deg, #161A1D 0%, #272C30 100%);
    background: linear-gradient(-46deg, #161A1D, #272C30);
  }

  // 內容
  .item-divider{
    background: #243644;
    color: $baseTextColor;

  }

  .item-note{
    color: $itemColor2;
  }

  .list{
    background: $itemBg;
    .item{
      color: $itemColor1;
      background: $itemBg;
    }

    .hairline-top:before,
    .hairline-bottom:after{
      background-color: $itemBorderColor;
    }
  }

  .yd-cell{
    background: $itemBg;
    .yd-cell-left{
      color: $itemColor1;
    }
    .yd-cell-item:not(:last-child):after{
      background-color: $itemBorderColor;
    }

    .yd-cell-right input{
      color: #727a80;
    }
  }
  // nav bar
  .bar.bar-header{
    // background: $topBarBg;
    background: linear-gradient(0deg, #232a2f, #292e33);
    box-shadow: 0px 4px 7px 1px #1B1F22;
    // border-color: rgba(255, 255, 255, .11);
    .title{
      color: $baseTextColor;
    }

    .button{
      color: $baseTextColor;
    }

    .link-color{
      color: $baseIconColor;
    }
  }
  .navbar{
    background: linear-gradient(0deg, #232a2f, #292e33);
    box-shadow: 0px 4px 7px 1px #1B1F22;
    .title{
      color: $baseTextColor;
    }
    .button{
      color: $baseTextColor;
    }
  }

  .button.button-positive{
    background: $btnBg;
    color: #fff
  }

  .cells{
    background: #21252f;

  }

  .step-box{
    .yd-step-item-bottom{
      color: #ccc;
    }

    em{
      background: #85bbbb;
    }
  }

  .tip-box{
    background: rgba(99, 99, 99, .1);
    padding: 15px;
    line-height: 1.5em;
    border-radius: .4rem;
    color: #ced879;
    p{
      padding-top: .5em;
    }
  }
}

.page-content{
  .tabs-striped .tabs{
    background: $tabBg;
    color: #98a5af;
    border-color: rgba(0, 0, 0, .1);
  }

  .tabs .tab-item{
    border-color: rgba(0, 0, 0, .1);
    &.active{
      border-color: #00dff8;
      border-bottom: 0px !important;
      background: $tabActiveBg;
    }


  }
}

body .page .page-content, .modal .page-content{
  background: none;
}

body .card, body .list-inset{
  background: #1e2732;
  color: #9fa5aa;

  .title{
    color: $baseTextColor;
  }
}

.mobile-footer{
  .van-tabbar {
    background: linear-gradient(to right, #252a35 0%, #181828 100%);
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    box-shadow: 0 0 0.1rem 0 rgba(255, 255, 255, 0.2);
    .van-tabbar-item--active {
      background: rgba(10, 60, 84, 0.2);
    }
    .van-tabbar-item {
      color: $main-color;
      // text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.4);
    }
  }
}

body > .tabbar{
  background: linear-gradient(0deg, rgba(219,225,236,1) 0%, rgba(35,42,47,1) 1%, rgba(44,49,56,1) 100%);
  box-shadow: 0px 0px 1px #fff;
  // border-top-left-radius: 0.4rem;
  // border-top-right-radius: 0.4rem;
  // box-shadow: 0 0 0.1rem 0 rgba(255, 255, 255, 0.2);
  overflow: hidden;

  .tabbar-item{
    padding: 4px 0 0px;
    font-size: 12px !important;
    // text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.4);
    box-sizing: border-box;

    .icon-wrapper{
      font-size: 23px !important;
      height: 30px !important;
      line-height: 25px;
    }
  }


}


.single-page-mode{
  .mobile-page-container{
    padding-top: 46px;
  }
}


// cell bg
.dark-theme{

  [class*=van-hairline]::after{
    border-color: #494a51;
  }

  .van-cell--clickable:active{
    background: rgba(0, 0, 0, .15);
  }
  // grid
  .van-grid-item__content{
    background: #22262f;
    color: #f3f6fd;
  }

  .van-grid-item__text{
    color: #fff;
    color: #aeafb2;
  }

  // cell
  .van-cell-group{
    background: rgba(0, 0, 0, .1);
  }
  .van-cell {
    background: none;
    color: #fff;
    &:after {
      border-color: #494a51;
    }

    .van-cell__right-icon {
      color: #494a51;
    }
  }

  // dropdown
  .van-dropdown-menu__bar{
    background: #22262f;
  }

  .van-dropdown-item{
    .van-popup{
      background: rgba(115, 115, 115, .25);

    }

  }

  .van-dropdown-menu__title{
    color: #aeafb2;
  }


  // form
  .van-field__control{
    color: #ccc;
  }

  .van-form{
    .van-cell{
      background: #22262f;

    }
  }

}


// slide left
.slide-left-enter-active {
  transition: all .5s ease;
}
.slide-left-leave-active {
  transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-left-enter {
  transform: translateX(100%);
  opacity: 0;
}

.slide-left-leave-to {
  transition: all 0.1s ease;
  opacity: 0;
}

// slide up
.slide-up-enter-active {
  transition: all 1s ease;
}
.slide-up-leave-active {
  transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-up-enter,
.slide-up-leave-to {
  transform: translateY(-53px);
  opacity: 0;
}

// slide down
.slide-down-enter-active {
  transition: all 1s ease;
}
.slide-down-leave-active {
  transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-down-enter,
.slide-down-leave-to {
  transform: translateY(53px);
  opacity: 0;
}

// Fade
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}
.fade-enter, .fade-leave-to
/* .component-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}